.meteor-status {
  z-index: 100;
}


#editors.hidden {
  display: none;
}

#mardown.hidden {
  /* display: none; */
  visibility: hidden;
}

.menu-container {
  position: fixed;
  width: 400px;
  max-width: 90%;
  max-height: 80%;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  overflow-y: auto;
  display: none;
  /* Masqué par défaut */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Au-dessus du contenu */
}

.table-of-contents-markdown li {
  list-style: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table-of-contents-markdown li:hover {
  background-color: #e0e0e0;
}

.table-of-contents-markdown li.active {
  color: gray;
  /* Couleur désactivée */
  cursor: not-allowed;
  /* Indiquer que l'élément n'est pas cliquable */
  font-style: italic;
  /* Style visuel supplémentaire */
}

.menu-container-view {
  position: fixed;
  width: 400px;
  max-width: 90%;
  max-height: 80%;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  overflow-y: auto;
  display: none;
  /* Masqué par défaut */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  /* Au-dessus du contenu */
}

.table-of-contents-html li {
  list-style: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.table-of-contents-html li:hover {
  background-color: #e0e0e0;
}

.table-of-contents-html li.active {
  color: gray;
  /* Couleur désactivée */
  cursor: not-allowed;
  /* Indiquer que l'élément n'est pas cliquable */
  font-style: italic;
  /* Style visuel supplémentaire */
}