<template name="listAttendees">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "attendees"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="listAttendeesView" data=events}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="listAttendeesSearch">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input id="search" type="text" placeholder="{{__ "Search"}}..." value="{{search}}">
  </label>
</template>

<template name="listAttendeesButtonBar">
  <div class="button-bar button-positive">
    {{> Button_toggle condition=(equals view 'all') classOff="button button-small all" classOn="button button-small all activated" iconOff="icon fa fa-th-list" iconOn="icon fa fa-th-list positive"}}
    {{> Button_toggle condition=(equals view 'citoyens') classOff="button button-small citoyens" classOn="button button-small citoyens activated" iconOff="icon fa fa-user" iconOn="icon fa fa-user positive"}}
    {{> Button_toggle condition=(equals view 'organizations') classOff="button button-small organizations" classOn="button button-small organizations activated" iconOff="icon fa fa-users" iconOn="icon fa fa-users positive"}}
    {{> Button_toggle condition=(equals view 'invite') classOff="button button-small button-invite invite" classOn="button button-small invite activated" iconOff="icon fa fa-send" iconOn="icon fa fa-send positive"}}

  </div>
</template>

<template name="listAttendeesView">
  <div class="list">
    {{> listAttendeesSearch}}
    {{> listAttendeesButtonBar}}
    {{#if equals view 'all'}}
      {{> listAttendeesValidate}}
      {{> listAttendeesOrgaValidate}}
      {{> listAttendeesIsInviting}}
    {{else}}
      {{#if equals view 'citoyens'}}
        {{> listAttendeesValidate}}
      {{/if}}
      {{#if equals view 'organizations'}}
        {{> listAttendeesOrgaValidate}}
      {{/if}}
      {{#if equals view 'invite'}}
        {{> listAttendeesIsInviting}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="listAttendeesValidate">
  {{#if countAttendeesValidate search}}
    <div class="item item-divider">
      <i class="icon fa fa-user"></i> {{__ "persons"}} <span
        class="badge badge-dark">{{countAttendeesValidate search}}</span>
    </div>
    {{> directoryList list=(listAttendeesValidate search) isConnect="isFollowersMe" person=true scope="citoyens" scopeCible=scopeVar scopeId=_id.valueOf isScopeAdmin=false}}
  {{/if}}
</template>

<template name="listAttendeesOrgaValidate">
  {{#if countAttendeesOrgaValidate search}}
    <div class="item item-divider">
      <i class="icon fa fa-users"></i> {{__ "organizations"}}<span
        class="badge badge-dark">{{countAttendeesOrgaValidate search}}</span>
    </div>
    {{> directoryList list=(listAttendeesOrgaValidate search) isConnect="isMembers" person=false scope="organizations" scopeCible=scopeVar scopeId=_id.valueOf isScopeAdmin=false}}
  {{/if}}
</template>

<template name="listAttendeesIsInviting">
  {{#if countAttendeesIsInviting search}}
    <div class="item item-divider">
      <i class="icon fa fa-send"></i> {{__ "guests"}} <span
        class="badge badge-dark">{{countAttendeesIsInviting search}}</span>
    </div>
    {{> directoryList list=(listAttendeesIsInviting search) isConnect="isFollowersMe" person=true scope="citoyens"}}
  {{/if}}
</template>