<template name="assignMembers">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ __ "Assign"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
        </label>

        {{#each listAssignActions search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assign}}
              <button class="button button-dark unassignmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assignmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="assignMembersModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{ __ "Assign"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}" autocomplete="off">
          {{#if search}}
            <button class="button button-clear button-positive assignmemberbysearch-js"><i
                class="icon fa fa-link"></i></button>
          {{else}}
            <button class="button button-clear disabled"><i class="icon fa fa-link"></i></button>
          {{/if}}
        </label>

        {{#if isSearchRole}}
          <div class="item item-divider">
            {{__ "roles"}}
          </div>
          {{#each listRolesSearch}}
            <div class="item item-icon-left item-positive searchroles-js">
              <i class="icon fa fa-users"></i> {{this}}
            </div>
          {{/each}}
        {{/if}}

        {{#each listAssignActions search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assign}}
              <button class="button button-dark unassignmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assignmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    </div>
  {{/ionModal}}
</template>

<template name="assignMembersTask">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ __ "Assign"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
        </label>

        {{#each listAssignActions search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assign}}
              <button class="button button-dark unassignmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assignmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="assignMembersTaskModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{ __ "Assign"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
        </label>

        {{#each listAssignActions search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assign}}
              <button class="button button-dark unassignmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assignmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    </div>
  {{/ionModal}}
</template>

<template name="assignMembersNote">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{ __ "Assign"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
          {{#if search}}
            <button class="button button-clear button-positive assignmemberbysearch-js"><i
                class="icon fa fa-link"></i></button>
          {{else}}
            <button class="button button-clear disabled"><i class="icon fa fa-link"></i></button>
          {{/if}}
        </label>

        {{#if isSearchRole}}
          <div class="item item-divider">
            {{__ "roles"}}
          </div>
          {{#each listRolesSearch}}
            <div class="item item-icon-left item-positive searchroles-js">
              <i class="icon fa fa-users"></i> {{this}}
            </div>
          {{/each}}
        {{/if}}

        {{#each listAssignNotes search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assign}}
              <button class="button button-dark unassignmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assignmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="assignMembersNoteModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{ __ "Assign"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        {{#if isCitoyen}}
          <label class="item item-input item-select">
            <div class="input-label">
              {{__ "organizations"}}
            </div>
            <select id="organization">
              <option value="">{{__ "Choose One"}}</option>
              {{#each listOrganizations}}
                <option value="{{_id.valueOf}}" selected="{{#if $eq _id.valueOf orgaCibleId}}true{{/if}}">{{name}}
                </option>
              {{/each}}
            </select>
          </label>
        {{/if}}

        {{#if orgaCibleId}}
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
            {{#if search}}
              <button class="button button-clear button-positive assignmemberbysearch-js"><i
                  class="icon fa fa-link"></i></button>
            {{else}}
              <button class="button button-clear disabled"><i class="icon fa fa-link"></i></button>
            {{/if}}
          </label>

          {{#if isSearchRole}}
            <div class="item item-divider">
              {{__ "roles"}}
            </div>
            {{#each listRolesSearch}}
              <div class="item item-icon-left item-positive searchroles-js">
                <i class="icon fa fa-users"></i> {{this}}
              </div>
            {{/each}}
          {{/if}}

          {{#each listAssignNotes search}}
            <div class="item item-avatar item-button-right">
              {{> imgDoc}}
              <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
              {{#if assign}}
                <button class="button button-dark unassignmember-js">
                  <i class="icon fa fa-unlink"></i>
                </button>
              {{else}}
                <button class="button button-positive assignmember-js">
                  <i class="icon ion-person-add"></i>
                </button>
              {{/if}}
            </div>
          {{/each}}
        {{/if}}

        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    </div>
  {{/ionModal}}
</template>