<template name="boutonCard">
  {{> Button_toggle id=id scope=scope isCall=isCall condition=isConnect classOff=classOff classOn=classOn iconOff=iconOff iconOn=iconOn titleOn=titleOn titleOff=titleOff connectType=connectType childType=childType childId=childId}}
</template>

<template name="chatPopoverLink">

  <button class="button chat-popover-js">
    <i class="icon fab fa-rocketchat"></i>
  </button>

</template>

<template name="chatPopoverList">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <div class="item item-divider">
          {{__ "Chat"}}
        </div>
        {{#each tools.chat.int}}
          {{> chatPopoverRedirectLink name=name scope=../scopeVar id=../_id.valueOf isAdmin=../isAdmin}}
        {{/each}}
        {{#each tools.chat.ext}}
        {{/each}}
      </div>
    </div>
  {{/ionPopover}}
</template>

<template name="chatCreateLink">

  <button class="button create-chat-admin-js">
    <i class="icon fab fa-rocketchat"></i>
  </button>

</template>

<template name="chatRedirectLink">

  <button class="button redirect-chat-js">
    <i class="icon fab fa-rocketchat"></i>
  </button>

</template>

<template name="chatPopoverRedirectLink">
  <div class="item item-button-right">
    <a href="{{meteorSettingsPublic.rocketchat.host}}{{url}}" class="positive redirect-chat-js">
      <i class="icon fab fa-rocketchat"></i>
      {{name}}
    </a>
    {{#if isAdmin}}
      <button class="button button-positive synchronize-user-chat-admin-js">
        <i class="icon fa fa-cog"></i>
      </button>
    {{/if}}
  </div>
</template>

<template name="chatPopoverRedirectLinkOld">
  <a href="{{meteorSettingsPublic.rocketchat.host}}{{url}}"
    class="item item-button-right redirect-chat-js popover-backdrop">
    <i class="icon fab fa-rocketchat"></i>
    {{name}}
  </a>
</template>