<template name="scopeCard">
  <div class="{{class}} cardDrop">
    {{#with scope}}
      <div class="item item-avatar item-text-wrap item-button-right">

        {{#if profilThumbImageUrl}}
          <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
        {{else}}
          {{> imgDoc imageDoc=imageDoc resized="50x50"}}
        {{/if}}

        <h2 class="homestead">{{htmlToText name}}</h2>

        {{#if equals scopeVar 'events'}}
          {{> scopeCreator organizer=organizerEvent creator=creatorProfile }}
          {{> scopeEventsParent eventsParent=eventsParent }}
        {{else if equals scopeVar 'projects'}}
          {{> scopeCreator organizer=organizerProject creator=creatorProfile }}
        {{else if equals scopeVar 'forms'}}
          {{> scopeCreator organizer=organizerForm creator=creatorProfile }}
        {{else}}
          {{#if creatorProfile}}
            <p>{{__ "creator"}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id.valueOf scope='citoyens'}}"
                class="positive">{{creatorProfile.name}}</a></p>
          {{/if}}
        {{/if}}

        {{#if typeValue}}{{typeValue}}{{/if}}
        {{#if isVisibleFields 'birthDate'}}
          {{#if birthDate}}
            <p><i class="icon fa fa-birthday-cake"></i> {{formatBirthDate}} ({{calculateAge birthDate}})</p>
          {{/if}}
        {{/if}}
        {{#unless ../shareVisible}}
          {{> actionSheet}}
        {{/unless}}
      </div>

      {{#unless equals scopeVar 'forms'}}
        <div class="item item-image">
          {{#if profilImageUrl}}
            {{#if isAdmin}}
              {{#unless ../shareVisible}}
                <a href="" class="photo-link-scope"><img src="{{urlImageCommunecter}}{{profilImageUrl}}"></a>
                {{> scopeFileUpload}}
              {{else}}
                <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
              {{/unless}}
            {{else}}
              <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
            {{/if}}
          {{else}}
            {{#if isAdmin}}
              {{#unless ../shareVisible}}
                <a href="" class="photo-link-scope">{{> imgDoc imageDoc=imageDoc resized="340x340"}}</a>
                {{> scopeFileUpload}}
              {{else}}
                {{> imgDoc imageDoc=imageDoc resized="340x340"}}
              {{/unless}}
            {{else}}
              {{> imgDoc imageDoc=imageDoc resized="340x340"}}
            {{/if}}
          {{/if}}
        </div>
      {{/unless}}

      {{#if equals scopeVar 'citoyens'}}

      {{else if equals scopeVar 'forms'}}
        <div class="item item-text-wrap">
          {{#transition in="slideInDown" out="slideOutUp"}}
            <div class="dark animated in">
              {{#if startDate}}
                {{#if startDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "start"}} :</div>
                    <div class="col">{{formatStartDate}}
                      <p>({{livestamp formatStartDateIso}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "end"}} :</div>
                    <div class="col">{{formatEndDate}}
                      <p>({{livestamp formatEndDateIso}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-time"></i> {{__ "duration"}} :</div>
                    <div class="col">{{duration}}</div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/transition}}
        </div>
      {{else}}
        <div class="item item-text-wrap">
          {{#transition in="slideInDown" out="slideOutUp"}}
            <div class="dark animated in">
              {{#if startDate}}
                {{#if startDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "start"}} :</div>
                    <div class="col">{{formatStartDate}}
                      <p>({{livestamp startDate}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-alarm-clock"></i> {{__ "end"}} :</div>
                    <div class="col">{{formatEndDate}}
                      <p>({{livestamp endDate}})</p>
                    </div>
                  </div>
                {{/if}}
                {{#if endDate}}
                  <div class="row row-center">
                    <div class="col-33"><i class="icon ion-android-time"></i> {{__ "duration"}} :</div>
                    <div class="col">{{diffInText startDate endDate}}</div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/transition}}
        </div>
      {{/if}}

      <div class="item item-text-wrap">
        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if shortDescription}}
            <p class="right-top animated in">{{{textTags shortDescription tags}}}</p>
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if description}}
            {{#if descriptionHTML}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{textTags description tags}}}</p>
            {{else}}
              <div class="right-top animated in" style="white-space: pre-line;">
                {{#markdown}}{{textTags description tags}}{{/markdown}}
              </div>
            {{/if}}
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if objectives}}
            <h3>{{__ "Objectives"}}</h3>
            {{#each objectives}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{this}}}</p>
            {{/each}}
          {{/if}}
        {{/transition}}

        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if actionDomains}}
            <h3>{{__ "Actions domains"}}</h3>
            {{#each actionDomains}}
              <p class="right-top animated in" style="white-space: pre-line;">{{{this}}}</p>
            {{/each}}
          {{/if}}
        {{/transition}}

        {{#if isVisibleFields 'locality'}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if address}}
              <p class="right-top animated in">
                {{#if address.streetAddress}}
                  {{address.streetAddress}}<br>
                {{/if}}
                {{address.postalCode}} {{address.addressLocality}}
              </p>
            {{/if}}
          {{/transition}}
        {{/if}}
      </div>

      {{#if socialNetwork}}
        <div class="button-bar bar-positive right-top animated in">
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.twitter}}
              <a href="{{socialNetwork.twitter}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-twitter"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.github}}
              <a href="{{socialNetwork.github}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-github"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.telegram}}
              <a href="{{socialNetwork.telegram}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-telegram"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.instagram}}
              <a href="{{socialNetwork.instagram}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-instagram"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.facebook}}
              <a href="{{socialNetwork.facebook}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-facebook"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.googleplus}}
              <a href="{{socialNetwork.googleplus}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-google-plus"></i></a>
            {{/if}}
          {{/transition}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if socialNetwork.skype}}
              <a href="{{socialNetwork.skype}}" class="button button-small right-top animated in"><i
                  class="icon fa fa-skype"></i></a>
            {{/if}}
          {{/transition}}
        </div>

      {{/if}}
      <div class="list">
        {{#if isVisibleFields 'email'}}
          {{#transition in="slideInDown" out="slideOutUp"}}
            {{#if email}}
              <a href="mailto:{{email}}" class="item item-icon-left right-top animated in"><i
                  class="icon fa fa-envelope"></i> {{email}}</a>
            {{/if}}
          {{/transition}}
        {{/if}}
        {{#transition in="slideInDown" out="slideOutUp"}}
          {{#if url}}
            <a href="{{url}}" class="item item-icon-left right-top animated in"><i class="icon fa fa-link"></i>
              {{url}}</a>
          {{/if}}
        {{/transition}}

        {{#if isVisibleFields 'phone'}}
          {{#if telephone}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.fixe}}
                {{#each telephone.fixe}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-phone"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.mobile}}
                {{#each telephone.mobile}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-mobile"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
            {{#transition in="slideInDown" out="slideOutUp"}}
              {{#if telephone.fax}}
                {{#each telephone.fax}}
                  <a href="tel:{{this}}" class="item item-icon-left right-top animated in">
                    <i class="icon fa fa-fax"></i> {{this}}
                  </a>
                {{/each}}
              {{/if}}
            {{/transition}}
          {{/if}}
        {{/if}}

      </div>

      {{#transition in="slideInLeft" out="slideOutLeft"}}
        {{#if tags}}
          <div class="item item-text-wrap animated in">
            <p>
              {{#each tags}}
                <span class="badge-simple badge-dark margin animated in"><i class="icon fa fa-tag"></i>
                  {{this}}</span>
              {{/each}}
            </p>
          </div>
        {{/if}}
      {{/transition}}

      {{#if equals scopeVar 'events'}}
        <div class="item tabs tabs-secondary tabs-icon-left">
          {{#if isVisibleFields 'locality'}}
            {{#if geo}}<a class="tab-item" href="{{pathFor 'mapWith' _id=_id.valueOf scope=scopeVar}}"><i
                  class="icon ion-ios-location"></i></a>{{/if}}
          {{/if}}
        </div>
      {{/if}}

      {{#unless equals scopeVar 'forms'}}

        {{#if equals scopeVar 'projects'}}
          <a href="" class="item item-positive board-users-actions-modal-js"><i class="fa fa-chart-line"></i>
            {{__ "Action Dashboard"}}</a>
        {{/if}}
        {{#if equals scopeVar 'organizations'}}
          <a href="" class="item item-positive board-users-actions-modal-js"><i class="fa fa-chart-line"></i>
            {{__ "Action Dashboard"}}</a>
        {{/if}}

      {{/unless}}

    {{/with}}

  </div>
</template>

<template name="scopeBoardActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Action Dashboard"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      {{#if dataReady}}

        <div class="list">
          <div class="item item-light">
            <button
              class="button button-block button-positive board-users-actions-update-js {{#if isCall}}disabled{{/if}}">
              {{#if isCall}}
                <i class="icon fa fa-refresh fa-spin"></i> {{__ "Refresh the dashboard"}}
              {{else}}
                <i class="icon fa fa-refresh"></i> {{__ "Refresh the dashboard"}}
              {{/if}}
            </button>
          </div>
          {{#if dataReady}}
            {{#transition in="zoomIn" out="bounceOut"}}

              {{#if actionsCount.all}}
                <div class="item item-divider">
                  <h2><i class="fa fa-chart-line"></i> {{__ "Action Dashboard"}}</h2>
                </div>
                {{#if actionsCount.totalCreditsTodo}}
                  <div class="item">
                    {{__ "Total actions todo"}} <strong>{{actionsCount.totalCreditsTodo}}</strong>
                    {{#if settingOceco.account}}
                      {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
                    {{else}}
                      R
                    {{/if}}
                  </div>
                {{/if}}
                {{#if actionsCount.totalCreditsDone}}
                  <div class="item">
                    {{__ "Total actions done"}} <strong>{{actionsCount.totalCreditsDone}}</strong>
                    {{#if settingOceco.account}}
                      {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
                    {{else}}
                      R
                    {{/if}}
                  </div>
                {{/if}}
                <div class="">
                  <div class="row">
                    <div class="col col-25 col-center"><a href="" class="dark history-actions-modal-js" data-etat="all"
                        data-dismiss="modal">Total</a></div>
                    <div class="col col-20 col-center text-center">{{actionsCount.all}}</div>
                    <div class="col col-center text-center">
                      <div class="progress-bar">
                        <span class="progress-bar-fill progress-bar-fill-dark" style="width: 100%;">100%</span>
                      </div>
                    </div>
                  </div>
                  {{> scopeBoardActionsItemModal _id=_id scope=scope count=actionsCount.todo all=actionsCount.all countTodo=actionsCount.countTodo label=(__ "todo") status="todo" classBar="progress-bar-stable" classFill=""}}
                  {{> scopeBoardActionsItemModal _id=_id scope=scope count=actionsCount.done all=actionsCount.all countTodo=actionsCount.countTodo label=(__ "done") status="done" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
                  {{> scopeBoardActionsItemModal _id=_id scope=scope count=actionsCount.disabled all=actionsCount.all countTodo=actionsCount.countTodo label=(__ "disabled") status="disabled" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
                  {{> scopeBoardActionsItemModal count=actionsCount.contributors all=actionsCount.all countTodo=actionsCount.countTodo label="Assignées" status="contributors" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
                  {{> scopeBoardActionsItemModal count=actionsCount.toValidated all=actionsCount.all countTodo=actionsCount.countTodo label="En cours (à valider)" status="toValidated" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
                </div>
              {{/if}}

              {{#each item in listMembersCount}}

                <div class="item item-divider item-light">
                  <h2><i class="fa fa-user"></i> <a href="" class="dark history-actions-modal-js" data-etat="all"
                      data-search="@{{item.userName}}" data-dismiss="modal">{{item.name}}</a></h2> <span
                    class="badge badge-stable">{{item.all}}</span>
                </div>

                <div class="">
                  {{> scopeBoardUserActionsItemModal count=item.validated all=item.all label="Valider" status="validated" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
                  {{> scopeBoardUserActionsItemModal count=item.novalidated all=item.all label="Refuser" status="novalidated" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
                  {{> scopeBoardUserActionsItemModal count=item.inProgress all=item.all label="En cours" status="inProgress" classBar="progress-bar-stable" classFill=""}}
                  {{> scopeBoardUserActionsItemModal count=item.toModerate all=item.all label="A valider" status="toModerate" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
                </div>

              {{else}}

              {{/each}}
            {{/transition}}
          {{/if}}
        </div>
      {{else}}
        <div class="list">
          {{> loading}}
        </div>
      {{/if}}

    </div>
  {{/ionModal}}

</template>

<template name="scopeBoardUserActionsItemModal">

  <div class="row">
    <div class="col col-25 col-center">{{label}}</div>
    <div class="col col-20 col-center text-center">{{count}}</div>
    <div class="col col-center text-center">
      <div class="progress-bar {{classBar}}">
        <span class="progress-bar-fill {{classFill}}"
          style="width: {{pourUserActionsStatus all count}}%;">{{pourUserActionsStatus all count}}%</span>
      </div>
    </div>
  </div>

</template>

<template name="scopeBoardActionsItemModal">

  <div class="row">
    <div class="col col-25 col-center">{{#if _id}}<a href="" class="dark history-actions-modal-js"
          data-etat="{{status}}">{{label}}</a>
      {{else}}{{label}}{{/if}}
    </div>
    <div class="col col-20 col-center text-center">{{count}}</div>
    <div class="col col-center text-center">
      <div class="progress-bar {{classBar}}">
        <span class="progress-bar-fill {{classFill}}"
          style="width: {{pourActionsStatus all count countTodo status}}%;">{{pourActionsStatus all count countTodo status}}%</span>
      </div>
    </div>
  </div>

</template>

<template name="scopeBoardActions">
  {{#if countActionsStatus 'all'}}
    <div class="item item-divider">
      <h2><i class="fa fa-chart-line"></i> {{__ "Action Dashboard"}}</h2>
    </div>
    <div class="">
      <div class="row">
        <div class="col col-25 col-center">Total</div>
        <div class="col col-20 col-center text-center">{{countActionsStatus 'all'}}</div>
        <div class="col col-center text-center">
          <div class="progress-bar">
            <span class="progress-bar-fill progress-bar-fill-dark" style="width: 100%;">100%</span>
          </div>
        </div>
      </div>
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "todo") status="todo" classBar="progress-bar-stable" classFill=""}}
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "done") status="done" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label=(__ "disabled") status="disabled" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label="Assignées" status="contributors" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=_id scope=scope label="En cours (à valider)" status="toValidated" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
    </div>
  {{/if}}
</template>

<template name="scopeBoardActionsItem">
  {{#unless noVisible}}
    <div class="row">
      <div class="col col-25 col-center">{{label}}</div>
      <div class="col col-20 col-center text-center">{{countActionsStatus status}}</div>
      <div class="col col-center text-center">
        <div class="progress-bar {{classBar}}">
          <span class="progress-bar-fill {{classFill}}"
            style="width: {{pourActionsStatus 'all' status}}%;">{{pourActionsStatus 'all' status}}%</span>
        </div>
      </div>
    </div>
  {{/unless}}
</template>

<template name="scopeBoardUserActions">
  {{#if countUserActionsStatus 'all' userId}}
    <div class="item item-divider item-light">
      <h2 class="searchuser-js"><i class="fa fa-user"></i> {{userItem.name}}</h2> <span
        class="badge badge-stable">{{countUserActionsStatus 'all' userId}}</span>
    </div>

    <div class="">
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="Valider" status="validated" classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="Refuser" status="novalidated" classBar="progress-bar-stable" classFill="progress-bar-fill-assertive"}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="En cours" status="inProgress" classBar="progress-bar-stable" classFill=""}}
      {{> scopeBoardUserActionsItem _id=_id scope=scope userId=userId label="A valider" status="toModerate" classBar="progress-bar-stable" classFill="progress-bar-fill-energized"}}
    </div>
  {{/if}}
</template>

<template name="scopeBoardUserActionsItem">
  {{#if countUserActionsStatus status userId}}
    <div class="row">
      <div class="col col-25 col-center">{{label}}</div>
      <div class="col col-20 col-center text-center">{{countUserActionsStatus status userId}}</div>
      <div class="col col-center text-center">
        <div class="progress-bar {{classBar}}">
          <span class="progress-bar-fill {{classFill}}"
            style="width: {{pourUserActionsStatus 'all' status userId}}%;">{{pourUserActionsStatus 'all' status userId}}%</span>
        </div>
      </div>
    </div>
  {{/if}}
</template>

<template name="scopeHistoryActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Action history"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        {{>searchActions}}

        {{#each item in scope.listActionsCreator 'all' etat search searchSort}}

          {{> itemInputAction action=item viewScope=scopeVar dataContext=true}}

        {{else}}

          <div class="item text-center">
            {{__ "No results"}}
          </div>

        {{/each}}

        {{#if dataReady}}
          {{#if isLimit (scope.countActionsCreator 'all' etat search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    </div>
  {{/ionModal}}

</template>

<template name="scopeCreator">
  {{#if organizer}}
    <p>{{__ "organizer"}} :
      {{#each organizerItem in organizer}}
        {{#each organizerItemValue in organizerItem.values}}
          <a href="{{pathFor 'detailList' _id=organizerItemValue._id.valueOf scope=organizerItem.type}}"
            class="positive">{{htmlToText organizerItemValue.name}}</a>
        {{/each}}
      {{/each}}
    </p>
  {{else}}
    {{#if creatorProfile}}
      <p>{{__ "creator"}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id.valueOf scope='citoyens'}}"
          class="positive">{{htmlToText creatorProfile.name}}</a></p>
    {{/if}}
  {{/if}}
</template>

<template name="scopeEventsParent">
  {{#if eventsParent}}
    <p>{{__ "on the program of"}} :
      {{#each organizerItem in eventsParent}}
        {{#each organizerItemValue in organizerItem.values}}
          <a href="{{pathFor 'detailList' _id=organizerItemValue._id.valueOf scope=organizerItem.type}}"
            class="positive">{{organizerItemValue.name}}</a>
        {{/each}}
      {{/each}}
    </p>
  {{/if}}

</template>

<template name="scopeFileUpload">
  <form>
    <input type="file" id="file-upload" accept="image/*" style="display: block; opacity: 0;width:0px;height:0px;">
    <input type="text" id="hiddenPasteArea" style="opacity: 0; position: absolute; top: -1000px;">
  </form>
</template>