.toast {
  z-index: 9999;
}

.toast-section {
  cursor: default;
  font-size: 1em;
  // display: none;
  border-radius: 5px;
  opacity: 1;
  padding: 10px 30px 10px 10px;
  margin: 10px;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  @include item-style($item-dark-bg, $item-dark-border, $item-dark-text);


  // Start hidden
  visibility: hidden;

  &.toast-showing {
    visibility: visible;
  }


  &.toast-hidden {
    @include animation-name(scaleOut);
    @include animation-duration($popup-leave-animation-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }

  &.active {
    @include animation-name(superScaleIn);
    @include animation-duration($popup-enter-animation-duration);
    @include animation-timing-function(ease-in-out);
    @include animation-fill-mode(both);
  }

  &.toast-top {
    top: 10px;
  }

  &.toast-middle {
    top: 40%;
  }

  &.toast-bottom {
    bottom: 10px;
  }

  &.toast-success {
    @include item-style($item-balanced-bg, $item-balanced-border, $item-balanced-text);
  }

  &.toast-error {
    @include item-style($item-assertive-bg, $item-assertive-border, $item-assertive-text);
  }

  &.toast-info {
    @include item-style($item-calm-bg, $item-calm-border, $item-calm-text);
  }

  &.toast-warning {
    @include item-style($item-energized-bg, $item-energized-border, $item-energized-text);
  }

  &.toast-progress {
    @include item-style($item-dark-bg, $item-dark-border, $item-dark-text);
  }



}

.toast-close {
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 20px;
  height: 20px;
}

.toast-close-icon {
  position: relative;
  top: 1px;
}

.toast-sticky .toast-close {
  display: block;
}

.toast-close:active {
  //
}


.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}