<template name="adminDashboard">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title"> {{__ "Admin"}} </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#if dataReady}}
        <div class="list">
          <div class="item item-light item-divider"><i class="icon ion-compose"></i> Admin</div>
          <div class="item item-dark item-text-wrap item-button-right">
            {{__ "Application management"}}
            {{#if isAdminOrga}}
              <a href="{{pathFor 'ocecoEdit' orgaCibleId=scope._id.valueOf}}" class="button button-positive"><i
                  class="icon fa fa-cog"></i> </a>
            {{/if}}
          </div>

          {{#if dataReady}}

            {{#if settingOceco.organizationAction}}
              {{#if isAdminOrga}}
                <div class="button-bar bar-positive">
                  <a href="{{pathFor 'actionsAdd' _id=scope._id.valueOf scope='organizations'}}"
                    class="button button-positive"><i class="icon fa fa-plus"></i>
                    {{__ "Add an organization action"}}</a>
                </div>
              {{/if}}
            {{/if}}
            <div class="item tabs">
              <div class="tabs tabs-striped">
                <a class="tab-item {{#if equals selectview 'aValider'}}tab-item-active{{/if}} change-selectview-js"
                  id="aValider">{{__ "To validate"}}</a>
                <a class="tab-item {{#if equals selectview 'projets'}}tab-item-active{{/if}} change-selectview-js"
                  id="projets">{{__ "project" count=2}}</a>
                <a class="tab-item {{#if equals selectview 'events'}}tab-item-active{{/if}} change-selectview-js"
                  id="events">{{__ "events"}}</a>
                <a class="tab-item {{#if equals selectview 'actions'}}tab-item-active{{/if}} change-selectview-js"
                  id="actions">{{__ "actions"}}</a>
                {{#if isAdminOrga}}
                  <a href="{{pathFor 'listMembers' orgaCibleId=scope._id.valueOf}}"
                    class="tab-item">{{__ "members"}}</a>
                {{else}}
                  {{#if settingOceco.membersAdminProjectAdmin}}
                    {{#if isAdminRaf}}
                      <a href="{{pathFor 'listMembers' orgaCibleId=scope._id.valueOf}}"
                        class="tab-item">{{__ "members"}}</a>
                    {{/if}}
                  {{/if}}
                {{/if}}
              </div>
            </div>

            {{#if equals selectview 'aValider'}}
              <div class="item item-divider">{{__ "To validate"}}</div>
              <div class="item item-text-wrap">{{__ "List of actions to validate"}}</div>

              {{> Template.dynamic template="listProjectsAValiderRaf" data=scope}}

            {{else if equals selectview 'projets'}}

              {{> Template.dynamic template="listProjectsRaf" data=scope}}

            {{else if equals selectview 'events'}}

              {{> Template.dynamic template="listProjectsEventsRaf" data=scope}}

            {{else if equals selectview 'actions'}}

              {{> Template.dynamic template="listProjectsEventsActionsRaf" data=scope}}

            {{/if}}

          {{/if}}
        </div>

      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="actionToValidate">

</template>

<template name="adminButton">
  <button class="button {{class}}" usrId="{{user._id.valueOf}}" actionId="{{action._id.valueOf}}"><i
      class="{{icon}}"></i>
    {{title}}</button>
</template>

<template name="listProjectsAValiderRaf">

  <div class="item item-stable item-text-wrap item-button-right">
    {{{__ "Finish or Validate all users of all actions"}}}
    <div class="multi-buttons">
      {{> adminButton class="button-stable admin-all-actions-all-finish-js" icon="fa fa-user-check balanced" organization=this}}
      {{> adminButton class="button-stable admin-all-actions-all-validate-js" icon="icon fa fa-check balanced" organization=this}}
    </div>
  </div>

  {{#each action in listProjectsEventsActionsCreator}}
    {{#if equals action.parentType 'events'}}
      {{#if isValidatedContributor action}}

        <div class="item item-stable item-text-wrap item-button-right">
          <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
            class="positive">
            {{action.name}}
          </a>
          {{#unless action.options.creditSharePorteur}}
            <div class="multi-buttons">
              {{> adminButton class="button-stable admin-all-validate-js" icon="icon fa fa-check balanced" organization=this action=action}}
            </div>
          {{/unless}}
          <p>
            {{__ "countFinishedBy on countContributors to validate count participant" countFinishedBy=(numberTovalidate action.finishedBy) count=action.countContributors }}
          </p>

          <p><span class="positive bold">{{htmlToText action.parentScope.name}}</span></p>
          {{#if action.startDate}}
            <p>
              {{> actionDate action=action}}
            </p>
          {{/if}}
        </div>

        {{#if numberTovalidate action.finishedBy}}

          {{#each user in userTovalidate action.finishedBy}}
            <div class="item item-button-right">
              <h2>{{user.name}}</h2>
              <div class="multi-buttons">
                {{> adminButton class="button-stable admin-creditsdistributed-js" icon="icon fa fa-check balanced" organization=this user=user action=action}}
                {{> adminButton class="button-stable admin-no-validation-js" icon="icon fa fa-remove positive" organization=this user=user action=action}}
              </div>
            </div>
          {{/each}}

        {{/if}}

        {{#each contributor in action.listContributors}}

          {{#if action.userTovalidate contributor._id.valueOf}}

          {{else if action.userIsValidated contributor._id.valueOf}}

          {{else if action.userIsNoValidated contributor._id.valueOf}}

          {{else}}
            <div class="item item-button-right">
              <h2>{{contributor.name}}</h2>
              <div class="multi-buttons">
                {{> adminButton class="button-stable admin-sortir-action-js" icon="fa fa-user-times positive" organization=this user=contributor action=action}}
                {{> adminButton class="button-stable admin-finish-action-js" icon="fa fa-user-check balanced" organization=this user=contributor action=action}}
              </div>
            </div>

          {{/if}}

        {{/each}}
      {{/if}}

    {{else}}
      {{#if numberTovalidate action.finishedBy}}
        <div class="item item-stable item-text-wrap item-button-right">
          <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
            class="positive">
            {{action.name}}
          </a>
          {{#unless action.options.creditSharePorteur}}
            <div class="multi-buttons">
              {{> adminButton class="button-stable admin-all-validate-js" icon="icon fa fa-check balanced" organization=this action=action}}
            </div>
          {{/unless}}
          <p>
            {{__ "countFinishedBy on countContributors to validate count participant" countFinishedBy=(numberTovalidate action.finishedBy) count=action.countContributors }}
          </p>
          <p><span class="positive bold">{{htmlToText action.parentScope.name}}</span></p>
        </div>

        {{#each user in userTovalidate action.finishedBy}}
          <div class="item item-button-right">
            <h2>{{user.name}}</h2>
            <div class="multi-buttons">
              {{> adminButton class="button-stable admin-creditsdistributed-js" icon="icon fa fa-check balanced" organization=this user=user action=action}}
              {{> adminButton class="button-stable admin-no-validation-js" icon="icon fa fa-remove positive" organization=this user=user action=action}}
            </div>
          </div>
        {{/each}}

      {{/if}}
      {{#if validateEqualContributor action}}
        <div class="item item-stable item-text-wrap item-button-right">
          <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
            class="positive">
            {{action.name}}
          </a>
          <div class="multi-buttons">
            {{> buttonActionItem action="done" scopeId=action.parentId scope=action.parentType actionId=action._id.valueOf texte=(__ "dda.actions.buttons.close") icon="fa fa-thumbs-up balanced" class="action-action-js"}}
          </div>
          <p><span class="positive bold">{{htmlToText action.parentScope.name}}</span></p>
        </div>

        {{#each contributor in action.listContributors}}

          {{#if action.userIsValidated contributor._id.valueOf}}
            <div class="item item-button-right">
              <h2>{{contributor.name}}</h2>
            </div>
          {{/if}}

        {{/each}}
      {{/if}}

    {{/if}}

  {{/each}}

</template>

<template name="creditsDistributed">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Validation"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-text-wrap item-divider">
          {{__ "Validation of the action"}}
          <spans class="positive">{{action.name}}</spans>
        </div>
        <div class="item item-text-wrap">
          {{__ "This action lasts"}}
          <spans class="positive">{{action.actionStartFromEnd}}</spans>
        </div>
        {{#autoForm id="validateUserActions" schema=SchemasValidateUserActionsRest type="method" meteormethod="validateUserActions" singleMethodArgument=true template="ionic"}}

          {{#if action.options.creditSharePorteur}}
            <div class="item item-text-wrap item-divider">
              <strong>{{__ "Shared credit action"}}</strong> :
              {{{__ "there are count participant in this action" count=action.countContributors}}}
              {{{__ "each participant can win count" count=action.creditPartage credits=action.credits}}}
            </div>
            <div class="item item-text-wrap item-divider">
              {{{__ "user will win" user=user.name}}}
              {{#if diffCredits}}
                {{{__ "changeCredit for this action instead of credit" count=changeCredits credit=action.creditPartage}}}
              {{else}}
                {{{__ "count credit for this action" count=action.creditPartage}}}
              {{/if}}
            </div>
            {{> afQuickField name='credits' min="1" step="1" value=action.creditPartage}}
          {{else}}
            <div class="item item-text-wrap item-divider">
              {{{__ "user will win" user=user.name}}}
              {{#if diffCredits}}
                {{{__ "changeCredit for this action instead of credit" count=changeCredits credit=action.credits}}}
              {{else}}
                {{#if action.options.creditAddPorteur}}
                  {{{__ "count credit he offered for this action" count=action.credits}}}
                {{else}}
                  {{{__ "count credit for this action" count=action.credits}}}
                {{/if}}
              {{/if}}
            </div>
            {{> afQuickField name='credits' min="0" step="1" value=action.credits}}
          {{/if}}

          {{#if diffCredits}}
            <div class="item item-text-wrap item-divider">
              {{{__ "Indicate the reason why the number of credits given to use does not correspond to those of the action" user=user.name}}}
            </div>
            {{> afQuickField name='commentaire' label-type='stacked' rows=8}}
          {{/if}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "Validate"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="listProjectsRaf">

  <div class="item item-divider">
    <i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=countProjectsCreatorAdmin}}<span
      class="badge badge-dark">{{countProjectsCreatorAdmin}}</span>
  </div>
  {{#if isAdminOrga}}
    <div class="button-bar bar-positive">
      <a href="{{pathFor 'projectsAdd' _id=_id.valueOf scope='organizations'}}" class="button button-small"><i
          class="fa fa-plus"></i> {{__ "Add project"}}</a>
    </div>
  {{/if}}
  <div class="item item-text-wrap">{{__ "Project management"}}</div>

  {{> directoryList_projects list=listProjectsCreatorAdmin scope="projects"}}

</template>

<template name="directoryList_projects">
  {{#each item in list}}
    {{> directoryItem_projects item=item scope=scope }}
  {{/each}}
</template>

<template name="directoryItem_projects">
  <div class="item item-avatar item-content item-button-right">
    {{> imgDoc profilThumbImageUrl=item.profilThumbImageUrl}}
    <h2><a href="{{pathFor 'detailList' _id=item._id.valueOf scope=scope}}" class="dark">{{htmlToText item.name}}</a>
    </h2>
    <a href="{{pathFor 'eventsAdd' _id=item._id.valueOf scope='projects'}}" class="button button-positive"><i
        class="icon fa fa-plus"></i></a>
  </div>
</template>

<template name="listProjectsEventsRaf">
  <div class="item item-divider">
    <i class="icon fa fa-calendar"></i> {{__ "events"}} <span
      class="badge badge-dark">{{countProjectsEventsCreatorAdmin1M}}</span>
  </div>
  <div class="item item-text-wrap">{{__ "Event management"}}</div>

  {{> directoryList_projects_events list=listProjectsEventsCreatorAdmin1M scope="events"}}

</template>

<template name="directoryList_projects_events">
  {{#each item in list}}
    {{> directoryItem_projects_events item=item scope=scope }}
  {{/each}}
</template>

<template name="directoryItem_projects_events">
  <div class="item {{#if item.profilThumbImageUrl}}item-avatar{{/if}} item-content item-button-right">
    {{#if item.profilThumbImageUrl}}
      {{> imgDoc profilThumbImageUrl=item.profilThumbImageUrl}}
    {{/if}}
    <h2><a href="{{pathFor 'detailList' _id=item._id.valueOf scope=scope}}" class="dark">{{item.name}}</a></h2>
    <p><span><i class="ion-android-calendar"></i> {{item.formatStartDate}}</span></p>
    {{#if item.isNotEndDate}}
      <a href="{{pathFor 'actionsAdd' _id=item._id.valueOf scope='events'}}" class="button button-positive"><i
          class="icon fa fa-plus"></i></a>
    {{/if}}

  </div>
</template>

<template name="listProjectsEventsActionsRaf">
  <div class="item item-divider">
    <i class="icon fa fa-calendar"></i> {{__ "actions"}} {{#if isAdminOrga}}<span
        class="badge badge-dark">{{countActions}}</span>{{/if}}
  </div>
  <div class="item item-text-wrap">{{__ "Action management"}}</div>

  {{> directoryList_projects_events_action list=(listProjectsEventsActionsCreatorAdmin 'all' limit)  scope="actions"}}

  {{#if dataReady}}
    {{#if isLimit countActions}}
      <div class="padding">
        <button id="showMoreResults" class="button button-block button-dark give-me-more">
          {{__ "more"}}...
        </button>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="directoryList_projects_events_action">
  {{#each item in list}}
    {{> directoryItem_projects_events_action item=item scope=scope }}
  {{/each}}
</template>

<template name="directoryItem_projects_events_actionold">
  <div class="item item-content">
    <h2><a
        href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=item.parentId scope=item.parentType roomId=item.idParentRoom actionId=item._id.valueOf}}"
        class="dark">{{item.name}}</a></h2>
  </div>
</template>

<template name="directoryItem_projects_events_action">
  {{> itemInputAction action=item viewParent=true}}
</template>