<template name="camera-page">
  {{> camera}}
</template>

<template name="layout">
  {{#ionBody}}

    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-stable">
            {{#if currentUser}}
              <a class="button button-clear pull-left" href="{{pathFor 'signOut'}}" data-ion-menu-close>
                <i class="icon fa fa-sign-out"></i>
              </a>
            {{/if}}
            <h1 class="title">OCECO</h1>
            <button class="button button-clear pull-right" data-ion-menu-close>
              <i class="icon ion-ios-arrow-right"></i>
            </button>
          </div>
          <div class="content has-header">
            <div class="list">
              {{#if currentUser}}
                <div
                  class="item item-borderless item-stable {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}item-avatar{{/if}}">
                  {{#if currentUser.profile.pixelhumain.profilThumbImageUrl}}
                    {{> imgDoc profilThumbImageUrl=currentUser.profile.pixelhumain.profilThumbImageUrl}}
                  {{/if}}
                  <h2><a href="{{pathFor 'actionsList' _id=currentUser._id scope='citoyens'}}" class="positive"
                      data-ion-menu-close>{{currentUser.profile.pixelhumain.name}}</a></h2>
                  <p>{{currentUser.profile.pixelhumain.email}}</p>
                </div>
                <a class="item item-borderless item-stable item-icon-right" href="{{pathFor 'notifications'}}"
                  data-ion-menu-close>{{__ "Notifications"}} <span
                    class="badge badge-positive">{{#if notificationsCount}}{{notificationsCount}}{{else}}0{{/if}}</span></a>

                {{#if orgaCibleId}}
                  {{> orgaBloc scope=scope}}
                  {{#if scope.maitreName}}
                    {{> orgaMaitre scope=scope.maitreName}}
                  {{/if}}
                  {{>account scope=scope.maitre}}
                {{/if}}

                <a class="item item-borderless item-stable item-icon-right" href="{{pathFor 'switch'}}"
                  data-ion-menu-close>{{__ "Change organization"}} <i class="icon fa fa-repeat"></i></a>

                {{#if notCordova}}
                  {{#if isMobile}}

                  {{else}}
                    {{> podomoroPlayer}}
                  {{/if}}

                {{/if}}

                {{> switchListFavoris}}

                {{>filehandler}}

              {{/if}}
            </div>
          </div>
        {{/ionSideMenu}}

        {{#ionSideMenu side="right"}}
          <div class="bar bar-header bar-stable">
            <button class="button button-clear pull-left" data-ion-menu-close>
              <i class="icon ion-ios-arrow-left"></i>
            </button>
            <h1 class="title"><i class="icon ion-android-notifications"></i> {{__ "notifications"}}</h1>
          </div>
          <div class="content has-header">

            {{> notificationsListSwipMenu notifications=notifications allReadChecked=(allReadChecked notificationsCountRead)}}

          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-stable"}}

        {{#ionNavView}}
          {{> yield}}

          {{#if isConnected}}
            {{#if scope.isMembers}}
              {{#if orgaCibleId}}
                {{#if routeSwitch}}
                  {{#if routeNotCitoyens}}
                    {{#ionTabs class="tabs-dark tabs-icon-top" style="ios"}}
                      {{> ionTab title=(__ "home") path="home" iconOff="ios-home" iconOn="ios-home"}}
                      {{#if settingOceco.wallet}}
                        {{#if settingOceco.wallet.textBouton}}
                          {{> ionTab title=settingOceco.wallet.textBouton path="walletOrga" orgaCibleId=orgaCibleId iconOff="clock" iconOn="clock"}}
                        {{else}}
                          {{> ionTab title=(__ "Time space") path="walletOrga" orgaCibleId=orgaCibleId iconOff="clock" iconOn="clock"}}
                        {{/if}}
                      {{else}}
                        {{> ionTab title=(__ "Time space") path="walletOrga" orgaCibleId=orgaCibleId iconOff="clock" iconOn="clock"}}
                      {{/if}}
                      {{#if isAdminRaf}}
                        {{> ionTab title="Admin" path="adminDashboardOrga" orgaCibleId=orgaCibleId iconOff="compose" iconOn="compose"}}
                      {{/if}}
                      {{#if settingOceco.agenda}}
                        {{> ionTab title="Agenda" path="listEventsOrga" orgaCibleId=orgaCibleId iconOff="ios-calendar" iconOn="ios-calendar"}}
                      {{/if}}
                    {{/ionTabs}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}

        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

    {{> meteorStatus lang=langChoix overlay=true}}

  {{/ionBody}}
</template>

<template name="orgaBloc">
  {{#if scope}}
    {{#if isMembreOrga}}
      <a href="{{pathFor 'detailListOrga' orgaCibleId=scope._id.valueOf _id=scope._id.valueOf scope='organizations'}}"
        class="item {{#if scope.profilThumbImageUrl}}item-avatar{{/if}}" data-ion-menu-close>
        {{#if scope.profilThumbImageUrl}}
          {{> imgDoc profilThumbImageUrl=scope.profilThumbImageUrl}}
        {{/if}}
        {{scope.name}}
        <p>{{scope.shortDescription}}</p>
      </a>
    {{else}}
      <a href="{{pathFor 'switchRedirect' _id=scope._id.valueOf}}"
        class="item {{#if scope.profilThumbImageUrl}}item-avatar{{/if}}" data-ion-menu-close>
        {{#if scope.profilThumbImageUrl}}
          {{> imgDoc profilThumbImageUrl=scope.profilThumbImageUrl}}
        {{/if}}
        {{scope.name}}
        <p>{{scope.shortDescription}}</p>
      </a>
    {{/if}}
  {{/if}}
</template>

<template name="orgaMaitre">
  {{#if scope}}
    <a href="{{pathFor 'detailListOrga' orgaCibleId=scope._id.valueOf _id=scope._id.valueOf scope='organizations'}}"
      class="item" data-ion-menu-close>
      <span class="positive"> <i class="icon fas fa-level-up-alt"></i> {{scope.name}}</span>
    </a>
  {{/if}}
</template>

<template name="updateStore">
  {{#contentFor "headerTitle"}}
    <h1 class="title">OCECO</h1>
  {{/contentFor}}
  {{#ionView}}
    {{#ionContent class="rubyonic-pane"}}

      <div class="logo">
        <img src="/oceco_red_gris.png" alt="" class="animated jello">
      </div>

      {{> forceUpdateAvailable}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="forceUpdateAvailable">
  {{#if updateStore}}
    <div class="item item-assertive item-text-wrap item-divider">
      Votre version est dépassé, vous devez mettre à jour votre application depuis le store
    </div>
  {{/if}}
</template>

<template name="updateAvailable">
  {{#if isAndroid}}
    {{#if updateAvailable}}
      <div class="item item-divider">
        <a class="button button-assertive button-block" reloader-update>Appuyez ici pour mettre à jour</a>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="account">
  {{#if scope}}
    <a href="{{pathFor 'listMembersDetailCitoyens' orgaCibleId=scope._id.valueOf citoyenId=currentUser._id}}"
      class="item item-borderless item-icon-left" data-ion-menu-close><i class="icon ion-card positive"></i>
      {{#if settingOceco.account}}
        {{#if settingOceco.account.textVotreCreditTemps}}{{settingOceco.account.textVotreCreditTemps}}{{else}}{{__ "Your time credit"}}{{/if}}
        <span class="badge badge-positive">{{userCredit}}
          {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}</span>
      {{else}}
        <i class="icon ion-card positive"></i> {{__ "Your time credit"}} <span
          class="badge badge-positive">{{userCredit}}
          R</span>
      {{/if}}
    </a>
  {{else}}
    <a href="{{pathFor 'listMembersDetailCitoyens' orgaCibleId=orgaCibleId citoyenId=currentUser._id}}"
      class="item item-borderless item-icon-left" data-ion-menu-close><i class="icon ion-card positive"></i>
      {{#if settingOceco.account}}
        {{#if settingOceco.account.textVotreCreditTemps}}{{settingOceco.account.textVotreCreditTemps}}{{else}}{{__ "Your time credit"}}{{/if}}
        <span class="badge badge-positive">{{userCredit}}
          {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}</span>
      {{else}}
        <i class="icon ion-card positive"></i> {{__ "Your time credit"}} <span
          class="badge badge-positive">{{userCredit}}
          R</span>
      {{/if}}
    </a>
  {{/if}}
</template>

<template name="shareUrl">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ 'Share url'}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{__ "url"}}
        </div>

        <label type="placeholder" for="" placeholderonly="true" class="item item-input">
          <i class="icon fa fa-calendar-alt dark placeholder-icon"></i>
          <input type="text" placeholder="" name="shareurl" value="{{shareUrl}}">
        </label>
        {{#unless isAndroid}}
          <div class="item">
            <button id="copyurl" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
              {{__ "Copy"}}</button>
          </div>
        {{else}}
          <div class="item item-text-wrap">
            {{__ 'Use the copy function when you click on the field where there is the link'}}
          </div>
        {{/unless}}
        {{#if canShare}}
          <div class="item">
            <button id="shareurl" class="button button-block button-positive"><i class="fa fa-share-alt"></i>
              {{__ "Share"}}</button>
          </div>
        {{/if}}
        <div class="item text-center">
          {{> generateQRCode url=shareUrl}}
        </div>
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="generateQRCode">
  {{#if getQRCode}}
    <img src="{{getQRCode}}">
  {{/if}}
</template>

<template name="filehandler">

</template>

<template name="layoutPublic">
  {{#ionBody}}

    {{> ionNavBar class="bar-stable"}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}

  {{/ionBody}}
</template>