<template name="editor">
  {{>wakeLock}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{> headerTitleNotesContext title=(__ "Notes") scope=scope }}
  {{/contentFor}}

  {{#if isConnected}}
    {{#if dataReadyMethod}}
      {{#if dataReady}}
        {{#ionView}}
          <div class="scroll-content ionic-scroll">
            <div class="content {{#unless isEditor}}overflow-scroll{{/unless}} has-header">

              {{#unless doc}}
                {{#unless isDelete}}
                  {{>editorNoAuthorized dataReady=dataReady isDelete=isDelete}}
                {{/unless}}
              {{/unless}}

              {{> editorCms scope=scope doc=doc isNew=isNew isEditor=isEditor isFullscreen=isFullscreen isDelete=isDelete dataReady=dataReady}}
            </div>
          </div>
        {{/ionView}}
      {{else}}
        {{> loading}}
      {{/if}}
    {{else}}
      {{> loading}}
    {{/if}}
  {{else}}
    {{> noConnection}}
  {{/if}}

</template>

<template name="noConnection">
  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content overflow-scroll has-header">
        <div class="card item item-dark padding">
          {{__ "You are not connected to the server"}}
        </div>
      </div>
    </div>
  {{/ionView}}
</template>

<template name="editorCms">
  {{#if isAdminOrContributors scope doc}}

    {{#if isEditor}}
      {{>editorInput doc=doc scope=scope}}
    {{else}}
      {{>editorCardButtonRight doc=doc scope=scope}}
    {{/if}}

    <div id="editor-container">

      {{>editorCodemiror isNew=isNew isFullscreen=isFullscreen presenceCount=doc.presenceCount doc=doc scope=scope}}

      {{>editorMardownView isNew=isNew docMarkdown=doc.doc}}

    </div>

  {{else}}
    {{#if doc}}
      {{#if doc.isPublic}}

        {{>editorCardButtonRight doc=doc scope=scope}}

        {{>editorMardownView isNew=isNew docMarkdown=doc.doc}}

      {{else}}

        {{#if doc.isLock}}
          {{#if doc.isContributors}}
            {{>editorCardButtonRight doc=doc scope=scope isLock=true}}

            {{>editorMardownView isNew=isNew docMarkdown=doc.doc isLock=true}}
          {{else}}
            {{>editorNoAuthorized dataReady=dataReady isDelete=isDelete}}
          {{/if}}

        {{else}}
          {{>editorNoAuthorized dataReady=dataReady isDelete=isDelete}}
        {{/if}}

      {{/if}}
    {{/if}}

  {{/if}}

</template>

<template name="editorCodemiror">

    <div id="menu-container" class="menu-container">
      
    </div>

  <div id="editors" class="{{#if isNew}}hidden{{/if}} exclude-dblclick" data-snap-ignore="true">

    {{#each toolbarLine in (toolbarLines isMobile notCordova isFullscreen)}}
      <div class="cms-toolbar button-bar {{#if isMobile}}button-small{{/if}} stable-bg">
        {{#each button in toolbarLine}}
          <button id="{{button.id}}" class="{{button.buttonClass}}" title="{{button.tooltip}}">
            <i class="{{button.iconClass}}"></i>
          </button>
        {{/each}}
      </div>
    {{/each}}

  </div>

  {{>editorFooter presenceCount=presenceCount}}
  {{>scopeFileUploadNotes}}
</template>

<template name="editorFooter">
  <div class="editor-footer exclude-dblclick" data-snap-ignore="true">
    <span id="editor-cursorPosition">Ligne: 0, Colonne: 0</span>
    <span id="editor-wordCount">Mots: 0</span>
    <span id="editor-charCount">Caractères: 0</span>
    <span id="editor-user-connected"><span class="balanced"><i class="icon fa fa-users"></i></span>
      {{presenceCount}}</span>
  </div>
</template>

<template name="editorCard">
  {{#if $eq scope.scopeVar 'citoyens'}}
    <h2 id="title-markdown">
      {{#if doc.name}}{{{htmlToText doc.name}}}{{else}}{{__ "No title"}}{{/if}}
    </h2>
  {{else}}
    <h2 id="title-markdown">
      <a href="{{pathFor 'notesListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
        class="positive">{{htmlToText scope.name}}</a> :
      {{#if doc.name}}{{{htmlToText doc.name}}}{{else}}{{__ "No title"}}{{/if}}
    </h2>
  {{/if}}
  <p>{{__ "creator"}} : {{doc.creatorNote.name}}</p>
  <p>{{__ "update"}} : {{doc.updatedNoteLocale}}</p>
  <p>{{__ "visibility"}} : {{#if doc.isPublic}}<span class="balanced"><i class="icon fa fa-unlock"></i></span>
    {{else}}<span class="assertive"><i class="icon fa fa-lock"></i></span>{{/if}} {{ __ doc.visibility}}
    {{#if doc.isLock}}
      / <span class="assertive"><i class="icon fa fa-lock"></i></span> {{__ "lock editing"}}
    {{/if}}
  </p>

  {{>editorListPresence presenceCount=doc.presenceCount listPresenceContributors=doc.listPresenceContributors}}
</template>

<template name="editorListPresence">
  {{#if presenceCount}}
    <p><span class="balanced"><i class="icon fa fa-users"></i></span> {{presenceCount}} :
      {{#each user in listPresenceContributors}}
        {{>editorItemPresence user=user}}
      {{/each}}
    </p>
  {{/if}}
</template>

<template name="editorItemPresence">
  <span class="badge-simple"
    style="color: {{getContrastingTextColor (getBackgroundColor user.name)}}; background-color:{{getBackgroundColor user.name}};">{{user.name}}</span>
</template>

<template name="editorNoAuthorized">
  <div class="card padding">
    <div class="item item-assertive item-text-wrap">
      {{__ "You are not authorized to view this note, or you are already viewing it with this user in another window or on another device"}}
    </div>
  </div>
</template>

<template name="editorInputOrCard">
  {{#if isEditor}}
    {{>editorInput doc=doc scope=scope}}
  {{else}}
    {{>editorCardButtonRight doc=doc scope=scope}}
  {{/if}}
</template>

<template name="editorInput">
  <label class="item item-input editor-title " data-snap-ignore="true">
    <i class="icon ion-edit placeholder-icon"></i>
    {{>EditorNameNote nameNote=doc.name}}
    {{>editorButtonRight doc=doc scope=scope}}
  </label>
</template>

<template name="EditorNameNote">
  <input type="text" placeholder="{{__ 'Title'}}" value="{{nameNote}}" id="nameNote">
</template>

<template name="editorCardButtonRight">
  <div class="item item-stable item-text-wrap item-button-right  {{#if isLock}}exclude-dblclick{{/if}}">
    {{>editorCard doc=doc scope=scope}}
    {{>editorButtonRight doc=doc scope=scope}}
  </div>
</template>

<template name="editorButtonRight">
  <button class="button button-clear action-card-notes-js"><i class="icon fa fa-cog"></i></button>
</template>

<template name="editorMardownView">
  <div id="mardown" class="{{#unless isNew}}hidden{{/unless}} {{#if isLock}}exclude-dblclick{{/if}}">
    <div id="mardown-content" class="markdown-body padding">
      {{#markdown}}{{docMarkdown}}{{/markdown}}
    </div>
    <div id="menu-container-view" class="menu-container-view"></div>
  </div>
</template>

<template name="scopeFileUploadNotes">
  <form>
    <input type="file" id="file-upload-note" multiple
      accept="image/*, .pdf, .xls, .xlsx, .doc, .docx, .ppt, .pptx, .odt, .ods, .odp, .csv"
      style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
</template>

<template name="fileModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Files"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        {{#if doc.docList}}
          {{#each file in doc.docList}}
            {{> doNoteDocItem file=file doc=doc scope=scope}}
          {{else}}
            <div class="item item-text-wrap">
              {{__ "No file"}}
            </div>
          {{/each}}
        {{else}}
          <div class="item item-text-wrap">
            {{__ "No file"}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="doNoteDocItem">
  <div
    class="item {{#if equals file.doctype 'image'}}item-thumbnail-left{{else}}item-icon-left{{/if}} item-button-right positive">
    {{#if equals file.doctype "image"}}
      <img src="{{urlImageCommunecter}}/upload/{{file.moduleId}}/{{file.folder}}/{{file.name}}">
      <a href="{{urlImageCommunecter}}/upload/{{file.moduleId}}/{{file.folder}}/{{file.name}}"
        class="positive download-doc-direct-js">{{file.name}} <span
          class="badge badge-positive">{{formatBytes file.size}}</span>
      </a>
    {{else}}
      <a href="{{urlImageCommunecter}}/upload/{{file.moduleId}}/{{file.folder}}/{{file.name}}"
        class="positive download-doc-direct-js"><i class="icon ion-android-download"></i>{{file.name}} <span
          class="badge badge-positive">{{formatBytes file.size}}</span>
      </a>
    {{/if}}

    {{#if scope.isAdmin}}
      <button class="button button-small button-icon note-doc-admin-js"><i class="icon fa fa-remove"></i></button>
    {{else}}
      {{#if doc.isContributors}}
        <button class="button button-small button-icon note-doc-admin-js"><i class="icon fa fa-remove"></i></button>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="semanticAnalysisModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Semantic analysis"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        {{#if result.domaine}}
          <div class="item">
            {{__ "Domaine"}} <span class="badge badge-dark">{{result.domaine}}</span>
          </div>
        {{else}}
          <div class="item">
            {{__ "Domaine"}} <span class="badge badge-dark">{{__ "No domaine"}}</span>
          </div>
        {{/if}}
        {{#if result.sentiment}}
          <div class="item">
            {{__ "Sentiment"}} : <span class="badge {{sentimentClass}}"><i class="fa {{sentimentIcon}}"></i>
              {{result.sentiment}}</span>
          </div>
        {{else}}
          <div class="item">
            {{__ "Sentiment"}} : <span class="badge badge-dark">{{__ "No sentiment"}}</span>
          </div>

        {{/if}}
        {{#if result.keywords}}
          <div class="item item-divider">
            {{result.keywords.length}} {{__ "Keywords"}}
          </div>
          <div class="item item-text-wrap">
            <p>
              {{#each keyword in result.keywords}}
                <span class="badge-simple badge-positive margin">{{keyword}}</span>
              {{/each}}
            </p>
          </div>
        {{/if}}
        {{#if result.resume}}
          <div class="item item-divider">
            {{__ "Text resume"}}
          </div>
          <div class="item item-text-wrap">
            {{result.resume}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="reportOpinionModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "report opinion"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div id="mardown-content" class="markdown-body padding">
        {{#markdown}}{{doc}}{{/markdown}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="notesSlide">
  {{>wakeLock}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Notes</h1>
  {{/contentFor}}

  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content has-header">

        <div class="slideNote">
          <div class="reveal">
            <div class="slides">
              {{#if dataReady}}
                {{#if isAdminOrContributors scope doc}}
                  {{#reveal}}{{doc.doc}}{{/reveal}}
                {{else}}
                  <div class="card padding">
                    <div class="item item-assertive item-text-wrap">
                      {{__ "You are not authorized to view this note"}}
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>

      </div>
    </div>

  {{/ionView}}
</template>

<template name="wakeLock">

</template>

<template name="notePublic">
  {{>wakeLock}}

  {{#contentFor "headerButtonLeft"}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Note public</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      <div class="scroll-content ionic-scroll">
        <div class="content has-header overflow-scroll">
          {{#if doc}}
            <div class="card note-public">
              <div class="item item-borderless item-text-wrap item-button-right  {{#if isLock}}exclude-dblclick{{/if}}">
                {{#if $eq scope.scopeVar 'citoyens'}}
                  <h2 id="title-markdown">
                    {{#if doc.name}}{{{htmlToText doc.name}}}{{else}}{{__ "No title"}}{{/if}}
                  </h2>
                {{else}}
                  <h2 id="title-markdown">
                    {{htmlToText scope.name}} :
                    {{#if doc.name}}{{{htmlToText doc.name}}}{{else}}{{__ "No title"}}{{/if}}
                  </h2>
                {{/if}}
                <p>{{__ "creator"}} : {{doc.creatorNote.name}}</p>
                <p>{{__ "update"}} : {{doc.updatedNoteLocale}}</p>
                {{#with doc=doc}}
                  <button class="button button-clear action-card-notes-js"><i class="icon fa fa-cog"></i></button>
                {{/with}}
              </div>

              <div id="mardown">
                <div id="mardown-content" class="markdown-body padding">
                  {{#markdown}}{{doc.doc}}{{/markdown}}
                </div>
              </div>
            </div>
          {{else}}
            <div class="card padding">
              <div class="item item-assertive item-text-wrap">
                {{__ "The note is not public or does not exist"}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="noteSlidePublic">
  {{>wakeLock}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Note public slide</h1>
  {{/contentFor}}

  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content has-header">
        <div class="slideNote">
          <div class="reveal">
            <div class="slides">
              {{#if dataReady}}
                {{#if doc}}
                  {{#reveal}}{{doc.doc}}{{/reveal}}
                {{else}}
                  <div class="card padding">
                    <div class="item item-assertive item-text-wrap">
                      {{__ "The note is not public or does not exist"}}
                    </div>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>

      </div>
    </div>

  {{/ionView}}
</template>