<template name="scopeItemList">
  {{#with item}}
    <a class="item item-content {{#if profilThumbImageUrl}}{{#if ../cssAvatar}}item-avatar{{else}}item-thumbnail-left{{/if}}{{/if}} item-button-right animated in out {{#if ../dataContext}} close-modal-js{{/if}}"
      href="{{#if ../route}}{{pathFor ../route orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}{{else}}{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}{{/if}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{htmlToText name}}</h2>
      {{#if ../count}}
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i>
          {{../count}}</span>
      {{/if}}

      {{#if equals scopeVar 'organizations'}}
        {{#if typeValue}}
          <p>{{typeValue}}</p>
        {{/if}}
      {{/if}}

      {{#if equals scopeVar 'events'}}
        {{#if typeValue}}
          <p>{{typeValue}}</p>
        {{/if}}
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{livestamp endDate}} <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

    {{#if ../favoris}}
      {{#if equals scopeVar 'projects'}}
        <button class="button button-clear button-energized favoris-js">
          {{#if ../item.isFavorisOceco orgaCibleId}}<i class="icon fa fa-star"></i>{{else}}<i class="icon fa fa-star-o"></i>{{/if}}
        </button>
      {{/if}}
    {{/if}}
    </a>
  {{/with}}
</template>

<template name="scopeItemListEvent">
  {{#with item}}
    <a class="item {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}} animated in out"
      href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{name}}</h2>
      {{#if ../count}}
        <span class="badge {{#if isStart}}badge-balanced{{else}}badge-dark{{/if}}"><i class="icon ion-person"></i>
          {{../count}}</span>
      {{/if}}

      {{#if typeValue}}
        <p>{{typeValue}}</p>
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp startDate}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}} ({{livestamp endDate}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}} ({{livestamp startDate}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{diffInText startDate endDate}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}
    </a>
  {{/with}}
</template>

<template name="scopeItemListForm">
  {{#with item}}
    <a class="item item-content {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}}"
      href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2>{{name}}</h2>
      {{#if description}}
        <p>{{description}}</p>
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp startDate}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}}
              ({{livestamp formatEndDateIso}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

    </a>
  {{/with}}
</template>