<template name="detailAnswers">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Answers"}} : </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="detailViewAnswers" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="detailAnswersModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Answers"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        {{#if dataReady}}
          {{> Template.dynamic template="detailViewAnswers" data=scope}}
        {{else}}
          {{> loading}}
        {{/if}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="detailViewAnswers">

  {{#with answer}}

    <div class="list detailAnswersDrop">

      <div class="item item-stable item-text-wrap item-button-right">
        <h2><a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar}}"
            class="positive" data-dismiss="modal">{{htmlToText ../name}}</a> :
          {{#unless project}}
            {{{htmlToText answers.aapStep1.titre}}}
          {{else}}
            <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=projectOne._id.valueOf scope='projects'}}"
              class="positive" data-dismiss="modal">
              {{{htmlToText answers.aapStep1.titre}}}
            </a>
          {{/unless}}
        </h2>
        {{> buttonsAnswers orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf isCreator=isCreator isAdmin=../isAdmin isProject=project}}
      </div>
      <div class="item {{#if creatorProfile.profilThumbImageUrl}}item-avatar{{/if}}">
        {{#if creatorProfile.profilThumbImageUrl}}
          {{> imgDoc profilThumbImageUrl=creatorProfile.profilThumbImageUrl resized="80x80"}}
        {{/if}}
        <h2>
          {{__ 'author'}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id.valueOf scope='citoyens'}}"
            class="dark" data-dismiss="modal">{{creatorProfile.name}}</a>
        </h2>
        <p>{{__ "On_date"}} <i class="fa fa-calendar"></i>
          {{createdFormat}}
        </p>
      </div>

      {{#if project}}
        {{#scrollBlockClass icon="fa fa-lightbulb-o" title=(__ "project" count=1) activeSearch=false}}
          <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=projectOne._id.valueOf scope='projects'}}"
            class="item" data-dismiss="modal">
            {{projectOne.name}}
            <p>{{projectStartDate}}</p>
          </a>
          <div class="item item-button-right">
            <i class="fa fa-group"></i> {{__ "contributors"}}
            {{#if ../isAdmin}}
              <a href="{{pathFor 'invitationsOrga' orgaCibleId=orgaCibleId _id=projectOne._id.valueOf scope='projects'}}"
                class="button">{{> ionIcon icon="person-add"}}</a>
            {{else}}
              {{#if projectOne.toBeValidated}}
                <button class="button button-small disabled">
                  <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
                </button>
              {{else}}
                {{#if projectOne.isInviting 'contributors' currentUser._id}}
                  <button class="button button-small disabled">
                    <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
                  </button>
                {{else}}
                  {{#unless projectOne.isContributors}}
                    {{> boutonCard id=projectOne._id.valueOf scope=projectOne.scopeVar isConnect=projectOne.isContributors classOff="connectscope-link" classOn="button-stable disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Contributor off") titleOn=(__ "button Contributor on")}}
                  {{/unless}}
                {{/if}}
              {{/if}}
            {{/if}}

          </div>
          {{#each contributor in projectOne.listContributors}}
            <div class="item item-button-right {{#if contributor.profilThumbImageUrl}}item-avatar{{/if}}">
              {{#if contributor.profilThumbImageUrl}}
                {{> imgDoc profilThumbImageUrl=contributor.profilThumbImageUrl resized="80x80"}}
              {{/if}}
              <h2>
                <a href="{{pathFor 'detailList' _id=contributor._id.valueOf scope='citoyens'}}" class="dark"
                  data-dismiss="modal">{{contributor.name}}</a>
              </h2>
            </div>
          {{else}}
            <div class="item">
              {{__ "dda.actions.noparticipants"}}
            </div>
          {{/each}}
        {{/scrollBlockClass}}
      {{/if}}

      {{> statusAnswers status=status}}

      {{#if viewDescription}}
        <div class="item item-text-wrap">
          {{#if answers.aapStep1.description}}
            <p class="right-top animated in" style="white-space: pre-line;">
              {{#markdown}}{{answers.aapStep1.description}}{{/markdown}}
            </p>
          {{/if}}
          {{#if answers.aapStep1.tags}}
            <p>
              {{#each answers.aapStep1.tags}}
                <a href="" class="positive search-tags-list-js" data-dismiss="modal"><i class="icon ion-pound"></i>
                  {{this}}</a>
              {{/each}}
            </p>
          {{/if}}

          {{#if answers.aapStep1.urgency}}
            <p class="padding-top">
              {{#each answers.aapStep1.urgency}}
                <span class="badge-simple badge-assertive"><i
                    class="icon-simple fa fa-exclamation-triangle"></i>{{__ this}}</span>
              {{/each}}
            </p>
          {{/if}}

          {{#if status}}
            <p class="padding-top">
              {{#each status}}
                {{#with statusAnswersKey this}}
                  <span class="badge-simple badge-{{color}} searchstatus-js"><i
                      class=" icon-simple {{icon}}"></i>{{__ status}}</span>
                {{/with}}
              {{/each}}
            </p>
          {{/if}}
        </div>

        <div class="item item-image">
          {{#if profilImageUrl}}
            {{#if ../isAdmin}}
              <a href="" class="photo-link-scope"><img src="{{urlImageCommunecter}}{{profilImageUrl}}"></a>
              {{> scopeFileUploadAnswers}}
            {{else}}
              <img src="{{urlImageCommunecter}}{{profilImageUrl}}">
            {{/if}}
          {{else}}
            {{#if ../isAdmin}}
              <a href="" class="photo-link-scope">{{> imgDoc imageDoc=imageDoc resized="340x340"}}</a>
              {{> scopeFileUploadAnswers}}
            {{else}}
              {{> imgDoc imageDoc=imageDoc resized="340x340"}}
            {{/if}}
          {{/if}}
        </div>
      {{/if}}

      {{#if ../isAdmin}}
        {{#scrollBlockClass icon="fas fa-vote-yea" title=(__ "answers.Evaluation") activeSearch=false}}

          {{#if isEvaluationMe}}
            <div class="item positive">
              {{__ "answers.You have already rated this proposal"}}
            </div>
          {{/if}}

          {{#if totalEvaluation}}
            <div class="item positive">
              {{__ "answers.Global average"}} : <span class="badge badge-positive">{{totalEvaluation.totalArray}} / 5
                {{#if totalEvaluation.nombreVote}} - ({{totalEvaluation.nombreVote}} {{__ "answers.evaluation"}})
                {{/if}}</span>
            </div>
          {{/if}}
          {{#with ..}}
            {{> answersEvaluation}}
          {{/with}}
        {{/scrollBlockClass}}
      {{/if}}

      <div class="item item-stable item-button-right">
        <i class="fa fa-euro"></i> {{__ "answers.Funding"}}
        {{#if ../isAdmin}}
          <a href="{{pathFor 'answersDepenseAdd' orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf}}"
            class="button button-positive">
            <i class="icon fa fa-plus"></i>
          </a>
        {{/if}}
      </div>
      {{#if answers.aapStep1.depense}}
        {{#each depense in depenseArray}}
          <div class="row row-alternate responsive-sm">
            <div class=" col col-25 col-center ">
              <div class="row">
                {{> buttonsAnswersDepense link=true title=depense.poste orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf key=depense.key isCreator=isCreator isAdmin=../isAdmin estimatesKeys=depense.estimatesKeys isFinancer=depense.isFinancer isCompleteFinancer=depense.isCompleteFinancer isCompletePayement=depense.isCompletePayement isProject=project isWorker=depense.worker isAction=depense.actionid isCompleteTaskCredit=depense.isCompleteTaskCredit}}
              </div>
              <div class="row">
                <p>
                  <small>{{depense.date}}</small>
                </p>
              </div>
              {{#if depense.worker}}
                <div class="row">
                  <p>
                    <small>{{__ "answers.Project manager"}} : {{depense.worker.name}}</small>
                  </p>
                </div>
              {{/if}}
            </div>

            <div class="col col-center">
              <div class="row">
                <div class="col col col-center text-left">
                  <span
                    class={{classAdd classBase='badge-simple' test=depense.isCompletePayement classAddTrue='badge-balanced' classAddfalse='badge-positive'}}>
                    {{__ "answers.totalAmount_funded_totalAmountPayement_spent" totalAmount=depense.totalAmount totalAmountPayement=depense.totalAmountPayement}}</span>
                </div>
                <div class="col col-33 col-center text-right">
                  <span
                    class={{classAdd classBase='badge-simple' test=depense.isCompletePayement classAddTrue='badge-balanced' classAddfalse='badge-positive'}}>
                    {{depense.price}} € </span>
                </div>
              </div>
              <div class="row">

                {{#if depense.isFinancer}}
                  <div class="col col-center text-center">
                    <div class="progress-bar progress-bar-stable">
                      <span class="progress-bar-fill progress-bar-fill-balanced"
                        style="width: {{depense.pourcentageAmount}}%;">{{__ "answers.Funded"}}
                        {{depense.pourcentageAmount}}%</span>
                    </div>
                  </div>
                  {{#if depense.isPayement}}
                    <div class="col col-center text-center">
                      <div class="progress-bar progress-bar-stable">
                        <span class="progress-bar-fill progress-bar-fill-balanced"
                          style="width: {{depense.pourcentageAmountPayement}}%;">{{__ "answers.Payment"}}
                          {{depense.pourcentageAmountPayement}}%</span>
                      </div>
                    </div>
                  {{/if}}
                {{else}}
                  {{#if depense.isEstimates}}
                    <div class="col col-center text-center">
                      <div class="progress-bar progress-bar-stable">
                        <span class="progress-bar-fill progress-bar-fill-energized"
                          style="width: {{depense.pourcentageAmount}}%;">{{__ "answers.Not funded"}}
                          {{depense.pourcentageAmount}}%</span>
                      </div>
                    </div>
                  {{else}}
                    <div class="col col-center text-center">
                      <div class="progress-bar progress-bar-stable">
                        <span class="progress-bar-fill progress-bar-fill-energized"
                          style="width: {{depense.pourcentageAmount}}%;">{{__ "answers.Not funded"}}
                          {{depense.pourcentageAmount}}%</span>
                      </div>
                    </div>
                  {{/if}}
                {{/if}}

              </div>

              {{#if depense.isEstimates}}
                {{#scrollBlockClass title=(__ "answers.Estimates") activeSearch=false}}
                  <div class="row">
                    {{#each estimate in depense.estimatesKeys}}
                      <div class="col col-center text-center">
                        {{estimate.name}}
                      </div>
                      <div class="col col-center text-center">
                        {{estimate.price}}€
                      </div>
                      <div class="col col-center text-center">
                        {{estimate.days}} {{__ "answers.day" count=estimate.days}}
                      </div>
                      {{#if estimate.selected}}
                        <div class="col col-10  col-center text-center">
                          <h3 class="balanced"><i class="icon ion-checkmark-circled"></i></h3>
                        </div>
                      {{/if}}
                      {{#unless depense.isFinancer}}
                        <div class="col col-10 col-center text-right">
                          {{> buttonsAnswersDepenseEstimate orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf key=depense.key userId=estimate.userId selected=estimate.selected isCreator=isCreator isAdmin=../isAdmin}}
                        </div>
                      {{/unless}}
                    {{/each}}
                  </div>
                {{/scrollBlockClass}}
              {{/if}}

              {{#if depense.isFinancer}}
                {{#scrollBlockClass title=(__ "answers.Funding") activeSearch=false}}
                  {{#each finance in depense.financer}}
                    <div class="row">
                      <div class="col col-25 col-center">
                        <div class="row row-no-padding">
                          <div class="col col-center">
                            {{finance.name}}
                          </div>
                        </div>
                        <div class="row row-no-padding">
                          <div class="col col-center">
                            <small>{{finance.email}}</small>
                          </div>
                        </div>
                      </div>
                      <div class="col col-25 col-center">
                        {{finance.line}}
                      </div>
                      <div class="col col-center">
                        {{finance.amount}} €
                      </div>
                      <div class="col col-center">
                        {{finance.pourcentageAmount}}%
                      </div>
                      <div class="col col-10 col-center text-right">
                        {{> buttonsAnswersDepenseFinance orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf key=depense.key userId=finance.user financeKey=finance.financeKey isCreator=isCreator isAdmin=../isAdmin}}
                      </div>
                    </div>
                  {{/each}}
                {{/scrollBlockClass}}
              {{/if}}

              {{#if depense.tasks}}
                {{#scrollBlockClass title=(__ "answers.Tasks") activeSearch=false}}
                  {{#each task in depense.tasks}}
                    <div class="item item-button-right">
                      <h2>{{task.task}}</h2>
                      <p>{{task.credits}} € {{#if task.payed}}<span class="balanced"><i
                              class="icon fa fa-check-circle"></i>
                            {{__ "answers.payed"}}</span>{{/if}}</p>
                      {{#if task.checked}}
                        {{#if taskCheckedUser task.checkedUserId}}
                          <p>
                            <span class="balanced"><i class="icon fa fa-user-check"></i>
                              {{taskCheckedUser task.checkedUserId}}</span>
                          </p>
                        {{/if}}
                      {{/if}}
                      {{#if task.contributors}}
                        {{#if taskContributor task.contributors}}
                          <p>
                            {{#each contributor in taskContributor task.contributors}}
                              <span class="energized"><i class="icon fa fa-user-lock"></i>
                                {{contributor.name}}</span>
                            {{/each}}
                          </p>
                        {{/if}}
                      {{/if}}
                      {{#unless task.payed}}
                        {{> buttonsAnswersDepenseTask orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf key=depense.key userId=task.userId actionKey=depense.actionid taskKey=task.taskId checked=task.checked taskCheckedUserId=task.checkedUserId amount=task.credits payed=task.payed contributors=task.contributors isCreator=isCreator isAdmin=../isAdmin}}
                      {{/unless}}
                    </div>
                  {{/each}}
                {{/scrollBlockClass}}
              {{/if}}

              {{#if depense.isPayement}}
                {{#scrollBlockClass title=(__ "answers.Payment and follow-up") activeSearch=false}}
                  {{#each payement in depense.payement}}
                    <div class="row">
                      <div class="col col-50 col-center">
                        {{payement.beneficiary.name}}
                      </div>
                      <div class="col col-center">
                        {{payement.amount}} €
                      </div>
                      <div class="col col-center">
                        {{payement.pourcentageAmountPayement}}%
                      </div>
                      {{!-- This is a block comment.
                      <div class="col col-10 col-center text-right">
                        {{> buttonsAnswersDepensePayement orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf key=depense.key userId=payement.user payementKey=payement.payementKey isCreator=isCreator isAdmin=../isAdmin}}
                      </div>
                      --}}
                    </div>
                  {{/each}}
                {{/scrollBlockClass}}
              {{/if}}

            </div>

          </div>
        {{/each}}
        {{#if totalFinance}}
          {{#if totalFinance.totalPrice}}
            <div class="row">
              <div class="col col-33 col-center padding-top">
                <h4>{{__ "answers.TOTAL TO BE FINANCED"}}</h4>
              </div>
              <div class="col col-center text-right">
                <span class="badge-simple badge-positive"> {{totalFinance.totalPrice}} € </span>
              </div>
            </div>
          {{/if}}
          {{#if totalFinance.totalAmount}}
            <div class="row">
              <div class="col col-33 col-center">
                <h4>{{__ "answers.TOTAL FUNDED"}}</h4>
              </div>
              <div class="col col-center text-right">
                <span class="badge-simple badge-balanced"> {{totalFinance.totalAmount}} € </span>
              </div>
            </div>
          {{/if}}
          {{#if totalFinance.totalAmountPayement}}
            <div class="row">
              <div class="col col-33 col-center">
                <h4>{{__ "answers.TOTAL PAID"}}</h4>
              </div>
              <div class="col col-center text-right">
                <span class="badge-simple badge-balanced"> {{totalFinance.totalAmountPayement}} € </span>
              </div>
            </div>
          {{/if}}
        {{/if}}

      {{/if}}

      <a href="{{pathFor 'answersDetailCommentsOrga' orgaCibleId=orgaCibleId _id=form scope='forms' answerId=_id.valueOf}}"
        class="item">
        <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
          class="badge badge-balanced">{{commentsCount}}</span>
      </a>

    </div>

  {{/with}}

</template>

<template name="buttonAnswerItem">
  <button class="button {{class}} {{#if isCall}}disabled{{/if}}" data-action="{{action}}">
    {{#if isCall}}
      <i class="icon fa fa-refresh fa-spin"></i> {{texte}}
    {{else}}
      <i class="{{icon}}"></i> {{texte}}
    {{/if}}
  </button>
</template>

<template name="buttonsAnswers">
  {{#if isAdmin}}
    <button class="button button-positive actions-answer-js"><i class="icon fa fa-cog"></i></button>
  {{else if isCreator}}
    <button class="button button-positive actions-answer-js"><i class="icon fa fa-cog"></i></button>
  {{/if}}
</template>

<template name="buttonsAnswersDepense">
  {{#if link}}
    {{#if isAdmin}}
      <a href="" class="positive actions-answer-depense-js">
        <h4 class="positive"><i class="fa fa-cog"></i> {{#if title}}{{title}}{{/if}}</h4>
      </a>
    {{else if isCreator}}
      <a href="" class="positive actions-answer-depense-js">
        <h4 class="positive"><i class="icon fa fa-cog"></i> {{#if title}}{{title}}{{/if}}</h4>
      </a>
    {{else}}
      <h4>{{#if title}}{{title}}{{/if}}</h4>
    {{/if}}
  {{else}}
    {{#if isAdmin}}
      <button class="button button-small button-icon actions-answer-depense-js"><i class="icon fa fa-cog"></i>
        {{#if title}}{{title}}{{/if}}</button>
    {{else if isCreator}}
      <button class="button button-small button-icon actions-answer-depense-js"><i class="icon fa fa-cog"></i>
        {{#if title}}{{title}}{{/if}}</button>
    {{/if}}
  {{/if}}
</template>

<template name="buttonsAnswersDepenseEstimate">
  {{#if isAdmin}}
    <button class="button button-small button-icon actions-answer-depense-estimate-js"><i
        class="icon fa fa-cog"></i></button>
  {{else if isCreator}}
    <button class="button button-small button-icon actions-answer-depense-estimate-js"><i
        class="icon fa fa-cog"></i></button>
  {{/if}}
</template>

<template name="buttonsAnswersDepenseFinance">
  {{#if isAdmin}}
    <button class="button button-small button-icon actions-answer-depense-finance-js"><i
        class="icon fa fa-cog"></i></button>
  {{else if isCreator}}
    <button class="button button-small button-icon actions-answer-depense-finance-js"><i
        class="icon fa fa-cog"></i></button>
  {{/if}}
</template>

<template name="buttonsAnswersDepensePayement">
  {{#if isAdmin}}
    <button class="button button-small button-icon actions-answer-depense-payement-js"><i
        class="icon fa fa-cog"></i></button>
  {{else if isCreator}}
    <button class="button button-small button-icon actions-answer-depense-payement-js"><i
        class="icon fa fa-cog"></i></button>
  {{/if}}
</template>

<template name="buttonsAnswersDepenseTask">
  {{#if isAdmin}}
    <button class="button button-small button-icon actions-answer-depense-task-js"><i
        class="icon fa fa-cog"></i></button>
  {{else if isCreator}}
    <button class="button button-small button-icon actions-answer-depense-task-js"><i
        class="icon fa fa-cog"></i></button>
  {{/if}}
</template>

<template name="statusAnswers">

</template>

<template name="answersAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Answers"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.creating a new answer"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addAnswer" schema=SchemasAnswersRest type="method" meteormethod="insertAnswer" doc=answer singleMethodArgument=true template="ionic"}}
            {{> answersFields scope=answer}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Answers"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.edit a answer"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editAnswer" schema=SchemasAnswersRest type="method-update" meteormethod="updateAnswer" doc=answer singleMethodArgument=true template="ionic"}}
            {{> answersFields editAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersFields">
  {{> afQuickField name='name' label-type='placeholder' autofocus=''}}
  {{> afQuickField name='description' label-type='placeholder' rows=8}}

  {{#if isCordova}}
    {{> afQuickField name='tagsText' label-type='placeholder' icon="fa fa-hashtag positive" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  {{else}}
    {{> afQuickField name='tagsText' label-type='placeholder' icon="fa fa-hashtag positive" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  {{/if}}

  {{> afQuickField name='urgent' label-type='placeholder'}}
</template>

<template name="answersDepenseAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Expenses"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.add an expense line"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addDepenseAnswer" schema=SchemasAnswersDepenseRest type="method-update" meteormethod="insertDepenseAnswer" doc=depense singleMethodArgument=true template="ionic"}}
            {{> answersDepenseFields scope=answer}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Expenses"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.modify the expense line"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editDepenseAnswer" schema=SchemasAnswersDepenseRest type="method-update" meteormethod="updateDepenseAnswer" doc=depense singleMethodArgument=true template="ionic"}}
            {{> answersDepenseFields editDepenseAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseFields">
  {{> afQuickField name='group' label-type='placeholder' type='autocomplete' options=optionsGroup}}
  {{> afQuickField name='nature' label-type='placeholder' type='autocomplete' options=optionsNature}}
  {{> afQuickField name='poste' label-type='placeholder'}}
  {{> afQuickField name='price' label-type='placeholder'}}
</template>

<template name="answersDepenseFieldsOld">
  {{> afQuickField name='group' type='select-checkbox' options=optionsGroup link=(pathFor 'formsEdit' orgaCibleId=orgaCibleId scope='forms' _id=parentId answerId=answerId)}}
  {{> afQuickField name='nature' type='select-checkbox' options=optionsNature link=(pathFor 'formsEdit' orgaCibleId=orgaCibleId scope='forms' _id=parentId answerId=answerId)}}
  {{> afQuickField name='poste' label-type='placeholder'}}
  {{> afQuickField name='price' label-type='placeholder'}}
</template>

<template name="formsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "forms.budgetdepense.titleEdit"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "forms.budgetdepense.textEdit"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editForm" schema=SchemasFormsRest type="method-update" meteormethod="updateForms" doc=form singleMethodArgument=true template="ionic"}}
            {{> formsFields editForm=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="formsFields">
  {{> afQuickField name='group'}}
  {{> afQuickField name='nature'}}
</template>

<template name="answersDepenseEstimatesAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Estimates"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.add my estimate"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addEstimatesDepenseAnswer" schema=SchemasAnswersDepenseEstimateRest type="method-update" meteormethod="insertDepenseAnswerEstimate" doc=estimate singleMethodArgument=true template="ionic"}}
            {{> answersDepenseEstimatesFields scope=answer}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseEstimatesEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Estimates"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.modify my estimate"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editEstimatesDepenseAnswer" schema=SchemasAnswersDepenseEstimateRest type="method-update" meteormethod="updateDepenseAnswerEstimate" doc=estimate singleMethodArgument=true template="ionic"}}
            {{> answersDepenseEstimatesFields editEstimateDepenseAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseEstimatesFields">
  {{> afQuickField name='days'}}
  {{> afQuickField name='price'}}
</template>

<template name="answersDepenseFinanceAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Financing"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.added a funder"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addFinanceDepenseAnswer" schema=SchemasAnswersDepenseFinanceRest type="method-update" meteormethod="insertDepenseAnswerFinance" doc=finance singleMethodArgument=true template="ionic"}}
            {{> answersDepenseFinanceFields scope=finance depenseArray=depenseArray}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseFinanceEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Financing"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.modified the funder"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editFinanceDepenseAnswer" schema=SchemasAnswersDepenseFinanceRest type="method-update" meteormethod="updateDepenseAnswerFinance" doc=finance singleMethodArgument=true template="ionic"}}
            {{> answersDepenseFinanceFields scope=finance depenseArray=depenseArray editFinanceDepenseAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseFinanceFields">
  <div class="item item-text-wrap text-center">
    <h3 class="positive">{{depenseArray.poste}}</h3>
    <p>
      {{{__ "answers.Need_funding_totalAmount_on_price" totalAmount=depenseArray.totalAmount price=depenseArray.price}}},
      <br>
      {{#if depenseArray.isCompleteFinancer}}
        {{{__ "answers.The financing was full before your modification, you can reduce it but you cannot increase it"}}}
      {{else}}
        {{{__ "answers.You_can_put_a_maximum_amount_totalRemaining" totalRemaining=depenseArray.totalRemaining}}}
      {{/if}}

    </p>
  </div>

  {{> afQuickField name='communaute'}}
  {{#if afFieldValue name='communaute'}}
    {{> afQuickField name='financeurId' options=optionsFinanceur}}
  {{else}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='email'}}
  {{/if}}
  {{> afQuickField name='line'}}
  {{> afQuickField name='amount' min=1 max=depenseArray.totalRemaining}}
</template>

<template name="answersDepenseWorkerAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Project manager"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.add the project manager"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addWorkerDepenseAnswer" schema=SchemasAnswersDepenseWorkerRest type="method-update" meteormethod="insertDepenseAnswerWorker" doc=worker singleMethodArgument=true template="ionic"}}
            {{> answersDepenseWorkerFields scope=worker}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseWorkerEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Project manager"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.modified the project manager"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editWorkerDepenseAnswer" schema=SchemasAnswersDepenseWorkerRest type="method-update" meteormethod="updateDepenseAnswerWorker" doc=worker singleMethodArgument=true template="ionic"}}
            {{> answersDepenseWorkerFields editWorkerDepenseAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseWorkerFields">
  {{#unless optionsWorker}}
    <div class="card">
      <div class="item item-assertive item-text-wrap item-icon-left text-center">
        {{{__ "answers.No member organization of this organization has the role of project manager"}}}
      </div>
    </div>
  {{/unless}}
  {{> afQuickField name='workerId' options=optionsWorker}}
  {{> afQuickField name='workType' label-type='placeholder'}}
</template>

<template name="answersDepensePayementAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Payement"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.added a payement"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addPayementDepenseAnswer" schema=SchemasAnswersDepensePayementRest type="method-update" meteormethod="insertDepenseAnswerPayement" doc=payement singleMethodArgument=true template="ionic"}}
            {{> answersDepensePayementFields scope=payement depenseArray=depenseArray}}
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepensePayementFields">

  {{#with financerArray}}
    {{#if isCompletePayement}}
      <div class="item item-text-wrap text-center">
        <h3 class="positive">{{__ "answers.Full payment already made for this funder"}}</h3>
        <p>{{{__ "answers.The_payment_of_totalPayement_has_already_been_made" totalPayement=totalPayement}}}</p>
      </div>
    {{else}}
      <div class="item item-text-wrap text-center">
        <p>
          {{{__ "answers.Payment_already_made_totalPayement_on_totalFinancer_remainder_to_pay_totalRest" totalPayement=totalPayement totalFinancer=totalFinancer totalReste=totalReste}}}
        </p>
      </div>
    {{/if}}
    {{#unless isCompletePayement}}
      {{> afQuickField name='beneficiaryId' options=optionsBeneficiary}}
      {{> afQuickField name='amount' max=totalReste}}
      <div class="item">
        <div class="button-bar">
          <button type="submit" class="button button-dark">{{__ "edit"}}</button>
        </div>
      </div>
    {{/unless}}
  {{/with}}

</template>

<template name="answersDepensePayementFieldOld">
  {{> afQuickField name='financeurId' options=optionsFinanceur}}

  {{#if afFieldValue name='financeurId'}}
    {{#with financerArray (afFieldValue name='financeurId')}}
      {{#if isCompletePayement}}
        <div class="item item-text-wrap text-center">
          <h3 class="positive">{{__ "answers.Full payment already made for this funder"}}</h3>
          <p>{{{__ "answers.The_payment_of_totalPayement_has_already_been_made" totalPayement=totalPayement}}}</p>
        </div>
      {{else}}
        <div class="item item-text-wrap text-center">
          <p>
            {{{__ "answers.Payment_already_made_totalPayement_on_totalFinancer_remainder_to_pay_totalRest" totalPayement=totalPayement totalFinancer=totalFinancer totalReste=totalReste}}}
          </p>
        </div>
      {{/if}}
      {{#unless isCompletePayement}}
        {{> afQuickField name='beneficiaryId' options=optionsBeneficiary}}
        {{> afQuickField name='amount' max=totalReste}}
        <div class="item">
          <div class="button-bar">
            <button type="submit" class="button button-dark">{{__ "edit"}}</button>
          </div>
        </div>
      {{/unless}}
    {{/with}}
  {{/if}}
</template>

<template name="answersDepenseTaskAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Tasks"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.added a task"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addTaskDepenseAnswer" schema=SchemasAnswersDepenseTaskRest type="method-update" meteormethod="insertDepenseAnswerTask" doc=task singleMethodArgument=true template="ionic"}}
            {{> answersDepenseTaskFields scope=task depenseArray=depenseArray}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseTaskEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "answers.Tasks"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "answers.modified the task"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editTaskDepenseAnswer" schema=SchemasAnswersDepenseTaskRest type="method-update" meteormethod="updateDepenseAnswerTask" doc=task singleMethodArgument=true template="ionic"}}
            {{> answersDepenseTaskFields scope=task depenseArray=depenseArray editTaskDepenseAnswer=true}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="answersDepenseTaskFields">
  {{#with depenseArray}}
    {{#if isCompleteTaskCredit}}
      <div class="item item-text-wrap text-center">
        <h3 class="positive">{{__ "answers.The price is already reached with the current tasks"}}</h3>
        <p>
          {{{__ "answers.The spending limit has already been reached totalCreditTask" totalCreditTask=totalCreditTask}}}
        </p>
      </div>
    {{else}}
      <div class="item item-text-wrap text-center">
        <p>
          {{{__ "answers.The total of the tasks to finance on this line of expenditure totalCreditTask on totalFinancer remains to be paid totalReste" totalCreditTask=totalCreditTask totalFinancer=price totalReste=totalRemainingCreditTask}}}
        </p>
      </div>
    {{/if}}
    {{#unless isCompleteTaskCredit}}
      {{> afQuickField name='task' label-type='placeholder'}}
      {{> afQuickField name='amount' max=totalRemainingCreditTask}}
      {{> afQuickField name='endDate'}}
      {{> afQuickField name='assignText' autocomplete="off"}}
    {{/unless}}
  {{/with}}
</template>

<template name="answersEvaluation">

  {{#each evaluationCritereArray}}

    <div class="item positive">
      {{label}} {{#if ../../totalEvaluation label}}{{__ "(moyenne)"}} <span
          class="badge badge-positive">{{../../totalEvaluation label}} / 5</span>{{/if}}
    </div>

    {{#autoForm id=index schema=../evaluationCritereSchema type="method-update"
      meteormethod="insertAnswerEvaluation" autosave=true doc=evaluation singleMethodArgument=true template="ionic"}}
      {{> afQuickField name=labelNet type="range" min="0.0" max="5.0" step="0.1" startLabel="0" endLabel="5.0" endIcon="icon fas fa-star" icon="fa fa-star"}}
    {{/autoForm}}
  {{/each}}

</template>

<template name="scopeFileUploadAnswers">
  <input type="text" id="hiddenPasteAreaAnswer" style="opacity: 0; position: absolute; top: -1000px;">
  <form>
    <input type="file" id="file-upload-answer" accept="image/*"
      style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
</template>