<template name="notifications">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "notifications"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView hide-nav-bar="true"}}
      {{#ionContent}}
        {{> notificationsListSwip notifications=notifications notificationsCount=notificationsCount}}
      {{/ionContent}}
    {{/ionView}}
  {{/if}}
</template>

<template name="notificationsListSwipMenu">
  <div class="list" data-snap-ignore="true">
    <div class="item item-borderless item-stable item-checkbox item-checkbox-right no-swipe">
      <label class="checkbox checkbox-positive all-read">
        <input type="checkbox" checked="{{allReadChecked}}">
      </label>
      {{__ "All read"}}
    </div>
    {{#if orgaCibleId}}
      <div class="item tabs tabs-icon-bottom tabs-color-positive">
        <a class="tab-item js-filter-context {{#unless filterContextChecked}}active{{/unless}}"><i
            class="icon fa fa-circle"></i> {{__ "All Organizations"}}</a>
        <a class="tab-item js-filter-context  {{#if filterContextChecked}}active{{/if}}"><i
            class="icon fa fa-check-circle"></i> {{__ "Contextual filter"}}</a>
      </div>
    {{/if}}
    {{#if currentUser}}

      {{#if isNotificationsPlus100}}
        <div class="item item-assertive item-text-wrap no-swipe">
          {{__ "the last 100 notifications are displayed"}}
        </div>
      {{/if}}

      {{#if filterContextChecked}}

        {{#each orgaList in notifications}}

          {{> notificationsListContext context=orgaList}}

          {{#each projectList in orgaList.projects}}
            {{> notificationsListContext context=projectList}}
          {{/each}}

        {{/each}}

      {{else}}
        {{> notificationsList notifications=notifications}}
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="notificationsListSwip">
  <div class="list" data-snap-ignore="true">
    <div class="item item-divider no-swipe">
      <i class="icon ion-speakerphone"></i> {{__ "notifications"}} <span
        class="badge badge-dark">{{notificationsCount}}</span>
    </div>
    <div class="item item-stable item-checkbox item-checkbox-right no-swipe">
      <label class="checkbox checkbox-positive all-read">
        <input type="checkbox" checked="{{allReadChecked}}">
      </label>
      {{__ "All read"}}
    </div>
    {{#if orgaCibleId}}
      <div class="item tabs tabs-icon-bottom tabs-color-positive">
        <a class="tab-item js-filter-context {{#unless filterContextChecked}}active{{/unless}}"><i
            class="icon fa fa-circle"></i> {{__ "All Organizations"}}</a>
        <a class="tab-item js-filter-context  {{#if filterContextChecked}}active{{/if}}"><i
            class="icon fa fa-check-circle"></i> {{__ "Contextual filter"}}</a>
      </div>
    {{/if}}
    {{#if isNotificationsPlus100}}
      <div class="item item-assertive item-text-wrap no-swipe">
        {{__ "the last 100 notifications are displayed"}}
      </div>
    {{/if}}

    {{#if filterContextChecked}}

      {{#each orgaList in notifications}}

        {{> notificationsListContext context=orgaList}}

        {{#each projectList in orgaList.projects}}
          {{> notificationsListContext context=projectList}}
        {{/each}}

      {{/each}}

    {{else}}
      {{> notificationsList notifications=notifications}}
    {{/if}}
  </div>
</template>

<template name="notificationsListContext">
  {{#if context.counts}}
    {{#scrollBlock title=context.name count=context.counts itemColor="light" itemClass="no-swipe" colorTitle=(getBackgroundColor context.name) activeSearch=false}}
      {{> notificationsList notifications=context.notifications}}
    {{/scrollBlock}}
  {{/if}}
</template>

<template name="notificationsList">

  {{#transition in="zoomIn" out="bounceOut"}}
    {{#each notifications}}
      {{#if notify.url}}
        <div class="item item-icon-left item-text-wrap animated out clickGo removeMe" data-ion-menu-close>
          <p>
            <i class="icon fa {{notify.icon}} positive"></i> {{{notifyDisplay notify}}} - <strong class="positive"
              style="color:{{getBackgroundColor target.name}}">{{target.name}}</strong>
          </p>
          <p>{{livestamp created}}</p>
        </div>
      {{else}}
        <div class="item item-icon-left item-text-wrap animated out clickGo removeMe" data-ion-menu-close>
          <p>
            <i class="icon fa {{notify.icon}} positive"></i> {{{notifyDisplay notify}}} - <strong class="positive"
              style="color:{{getBackgroundColor target.name}}">{{target.name}}</strong>
          </p>
          <p>{{livestamp created}}</p>
        </div>
      {{/if}}
    {{else}}
      <div class="item no-swipe">
        {{__ "not notifications"}}
      </div>
    {{/each}}
  {{/transition}}

</template>

<template name="notificationsListOld">
  {{#if dataReady}}
    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each notifications}}
        {{#if link}}
          <div class="item item-avatar animated out clickGo removeMe" data-ion-menu-close>
            {{> imgDoc imageDoc=(imageDoc author)}}
            <h2>{{title}}</h2>
            <p>
              {{text}}
            </p>
            <p><i class="icon ion-clock"></i> {{livestamp addedAt}}</p>
            <p><i class="icon ion-person"></i> {{authorNotify.name}}</p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item removeMe" href="#">
              <i class="icon ion-trash-a"></i>
              {{__ "delete"}}
            </a>
            {{#if news.likesCount}}
              <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                {{news.likesCount}} {{__ "like"}}
              </a>
            {{/if}}
          </div>
        {{else}}
          <div class="item animated out">
            <h2>{{title}}</h2>
            <p>
              {{text}}
            </p>
            <p><i class="icon ion-clock"></i> {{livestamp addedAt}}</p>
            <p><i class="icon ion-person"></i> {{authorNotify.name}}</p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item removeMe" href="#">
              <i class="icon ion-trash-a"></i>
              {{__ "delete"}}
            </a>
          </div>
        {{/if}}
      {{else}}
        {{#ionItem}}
          {{__ "not notifications"}}
        {{/ionItem}}
      {{/each}}
    {{/transition}}
  {{/if}}
</template>