<template name="scopeTemplate">
  {{#contentFor "headerTitle"}}
    {{> headerTitleContext title=scope.name scope=scope}}
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#if dataReadyScopeDetail}}

    {{#ionView}}
      {{#ionContent class="scroll-bg"}}
        {{#if equals scope.scopeVar 'citoyens'}}
          {{#if scope.isMe}}
            <div class="item tabs tabs-icon-bottom">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailList' _id=scope._id.valueOf scope=scope.scopeVar}}" id="scopeDetailTemplate"><i
                  class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'organizationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                {{__ "scope.menu.My Organizations"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'actionsList' _id=scope._id.valueOf scope=scope.scopeVar}}" id="scopeActionsTemplate"><i
                  class="icon fa fa-inbox"></i> {{__ "scope.menu.Personal Actions"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeNotesTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notesList' _id=scope._id.valueOf scope=scope.scopeVar}}" id="scopeNotesTemplate"><i
                  class="icon fas fa-sticky-note"></i> {{__ "scope.menu.Personal Notes"}}</a>
            </div>
          {{/if}}

          {{#unless me.isUserBlocked scope._id.valueOf}}
            {{> Template.dynamic template=selectview data=scope}}
          {{else}}
            <div class="item">
              {{__ "You have blocked this user"}}
            </div>
            <div class="button-bar bar-positive">
              {{> boutonCard id=scope._id.valueOf scope=scope.scopeVar isConnect=(me.isUserBlocked scope._id.valueOf) classOff="button-small blockuser-link" classOn="button-small unblockuser-link" iconOff="fa fa-flag" iconOn="fa fa-flag-o" titleOn=(__ "Unblock this person") titleOff=(__ "Block this person")}}
            </div>
          {{/unless}}

        {{else if equals scope.scopeVar 'organizations'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailList' _id=scope._id.valueOf scope=scope.scopeVar}}" id="scopeDetailTemplate"><i
                  class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              {{#if settingOceco.organizationAction}}
                <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'actionsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeActionsTemplate"><i class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
              {{/if}}
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeProjectsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'projectsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeProjectsTemplate"><i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=2}}</a>
              {{#if settingOceco.organizationNote}}
                <a class="tab-item {{#if equals selectview 'scopeNotesTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'notesList' _id=scope._id.valueOf scope=scope.scopeVar}}" id="scopeNotesTemplate"><i
                    class="icon fas fa-sticky-note"></i> {{__ "scope.menu.Notes"}}</a>
              {{/if}}
              {{#if settingOceco.organizationForms}}
                <a class="tab-item {{#if equals selectview 'scopeFormsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'formsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeFormsTemplate"><i class="icon fa fa-question"></i> {{__ "scope.menu.Forms"}}</a>
              {{/if}}
              {{#if settingOceco.subOrganization}}
                {{#if settingOceco.subOrganizationsTxt}}
                  {{#if settingOceco.subOrganizationsTxt.textTitre}}
                    <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                      href="{{pathFor 'organizationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                      id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                      {{settingOceco.subOrganizationsTxt.textTitre}}</a>
                  {{else}}
                    <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                      href="{{pathFor 'organizationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                      id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                      {{__ "scope.menu.Sub-organizations"}}</a>
                  {{/if}}
                {{else}}
                  <a class="tab-item {{#if equals selectview 'scopeOrganizationsTemplate'}}tab-item-active{{/if}}"
                    href="{{pathFor 'organizationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"
                    id="scopeOrganizationsTemplate"><i class="icon fa fa-users"></i>
                    {{__ "scope.menu.Sub-organizations"}}</a>
                {{/if}}
              {{/if}}
            </div>
          </div>
          {{#if scope.isAdmin}}
            {{#if scope.listMembersToBeValidatedCount}}
              <a class="item item-icon-left item-dark"
                href="{{pathFor 'notificationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"><i
                  class="icon fa fa-user-check"></i>
                {{__ "scope.member_to_validate" count=scope.listMembersToBeValidatedCount}}
              </a>
            {{/if}}
          {{/if}}
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'projects'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              {{#if settingOceco.projectAction}}
                <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeActionsTemplate"><i class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
              {{/if}}
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeProjectsContributorsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'contributorsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeProjectsContributorsTemplate"><i class="icon fa fa-users"></i> {{__ "contributors"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeEventsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'eventsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeEventsTemplate"><i class="icon fa fa-calendar"></i> {{__ "events"}}</a>
              {{#if settingOceco.projectNote}}
                <a class="tab-item {{#if equals selectview 'scopeNotesTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'notesListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeNotesTemplate"><i class="icon fas fa-sticky-note"></i> {{__ "scope.menu.Notes"}}</a>
              {{/if}}
              {{#if settingOceco.projectForms}}
                <a class="tab-item {{#if equals selectview 'scopeFormsTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'formsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeFormsTemplate"><i class="icon fa fa-question"></i> {{__ "scope.menu.Forms"}}</a>
              {{/if}}
              {{#if settingOceco.milestonesProject}}
                <a class="tab-item {{#if equals selectview 'scopeProjectMilestonesTemplate'}}tab-item-active{{/if}}"
                  href="{{pathFor 'projectsMilestonesListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                  id="scopeProjectMilestonesTemplate"><i class="icon fa fa-flag"></i>
                  {{__ "scope.menu.Milestones"}}</a>
              {{/if}}
            </div>
          </div>
          {{#if scope.isAdmin}}
            {{#if scope.listMembersToBeValidatedCount}}
              <a class="item item-icon-left item-dark"
                href="{{pathFor 'notificationsList' _id=scope._id.valueOf scope=scope.scopeVar}}"><i
                  class="icon fa fa-user-check"></i>
                {{__ "scope.contributor to validate" count=scope.listMembersToBeValidatedCount}}</a>
            {{/if}}
          {{/if}}
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'events'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.Detail"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeNotificationsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'notificationsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeNotificationsTemplate"><i class="icon fa fa-bell"></i> {{__ "scope.menu.Notifications"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeActionsTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeActionsTemplate"><i class="icon fa fa-inbox"></i> {{__ "actions"}}</a>
            </div>
          </div>
          {{> Template.dynamic template=selectview data=scope}}
        {{else if equals scope.scopeVar 'forms'}}
          <div class="item tabs tabs-icon-bottom">
            <div class="tabs tabs-striped">
              <a class="tab-item {{#if equals selectview 'scopeDetailTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeDetailTemplate"><i class="icon fa fa-home"></i> {{__ "scope.menu.DetailForm"}}</a>
              <a class="tab-item {{#if equals selectview 'scopeAnswersTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'answersListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeAnswersTemplate"><i class="icon fa fa-inbox"></i> {{__ "scope.menu.Answers"}}</a>

              <a class="tab-item {{#if equals selectview 'scopeAssessTemplate'}}tab-item-active{{/if}}"
                href="{{pathFor 'assessListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
                id="scopeAssessTemplate"><i class="icon fas fa-vote-yea"></i> {{__ "scope.menu.Assess"}}</a>

            </div>
          </div>
          {{> Template.dynamic template=selectview data=scope}}
        {{/if}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="scopeDetailTemplate">
  {{> Template.dynamic template=scopeCardTemplate data=this}}
</template>

<template name="scopeNotificationsTemplate">
  <div class="list">

    {{> Template.dynamic template=scopeBoutonNotificationsTemplate data=this}}

    {{#if isAdmin}}
      {{#if listMembersToBeValidatedCount}}
        <div class="item item-divider homestead">
          {{__ "Waiting for a response"}}
        </div>
        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each listMembersToBeValidated}}
            <div class="item item-avatar item-text-wrap animated out">
              {{> imgDoc profilThumbImageUrl=profilThumbImageUrl }}
              <p><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a>
                {{#if equals ../scopeVar 'organizations'}}
                  {{#if ../isAdminPending _id.valueOf}}
                    {{__ "wants to become a member of the organization"}}
                  {{else}}
                    {{__ "wants to become a admin of the organization"}}
                  {{/if}}
                {{/if}}
                {{#if equals ../scopeVar 'projects'}}
                  {{#if ../isAdminPending _id.valueOf}}
                    {{__ "wants to become a contributor to the project"}}
                  {{else}}
                    {{__ "wants to become a admin to the project"}}
                  {{/if}}
                {{/if}}
              </p>
            </div>
            <div class="button-bar bar-clear">
              <button class="button button-small validateYes"><i class="icon fa fa-check balanced"></i></button>
              <button class="button button-small validateNo"><i class="icon fa fa-remove positive"></i></button>
            </div>
          {{/each}}
        {{/transition}}
      {{/if}}
    {{/if}}

    {{#if listNotifications}}
      <div class="item item-divider homestead">
        <i class="icon fa fa-bell"></i> {{__ "notifications"}} <span
          class="badge badge-dark">{{countListNotifications}}</span>
      </div>
      {{> notificationsList notifications=listNotifications}}
    {{/if}}

  </div>
</template>

<template name="scopeOrganizationsTemplate">
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-users"></i>
      {{#if equals scopeVar 'organizations'}}
        {{#if settingOceco.subOrganization}}
          {{#if settingOceco.subOrganizationsTxt}}
            {{#if settingOceco.subOrganizationsTxt.textTitre}}
              {{settingOceco.subOrganizationsTxt.textTitre}}
            {{else}}
              {{__ "organizations"}}
            {{/if}}
          {{else}}
            {{__ "organizations"}}
          {{/if}}
        {{/if}}
      {{else}}
        {{__ "organizations"}}
      {{/if}}
      <span class="badge badge-dark">{{countOrganizationsCreator}}</span>
    </div>
    {{#if dataReady}}
      {{#if equals scopeVar 'organizations'}}

        {{#if isAdmin}}
          <div class="button-bar bar-positive">
            <a href="{{pathFor 'sousOrganizationsAdd' orgaCibleId=orgaCibleId}}" class="button"><i
                class="fa fa-plus"></i>
              {{__ "scope.Add a sub organization"}}</a>
          </div>
        {{/if}}

        {{#each listOrganizationsCreator}}

          <div class="item item-avatar{{#if ../isAdmin}} item-button-right{{/if}}">
            {{> imgDoc profilThumbImageUrl=profilThumbImageUrl}}
            {{#if oceco}}
              <h2><a href="{{pathFor 'switchRedirect' _id=_id.valueOf}}" class="dark">{{name}}</a></h2>
            {{else}}
              <h2>{{name}}</h2>
            {{/if}}

            {{#if isAdmin}}
              <span class="positive"><i class="icon fa fa-circle"></i></span>
            {{/if}}
            {{#if ../isAdmin}}

              <button class="button button-positive action-config-oceco-js"><i class="icon fa fa-cog"></i></button>

            {{/if}}

          </div>

        {{/each}}
      {{else}}
        {{> directoryList list=listOrganizationsCreator isConnect="isMembers" person=false scope="organizations"}}
      {{/if}}

    {{/if}}
  </div>
</template>

<template name="scopeProjectsTemplate">
  {{> boutonProjectorganizations}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=countProjectsCreator}} <span
        class="badge badge-dark">{{countProjectsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonProjectsTemplate data=this}}

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="searchProject" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchProjects}}">
    </label>
    {{#if dataReady}}
      {{#transition in="zoomIn" out="bounceOut"}}
        {{#each item in listProjectsCreator searchProjects}}
          {{> scopeItemList item=item scope="projects" cssAvatar="true" favoris="true"}}
        {{else}}

        {{/each}}
      {{/transition}}
    {{/if}}
  </div>
</template>

<template name="scopeProjectsTemplateModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "project" count=countProjectsCreator}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      {{#if dataReady}}

        <div class="list">
          <div class="item item-divider">
            <i class="icon fa fa-lightbulb-o"></i> {{__ "project" count=countProjectsCreator}} <span
              class="badge badge-dark">{{countProjectsCreator}}</span>
          </div>

          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input id="searchProject" type="text" placeholder="{{__ "searchPlaceholder"}}" value="{{searchProjects}}">
          </label>
          {{#if dataReady}}
            {{#transition in="zoomIn" out="bounceOut"}}
              {{#each item in listProjectsCreator searchProjects}}
                {{> scopeItemList item=item scope="projects" dataContext=true route=route cssAvatar="true" favoris="true"}}
              {{else}}

              {{/each}}
            {{/transition}}
          {{/if}}
        </div>

      {{else}}
        <div class="list">
          {{> loading}}
        </div>
      {{/if}}

    </div>
  {{/ionModal}}

</template>

<template name="scopeEventsTemplate">
  {{#if isContributors}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'eventsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
          {{__ "Add event"}}</a>
        <a href="{{pathFor 'listEventsScopeOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}"
          class="button"><i class="fa fa-calendar"></i>
          {{__ "Calendar"}}</a>
      </div>
    {{/if}}
  {{/if}}

  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}
    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listEventsCreator}}
        {{> scopeItemListEvent item=item}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeFormsTemplate">
  {{> boutonCardforms}}

  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "Forms"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countForms}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonFormsTemplate data=this}}
    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listForms}}
        {{> scopeItemListForm item=item}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeProjectsEventsTemplate">
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{htmlToText name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listProjectsEventsCreator}}
        {{> scopeItemList item=item count=item.countAttendeesSimple}}
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeActionsTemplate">
  {{> boutonCardactions}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-calendar"></i> {{__ "actions"}}<span class="badge badge-dark">
        {{#unless settingOceco.spendView}}
          {{countActionsCreator 'all' 'todo' search}}
        {{else}}
          {{countActionsCreator selectsubview 'todo' search}}
        {{/unless}}</span>
    </div>

    {{#if nequals scopeVar 'citoyens'}}
      {{#if settingOceco.spendView}}
        <div class="item tabs">
          {{#if settingOceco.listingElementActions}}
            {{#if settingOceco.listingElementActions.tabProgrammes}}
              <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
                id="aFaire">{{settingOceco.listingElementActions.tabProgrammes}} <span
                  class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            {{else}}
              <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
                id="aFaire">{{__ "Scheduled"}} <span
                  class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            {{/if}}
            {{#if settingOceco.listingElementActions.tabDepenses}}
              <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
                id="depenses">{{settingOceco.listingElementActions.tabDepenses}} <span
                  class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
            {{else}}
              <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
                id="depenses">{{__ "Spend"}} <span
                  class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
            {{/if}}
          {{else}}
            <a class="tab-item {{#if equals selectsubview 'aFaire'}}tab-item-active{{/if}} change-selectsubview-js"
              id="aFaire">{{__ "Scheduled"}} <span
                class="positive">({{countActionsCreator 'aFaire' 'todo' ''}})</span></a>
            <a class="tab-item {{#if equals selectsubview 'depenses'}}tab-item-active{{/if}} change-selectsubview-js"
              id="depenses">{{__ "Spend"}} <span
                class="positive">({{countActionsCreator 'depenses' 'todo' ''}})</span></a>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}

    {{>searchActions}}
    {{#if searchMaintenance}}
      {{>actionsMaintenance searchMaintenanceMe=searchMaintenanceMe}}
    {{else}}

      {{#if nequals scopeVar 'citoyens'}}
        {{#unless settingOceco.spendView}}

          {{#each item in listActionsCreator 'all' 'todo' search searchSort}}

            {{> itemInputAction action=item viewScope=scopeVar}}

          {{else}}
            {{#if isAdmin}}
              {{#if search}}
                <div class="item button-bar bar-stable">
                  <a href="{{pathFor 'actionsAdd' _id=scopeId scope=scopeVar}}" class="button button-stable"><i
                      class="fa fa-plus"></i> {{__ "Create the action from your research"}}</a>
                </div>

                <div class="item button-bar bar-stable">
                  <button class="button button-stable search-all-js"><i class="fa fa-search"></i>
                    {{__ "Search in all actions"}}</button>
                </div>
              {{/if}}
            {{/if}}

            <div class="item text-center">
              {{__ "No results"}}
            </div>

          {{/each}}

        {{else}}

          {{#if equals selectsubview 'aFaire'}}

            {{#each item in listActionsCreator selectsubview 'todo' search searchSort}}

              {{> itemInputAction action=item viewScope=scopeVar}}

            {{else}}
              {{#if isAdmin}}
                {{#if search}}
                  <div class="item button-bar bar-stable">
                    <a href="{{pathFor 'actionsAdd' _id=scopeId scope=scopeVar}}" class="button button-stable"><i
                        class="fa fa-plus"></i> {{__ "Create the action from your research"}}</a>
                  </div>

                  <div class="item button-bar bar-stable">
                    <button class="button button-stable search-all-js"><i class="fa fa-search"></i>
                      {{__ "Search in all actions"}}</button>
                  </div>
                {{/if}}
              {{/if}}

              <div class="item text-center">
                {{__ "No results"}}
              </div>

            {{/each}}

          {{else if equals selectsubview 'depenses'}}
            {{#each item in listActionsCreator selectsubview 'todo' search searchSort}}
              {{> itemInputAction action=item viewScope=scopeVar}}
            {{/each}}
          {{/if}}
        {{/unless}}

      {{else}}

        {{#each allActions in listActionsCreatorOrgaProject 'all' 'todo' search searchSort}}
          {{> citoyenAllActions allActions=allActions viewScope=scopeVar}}

        {{else}}

          <div class="item text-center">
            {{__ "No results"}}
          </div>

        {{/each}}

      {{/if}}

      {{#if isLimit (countActionsCreator 'all' 'all' search)}}
        <div class="padding">
          <button id="showMoreResults" class="button button-block button-dark give-me-more">
            {{__ "more"}}...
          </button>
        </div>
      {{/if}}

    {{/if}}

  </div>
</template>

<template name="scopeNotesTemplate">
  {{> boutonCardnotes}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-sticky-note"></i> {{__ "Notes"}}<span class="badge badge-dark">
        {{countNotesCreator search}}
      </span>
    </div>

    {{>searchNotes}}

    {{#if nequals scopeVar 'citoyens'}}
      {{#each note in listNotesCreator search searchSort}}
        {{> itemInputNote note=note viewScope=scopeVar}}
      {{else}}

        <div class="item text-center">
          {{__ "No results"}}
        </div>

      {{/each}}
    {{else}}
      {{#each note in listNotesCreatorParentInfo search searchSort}}
        {{> itemInputNote note=note viewScope=scopeVar}}
      {{else}}

        <div class="item text-center">
          {{__ "No results"}}
        </div>

      {{/each}}
      <!-- {{#each allNotes in listNotesCreatorOrgaProject search searchSort}}
        {{> citoyenAllNotes allNotes=allNotes viewScope=scopeVar}}
      {{else}}

        <div class="item text-center">
          {{__ "No results"}}
        </div>

      {{/each}} -->
    {{/if}}

    {{#if isLimit (countNotesCreator search)}}
      <div class="padding">
        <button id="showMoreResults" class="button button-block button-dark give-me-more">
          {{__ "more"}}...
        </button>
      </div>
    {{/if}}

  </div>
</template>

<template name="scopeNotesTemplateModal">

    {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Notes"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      <div class="list">
        <div class="item item-divider">
          <i class="icon fa fa-sticky-note"></i> {{__ "Notes"}}
        </div>

        {{>searchNotes}}

      {{#if dataReady}}


        {{#if nequals scopeVar 'citoyens'}}
          {{#each note in listNotesCreator search searchSort}}
            {{> itemInputNote note=note viewScope=scopeVar dataContext=true}}
          {{else}}

            <div class="item text-center">
              {{__ "No results"}}
            </div>

          {{/each}}
        {{else}}
          {{#each note in listNotesCreatorParentInfo search searchSort}}
            {{> itemInputNote note=note viewScope=scopeVar dataContext=true}}
          {{else}}

            <div class="item text-center">
              {{__ "No results"}}
            </div>

          {{/each}}

        {{/if}}

        {{#if isLimit (countNotesCreator search)}}
          <div class="padding">
            <button id="showMoreResults" class="button button-block button-dark give-me-more">
              {{__ "more"}}...
            </button>
          </div>
        {{/if}}

      {{else}}
        <div class="list">
          {{> loading}}
        </div>
      {{/if}}

      </div>

    </div>
  {{/ionModal}}



</template>

<template name="searchNotes">
  <label class="item item-input search">
    <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
    <input id="search" type="text" placeholder="{{ __ 'search_note_placeholder'}}" value="{{search}}"
      autocomplete="off">
    <button class="button button-clear {{#if sortActived}}button-positive{{/if}}" data-ion-modal="searchNotesSort"><i
        class="icon fa fa-sort-alpha-asc"></i></button>
    <button class="button button-clear {{#if searchHelp}}button-positive{{/if}} filter-help-js"><i
        class="icon fa fa-filter"></i></button>
  </label>

{{#if searchHelp}}
  <div class="item item-divider">
    {{__ "Filter notes"}}
  </div>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="!">
    <i class="icon fa fa-filter"></i> {{__ "public visibility"}} <code>!</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="!p">
    <i class="icon fa fa-filter"></i> {{__ "private visibility"}} <code>!p</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="?cr">
    <i class="icon fa fa-filter"></i> {{__ "where I am creator"}} <code>?cr</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="?me">
    <i class="icon fa fa-filter"></i> {{__ "where I am contributors"}} <code>?me</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="?perso">
    <i class="icon fa fa-filter"></i> {{__ "personal notes"}} <code>?perso</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="?share">
    <i class="icon fa fa-filter"></i> {{__ "shared notes"}} <code>?share</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="*">
    <i class="icon fa fa-filter"></i> {{__ "by tracking"}} <code>*</code>
  </a>
  <a class="item item-dark item-icon-left searchfilter-js" data-action="?lm">
    <i class="icon fa fa-filter"></i> {{__ "last modified by other"}} <code>?lm</code>
  </a>
{{/if}}


</template>

<template name="searchNotesSortItemToggle">
  <div class="item item-toggle">
    {{label}}
    <label class="toggle toggle-balanced">
      <input id="{{type}}.{{field}}" class="sort-checked-js" type="checkbox" checked="{{#if checked}}checked{{/if}}">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
  {{#if checked}}
    <div class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        {{#if fieldDesc}}
          <input type="checkbox" class="sort-desc-js" value="true" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox" checked="checked">
        {{else}}
          <input type="checkbox" class="sort-desc-js" value="false" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox">
        {{/if}}
      </label>
      {{__ "descending sort"}}
    </div>
  {{/if}}
</template>

<template name="searchNotesSort">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Sort"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Sort notes by"}} {{#each orderType 'notes'}}{{label}} {{/each}}
        </div>
        {{#each searchSort.notes}}
          {{> searchNotesSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
        {{/each}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="citoyenAllActions">
  {{#if allActions.citoyen}}
    {{#if allActions.citoyen.countActions}}
      {{#scrollBlock title=allActions.citoyen.name count=allActions.citoyen.countActions itemColor="light" colorTitle=(getBackgroundColor allActions.citoyen.name) activeSearch=false}}
        {{#each citoyenAction in allActions.citoyen.actions}}
          {{> itemInputAction action=citoyenAction viewScope=viewScope}}
        {{/each}}
      {{/scrollBlock}}
    {{/if}}
  {{/if}}

  {{#if allActions.organizations}}
    {{#each orga in allActions.organizations}}

      <div class="item item-divider">
        {{orga.name}}
      </div>
      {{#if orga.countActions}}
        {{#scrollBlock title=orga.name count=orga.countActions iconTitle="fa fa-users" itemColor="light" activeSearch=false}}
          {{#each orgaAction in orga.actions}}
            {{> itemInputAction orgaCibleId=orga._id.valueOf action=orgaAction viewScope="organiztions"}}
          {{/each}}
        {{/scrollBlock}}
      {{/if}}

      {{#each project in orga.projects}}

        {{#if project.countActions}}
          {{#scrollBlock title=project.name count=project.countActions iconTitle="fa fa-lightbulb-o" itemColor="light" colorTitle=(getBackgroundColor project.name) activeSearch=false}}
            {{#each projectAction in project.actions}}
              {{> itemInputAction orgaCibleId=orga._id.valueOf action=projectAction viewScope="projects"}}
            {{/each}}
          {{/scrollBlock}}

          {{#if project.countEvents}}
            {{#each event in project.events}}
              {{#scrollBlock title=event.name count=event.countActions iconTitle="fa fa-calendar" itemColor="light" colorTitle=(getBackgroundColor event.name) activeSearch=false}}
                {{#each eventAction in event.actions}}
                  {{> itemInputAction orgaCibleId=orga._id.valueOf action=eventAction viewScope="events"}}
                {{/each}}
              {{/scrollBlock}}
            {{/each}}
          {{/if}}

        {{/if}}

      {{/each}}

    {{/each}}
  {{/if}}
</template>

<template name="citoyenAllNotes">
  {{#if allNotes.citoyen}}
    {{#if allNotes.citoyen.countNotes}}
      {{#scrollBlock title=allNotes.citoyen.name count=allNotes.citoyen.countNotes itemColor="light" colorTitle=(getBackgroundColor allNotes.citoyen.name) activeSearch=false}}
        {{#each citoyenNote in allNotes.citoyen.notes}}
          {{> itemInputNote note=citoyenNote viewScope="citoyens"}}
        {{/each}}
      {{/scrollBlock}}
    {{/if}}
  {{/if}}

  {{#if allNotes.organizations}}
    {{#each orga in allNotes.organizations}}

      <div class="item item-divider">
        {{orga.name}}
      </div>
      {{#if orga.countNotes}}
        {{#scrollBlock title=orga.name count=orga.countNotes iconTitle="fa fa-users" itemColor="light" activeSearch=false}}
          {{#each orgaNote in orga.notes}}

            {{> itemInputNote orgaCibleId=orga._id.valueOf note=orgaNote viewScope="organizations"}}
          {{/each}}
        {{/scrollBlock}}
      {{/if}}

      {{#each project in orga.projects}}

        {{#if project.countNotes}}
          {{#scrollBlock title=project.name count=project.countNotes iconTitle="fa fa-lightbulb-o" itemColor="light" colorTitle=(getBackgroundColor project.name) activeSearch=false}}
            {{#each projectNote in project.notes}}
              {{> itemInputNote orgaCibleId=orga._id.valueOf note=projectNote viewScope="projects"}}
            {{/each}}
          {{/scrollBlock}}
        {{/if}}

      {{/each}}

    {{/each}}
  {{/if}}
</template>

<template name="itemInputNote">
  <div class="item item-text-wrap">
    <h2>
      {{#if equals viewScope 'citoyens'}}
        {{#if note.organizationId}}
          <a href="{{pathFor 'notesEditorOrga' orgaCibleId=note.organizationId _id=note.parentId scope=note.parentType docId=note._id.valueOf}}"
            class="dark {{#if dataContext}} close-modal-js{{/if}}">{{#if note.name}}{{{htmlToText note.name}}}{{else}}{{__ "No title"}}{{/if}}</a>
        {{else}}
          <a href="{{pathFor 'notesEditor' _id=note.parentId scope=note.parentType docId=note._id.valueOf}}"
            class="dark {{#if dataContext}} close-modal-js{{/if}}">{{#if note.name}}{{{htmlToText note.name}}}{{else}}{{__ "No title"}}{{/if}}</a>
        {{/if}}
      {{else}}
        <a href="{{pathFor 'notesEditorOrga' orgaCibleId=orgaCibleId _id=note.parentId scope=note.parentType docId=note._id.valueOf}}"
          class="dark {{#if dataContext}} close-modal-js{{/if}}">{{#if note.name}}{{{htmlToText note.name}}}{{else}}{{__ "No title"}}{{/if}}</a>
      {{/if}}

      {{#if isTracking}}
        <button href="" class="button button-clear button-energized button-small-clear tracking-js"><i
            class="icon fa fa-star"></i></button>
      {{else}}
        <button href="" class="button button-clear button-dark button-small-clear tracking-js"><i
            class="icon fa fa-star-o"></i></button>
      {{/if}}
    </h2>

    <p>
      {{#if note.isAuthor}}
        <i class="icon fa fa-user"></i> {{__ "By"}} {{note.creatorNote.name}} <br>
        <i class="icon fa fa-calendar"></i> {{note.updatedNoteLocale}}
      {{else}}
        <i class="icon fa fa-user"></i> {{__ "By"}} {{note.creatorNote.name}} <br>
        <i class="icon fa fa-calendar"></i> {{note.updatedNoteLocale}}
      {{/if}}
    </p>
    <p>
      {{#if note.isShared}}
        <span class="badge-simple badge-dark"><i class="fa fa-user"></i> {{note.contributorsCount}}
          {{__ "shared"}}</span>
      {{/if}}
      {{#if note.isPublic}}
        <span class="badge-simple badge-balanced"><i class="icon fa fa-unlock"></i> {{__ "public"}}</span>
      {{else}}
        <span class="badge-simple badge-assertive"><i class="icon fa fa-lock"></i> {{__ "private"}}</span>
      {{/if}}
      {{#if note.lastModifiedByOther}}
        <span class="badge-simple badge-calm"><i class="icon fa fa-clock"></i>
          {{note.lastModifiedByOther.name}}</span>
      {{/if}}
      {{#if note.parentName}}
        <span class="badge-simple badge-positive filter-parentId-js cursor-pointer">{{#if note.organizationName}} {{note.organizationName}} >
          {{/if}}{{note.parentName}}</span>
      {{/if}}
    </p>

  </div>
</template>

<template name="scopeAnswersTemplate">
  {{> boutonCardanswers}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-inbox"></i> {{__ "Answers"}}<span class="badge badge-dark">{{countAnswers search}}</span>
    </div>

    {{>searchAnswers}}

    {{#each item in listAnswers search searchSort}}
      {{> scopeItemListAnswer answer=item scopeParentId=_id.valueOf scopeParentVar=scopeVar}}

    {{else}}

      <div class="item text-center">
        {{__ "No results"}}
      </div>

    {{/each}}

  </div>
</template>

<template name="scopeAssessTemplate">
  {{> boutonCardassess}}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fas fa-vote-yea"></i> {{__ "answers.Assess"}}
    </div>

    <div class="item">
      {{__ "answers.Cumulative evaluation"}}
    </div>

    <div class="row row-center row-no-padding">
      <div class="col">

        <div class="row row-center row-alternate row-alternate-positive responsive-sm row-summary">
          <div class="col col-20 col-summary"></div>
          {{#each evaluationCritereArray}}

            <div class="col padding col-summary">
              {{label}}
            </div>

          {{/each}}

          <div class="col padding col-summary">{{__ "answers.Global average"}}</div>
        </div>
        {{#each item in listAnswers}}

          {{#with item}}

            {{#if totalEvaluation}}

              <div class="row row-center row-alternate responsive-sm">
                <div class="col col-20 padding"><a
                    href="{{pathFor 'answersDetailOrga' orgaCibleId=orgaCibleId _id=../_id.valueOf scope=../scopeVar answerId=_id.valueOf}}"
                    class="dark">{{answers.aapStep1.titre}}</a>
                </div>
                {{#each ../evaluationCritereArray}}

                  <div class="col padding">
                    {{#if ../totalEvaluation label}}<span class="col-title">{{label}}</span> <span
                        class="badge badge-positive">{{../totalEvaluation label}}</span>{{/if}}
                  </div>

                {{/each}}

                <div class="col padding">
                  <span class="col-title">{{__ "answers.Global average"}}</span> <span
                    class="badge badge-positive">{{totalEvaluation.totalArray}} / 5
                  </span>
                  {{#if totalEvaluation.nombreVote}}
                    <p><small>({{totalEvaluation.nombreVote}} {{__ "answers.evaluation"}})</small></p>
                  {{/if}}
                </div>
              </div>

            {{/if}}
          {{/with}}

        {{else}}

          <div class="item text-center">
            {{__ "No results"}}
          </div>

        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="scopeItemListAnswer">
  {{#with answer}}
    <div class="item item-content {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}}">
      {{#if profilThumbImageUrl}}
        <img data-src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <h2><a
          href="{{pathFor 'answersDetailOrga' orgaCibleId=orgaCibleId _id=../scopeParentId scope=../scopeParentVar answerId=_id.valueOf}}"
          class="dark">{{answers.aapStep1.titre}}</a>
      </h2>
      {{#if answers.aapStep1.description}}
        <p>{{answers.aapStep1.description}}</p>
      {{/if}}

      <p><i class="fa fa-user"></i> {{__ "By"}} {{creatorProfile.name}} {{__ "On_date"}} <i class="fa fa-calendar"></i>
        {{createdFormat}}
      </p>
      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})<br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{formatEndDate}}
              ({{livestamp formatEndDateIso}}) <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{formatStartDate}}
            ({{livestamp formatStartDateIso}})
            <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} : {{duration}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

      {{#if answers.aapStep1.tags}}
        <p class="padding-top">
          {{#each answers.aapStep1.tags}}
            <span class="badge-simple badge-positive searchtag-js"><i class="icon-simple fa fa-tag"></i>{{this}}</span>
          {{/each}}
        </p>
      {{/if}}

      {{#if answers.aapStep1.urgency}}
        <p class="padding-top">
          {{#each answers.aapStep1.urgency}}
            {{#if equals this 'Urgent'}}
              {{#with priorityAnswersKey "urgency"}}
                <p class="padding-top">
                  <span class="badge-simple badge-{{color}} searchpriority-js"><i
                      class=" icon-simple {{icon}}"></i>{{__ tradKey}}</span>
                </p>
              {{/with}}
            {{/if}}
          {{/each}}
        </p>
      {{/if}}

      {{#if isArray status}}
        <p class="padding-top">
          {{#each status}}
            {{#with statusAnswersKey this}}
              <span class="badge-simple badge-{{color}} searchstatus-js"><i
                  class=" icon-simple {{icon}}"></i>{{__ status}}</span>
            {{/with}}
          {{/each}}
        </p>
      {{/if}}

      {{#if acceptation}}
        {{#with acceptationAnswersKey acceptation}}
          <p class="padding-top">
            <span class="badge-simple badge-{{color}} searchacceptation-js"><i
                class=" icon-simple {{icon}}"></i>{{__ tradKey}}</span>
          </p>
        {{/with}}
      {{/if}}

    </div>
  {{/with}}
</template>

<template name="searchAnswers">
  <label class="item item-input search">
    <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
    <input id="search" type="text" placeholder="{{__ 'search_answer_placeholder'}}" value="{{search}}"
      autocomplete="off">
    <button class="button button-clear {{#if sortActived}}button-positive{{/if}}" data-ion-modal="searchAnswersSort"><i
        class="icon fa fa-sort-alpha-asc"></i></button>
  </label>

  {{#if searchStatus}}
    <div class="item item-divider">
      {{__ "Filter by status"}}
    </div>
    {{#each statusAnswers}}
      <div class="item item-icon-left item-calm searchstatus-js">
        <i class="icon {{icon}}"></i> {{__ status}}
      </div>
    {{/each}}

  {{else if searchPriority}}
    <div class="item item-divider">
      {{__ "priority.Filter by priority"}}
    </div>
    {{#each priorityAnswers}}
      <div class="item item-icon-left item-calm searchpriority-js">
        <i class="icon {{icon}}"></i> {{__ tradKey}}
      </div>
    {{/each}}

  {{else if searchAcceptation}}
    <div class="item item-divider">
      {{__ "acceptation.Filter by acceptation"}}
    </div>
    {{#each acceptationAnswers}}
      <div class="item item-icon-left item-calm searchacceptation-js">
        <i class="icon {{icon}}"></i> {{__ tradKey}}
      </div>
    {{/each}}

  {{else if searchHelp}}
    <div class="item item-divider">
      {{__ "Filter answers"}}
    </div>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="#">
      <i class="icon fa fa-filter"></i> {{__ "by tags"}} <code>#</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="!">
      <i class="icon fa fa-filter"></i> {{__ "by status"}} <code>!</code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action=">">
      <i class="icon fa fa-filter"></i> {{__ "acceptation.by acceptation"}} <code>></code>
    </a>
    <a class="item item-dark item-icon-left searchfilter-js" data-action="~">
      <i class="icon fa fa-filter"></i> {{__ "priority.by priority"}} <code>~</code>
    </a>
  {{/if}}

</template>

<template name="searchAnswersSortItemToggle">
  <div class="item item-toggle">
    {{label}}
    <label class="toggle toggle-balanced">
      <input id="{{type}}.{{field}}" class="sort-checked-js" type="checkbox" checked="{{#if checked}}checked{{/if}}">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </div>
  {{#if checked}}
    <div class="item item-checkbox item-text-wrap">
      <label class="checkbox">
        {{#if fieldDesc}}
          <input type="checkbox" class="sort-desc-js" value="true" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox" checked="checked">
        {{else}}
          <input type="checkbox" class="sort-desc-js" value="false" id="{{type}}.{{field}}.checkbox"
            name="{{type}}.{{field}}.checkbox">
        {{/if}}
      </label>
      {{__ "descending sort"}}
    </div>
  {{/if}}
</template>

<template name="searchAnswersSort">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Sort"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Sort answers by"}} {{#each orderType 'answers'}}{{label}} {{/each}}
        </div>
        {{#each searchSort.answers}}
          {{> searchAnswersSortItemToggle label=label type=type field=field checked=checked fieldDesc=fieldDesc}}
        {{/each}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="scopeProjectsContributorsTemplate">
  {{> boutonProjectsContributors }}
  <div class="list">
    <div class="item item-divider">
      <i class="icon ion-ios-people"></i> {{__ "contributors"}} <span
        class="badge badge-dark">{{countContributors search}}</span>
    </div>

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input id="search" type="text" placeholder="{{__ 'Find a contributor'}}" value="{{search}}">
    </label>

    {{#each listContributors search}}
      <div class="item item-avatar item-button-right">
        {{> imgDoc}}
        <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a>
          {{#if ../isAdminContributor _id.valueOf}}<span class="positive">[ADMIN]</span>{{/if}}
        </h2>
        {{#if ../isAdmin}}
          <button
            class="button button-small button-icon {{#if ../isAdminContributor _id.valueOf}}project-contributors-admin-action-js{{else}}project-contributors-action-js{{/if}}"><i
              class="icon fa fa-cog"></i></button>
        {{else}}

        {{/if}}
      </div>
    {{/each}}
    {{#if dataReady}}
      {{#if isLimit (countContributors search)}}
        <div class="padding">
          <button id="showMoreResults" class="button button-block button-dark give-me-more">
            {{__ "more"}}...
          </button>
        </div>
      {{/if}}
    {{/if}}

  </div>
</template>

<template name="boutonProjectsContributors">

  {{#if equals 'projects' scopeVar}}

    <div class="button-bar bar-positive">
      {{#if isAdmin}}
        <a href="{{pathFor 'invitations' _id=_id.valueOf scope=scopeVar}}"
          class="button">{{> ionIcon icon="person-add"}}</a>
      {{else}}
        {{#if isMembers}}

        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="scopeProjectMilestonesTemplate">
  {{> boutonProjectMilestones }}
  <div class="list">
    <div class="item item-divider">
      <i class="icon fa fa-flag"></i> {{__ "Milestones"}} <span
        class="badge badge-dark">{{countMilestones status search}}</span>
    </div>

    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'ocecoProjectEdit' _id=_id.valueOf}}" class="button active"><i class="fa fa-plus"></i>
          {{__ "scope.Add a milestone"}}</a>
      </div>
    {{/if}}

    <div class="item tabs">
      <a class="tab-item {{#if equals selectsubview 'open'}}tab-item-active{{/if}} change-selectsubview-js"
        id="open">Ouvert <span class="positive">({{countMilestones 'open' search}})</span></a>
      <a class="tab-item {{#if equals selectsubview 'close'}}tab-item-active{{/if}} change-selectsubview-js"
        id="close">Fermé <span class="positive">({{countMilestones 'close' search}})</span></a>
      <a class="tab-item {{#if equals selectsubview 'all'}}tab-item-active{{/if}} change-selectsubview-js" id="all">Tous
        <span class="positive">({{countMilestones 'all' search}})</span></a>
    </div>

    {{#each item in listMilestones selectsubview search}}

      {{> milestoneItem milestone=item scope=this boutonsAction=boutonsAction}}

    {{else}}

      <div class="item text-center">
        {{__ "scope.No milestones on this project"}}
      </div>

    {{/each}}
  </div>
</template>

<template name="milestoneAssignActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Assigner jalon"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        {{#if dataReady}}

          {{>searchActions}}

          {{#each item in scope.listActionsCreator 'aFaire' 'todo' search searchSort 'noMilestone'}}

            {{> itemInputAction action=item boutonsAction=boutonsAction milestoneIdCible=milestoneId}}

          {{else}}

            <div class="item text-center">
              {{__ "No results"}}
            </div>

          {{/each}}

        {{else}}
          {{> loading}}
        {{/if}}

      </div>
    </div>
  {{/ionModal}}

</template>

<template name="milestoneMoveActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Move actions"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-text-wrap">{{__ "Move actions not completed"}}
          {{#if milestoneName}}
            {{{__ "scope.Move unfinished actions from milestoneName to another milestone" milestoneName=milestoneName}}}
          {{else}}
            {{__ "scope.Move unfinished actions to another milestone"}}
          {{/if}}
        </div>
        {{#each item in scope.listMilestones 'open' search}}
          {{#if nequals item.milestoneId milestoneId}}
            {{> milestoneItem milestone=item scope=scope boutonsAction=boutonsAction noBar=true oldMilestoneId=milestoneId}}
          {{else}}
            <div class="item item-assertive item-text-wrap text-center">
              {{__ "scope.No open milestones on this project where actions can be copied, please create a new milestone"}}
            </div>
          {{/if}}
        {{else}}

          <div class="item item-assertive item-text-wrap text-center">
            {{__ "scope.No milestones on this project"}}
          </div>

        {{/each}}

      </div>
    </div>
  {{/ionModal}}

</template>

<template name="milestoneItem">

  <div class="item {{#if projectName}} item-icon-left item-stable item-text-wrap{{else}}item-button-right{{/if}}">
    {{#if projectName}}
      <h2><i class="icon fa fa-flag"></i> <a
          href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar}}"
          class="positive">{{htmlToText scope.name}}</a> :
        {{{htmlToText milestone.name}}}
      </h2> {{#if countActions}}<span class="badge badge-dark">{{countActions}}</span>{{/if}}
    {{else}}
      <h2><a
          href="{{pathFor 'projectsMilestonesListActionsOrga' orgaCibleId=orgaCibleId _id=scope._id.valueOf scope=scope.scopeVar milestoneId=milestone.milestoneId}}"
          class="calm">{{milestone.name}}</a></h2>
      {{#unless noButton}}
        {{#if scope.isAdmin}}
          {{#if boutonsAction}}
            <div class="button {{boutonsAction.event}}"><i class="icon {{boutonsAction.icon}}"></i> </div>
          {{/if}}
        {{/if}}
      {{/unless}}
    {{/if}}
  </div>
  <div class="item {{#if projectName}}item-button-right{{/if}}">
    {{#if milestone.description}}
      <p>{{milestone.description}}</p>
    {{/if}}
    {{#if milestone.startDate}}
      <p>{{__ "schemas.global.startDate.label"}} : {{formatMilestoneDate milestone.startDate}}
        <strong>{{livestamp milestone.startDate}}</strong>
      </p>
    {{/if}}
    {{#if milestone.endDate}}
      <p>{{__ "schemas.global.endDate.label"}} : {{formatMilestoneDate milestone.endDate}}
        <strong>{{livestamp milestone.endDate}}</strong>
      </p>
    {{/if}}
    {{#if milestone.status}}
      <span class="badge-simple badge-{{badgeStatus milestone.status}}"><i class="icon fa fa-flag"></i>
        {{__ milestone.status}}</span>
    {{/if}}
    {{#if isEndDate}}
      <span class="badge-simple badge-assertive"><i class="icon fa fa-clock"></i> {{__ "Expired"}}</span>
    {{/if}}
    {{#if isNotStartDate}}
      <span class="badge-simple badge-royal"><i class="icon fa fa-clock"></i> {{__ "Upcoming"}}</span>
    {{/if}}
    {{#if isInProgress}}
      <span class="badge-simple badge-energized"><i class="icon fa fa-clock"></i> {{__ "In progress"}}</span>
    {{/if}}

    {{#if projectName}}
      {{#unless noButton}}
        {{#if scope.isAdmin}}
          {{#if boutonsAction}}
            <div class="button {{boutonsAction.event}}"><i class="icon {{boutonsAction.icon}}"></i> </div>
          {{/if}}
        {{/if}}
      {{/unless}}
    {{/if}}

    {{#unless noBar}}
      {{> scopeBoardActionsItem _id=scope._id.valueOf scope=scope.scopeVar label=(__ "Total") status="all" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill="progress-bar-fill-dark" noVisible="1"}}
      {{> scopeBoardActionsItem _id=scope._id.valueOf scope=scope.scopeVar label=(__ "done") status="done" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill="progress-bar-fill-balanced"}}
      {{> scopeBoardActionsItem _id=scope._id.valueOf scope=scope.scopeVar label=(__ "todo") status="todo" milestoneId=milestone.milestoneId classBar="progress-bar-stable" classFill=""}}
    {{/unless}}

  </div>
</template>

<template name="boutonProjectMilestones">

  {{#if equals 'projects' scopeVar}}

    <div class="button-bar bar-positive">
      {{#if isAdmin}}

      {{else}}
        {{#if isMembers}}

        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="scopeRoomsTemplate">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-university"></i> {{__ "rooms"}} {{name}} <span class="badge badge-dark">{{countRooms}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonRoomsTemplate data=this}}

    {{#transition in="zoomIn" out="bounceOut"}}
      {{#each item in listRooms}}
        <a class="item animated in out"
          href="{{pathFor 'roomsDetail' _id=item.parentId scope=item.parentType roomId=item._id.valueOf}}">
          {{#if item.roles}}
            <h2><i class="icon fa fa-lock"></i> {{item.name}}</h2>
            <p>{{item.rolesJoin}}</p>
          {{else}}
            <h2><i class="icon fa fa-hashtag"></i> {{item.name}}</h2>
          {{/if}}
        </a>
      {{else}}

      {{/each}}
    {{/transition}}
  </div>
</template>

<template name="scopeEventsTemplateCopy">
  <div class="list">
    <div class="item item-divider homestead">
      <i class="icon fa fa-calendar"></i> {{__ "events"}} {{name}} <span
        class="badge badge-dark">{{countEventsCreator}}</span>
    </div>
    {{> Template.dynamic template=scopeBoutonEventsTemplate data=this}}

    {{> directoryList list=listEventsCreator isConnect="isAttendees" person=false scope="events"}}
  </div>
</template>

<template name="actionSheet">
  {{#if equals scopeVar 'events'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-events"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'projects'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-projects"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'organizations'}}
    {{#if isAdmin}}
      <a href="#" class="button button-positive action-card-organizations"><i class="icon fa fa-cog"></i></a>
    {{else}}

    {{/if}}
  {{else if equals scopeVar 'citoyens'}}
    {{#if isMe}}
      <a href="#" class="button button-positive action-card-citoyen"><i class="icon fa fa-cog"></i></a>
    {{/if}}
  {{/if}}
</template>

<template name="listCard">
  {{> scopeCard class="list card" scope=this}}
</template>

<template name="boutonCardactions">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'projects' scopeVar}}
        {{#if settingOceco.projectAction}}
          <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
          <a href="{{pathFor 'listActionsAgendaScopeOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}"
            class="button"><i class="fa fa-calendar"></i>
            {{__ "Calendar"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'events' scopeVar}}
        {{#if settingOceco.eventAction}}
          <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'organizations' scopeVar}}
        {{#if settingOceco.organizationAction}}
          <a href="{{pathFor 'usersView' _id=_id.valueOf}}" class="button"><i class="icon fa fa-tachometer-alt"></i></a>
          <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add action"}}</a>
          <a href="{{pathFor 'listActionsAgendaScopeOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}"
            class="button"><i class="fa fa-calendar"></i>
            {{__ "Calendar"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'citoyens' scopeVar}}
        <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
          {{__ "Add action"}}</a>
        <a href="{{pathFor 'listActionsAgendaScope' _id=_id.valueOf scope=scopeVar}}" class="button"><i
            class="fa fa-calendar"></i>
          {{__ "Calendar"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if settingOceco.memberAddAction}}
        {{#if equals 'projects' scopeVar}}
          {{#if settingOceco.projectAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
        {{#if equals 'events' scopeVar}}
          {{#if settingOceco.eventAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
        {{#if equals 'organizations' scopeVar}}
          {{#if settingOceco.organizationAction}}
            <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add action"}}</a>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

</template>

<template name="boutonCardnotes">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'projects' scopeVar}}
        {{#if settingOceco.projectNote}}
          <a href="{{pathFor 'notesEditor' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add note"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'organizations' scopeVar}}
        {{#if settingOceco.organizationNote}}
          <a href="{{pathFor 'notesEditor' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add note"}}</a>
        {{/if}}
      {{/if}}
      {{#if equals 'citoyens' scopeVar}}
        <a href="{{pathFor 'notesEditor' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
          {{__ "Add note"}}</a>
      {{/if}}
      <!-- {{ else if isMembreOrga}}
      {{#if settingOceco.memberAddAction}}
        {{#if equals 'projects' scopeVar}}
          {{#if settingOceco.projectNote}}
            <a href="{{pathFor 'notesEditor' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add note"}}</a>
          {{/if}}
        {{/if}}
        {{#if equals 'organizations' scopeVar}}
          {{#if settingOceco.organizationNote}}
            <a href="{{pathFor 'notesEditor' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
              {{__ "Add note"}}</a>
          {{/if}}
        {{/if}}
      {{/if}} -->
    {{/if}}
  </div>

</template>

<template name="boutonCardanswers">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
    {{/if}}
  </div>
</template>

<template name="boutonCardassess">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}

      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'forms' scopeVar}}

      {{/if}}
    {{/if}}
  </div>
</template>

<template name="boutonCardforms">
  <div class="button-bar bar-positive">
    {{#if isAdmin}}
      {{#if equals 'forms' scopeVar}}
        <a href="{{pathFor 'answersAdd' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}" class="button"><i
            class="fa fa-plus"></i>
          {{__ "answers.Add answer"}}</a>
      {{/if}}
      {{ else if isMembreOrga}}
      {{#if equals 'projects' scopeVar}}

      {{/if}}
      {{#if equals 'events' scopeVar}}

      {{/if}}
      {{#if equals 'organizations' scopeVar}}

      {{/if}}
    {{/if}}
  </div>

</template>

<template name="boutonCardevents">
  <div class="button-bar bar-positive">
    {{#if isAttendees}}
      <a href="{{pathFor 'listAttendees' _id=_id.valueOf}}" class="button">{{> ionIcon icon="ios-people"}}
        {{__ "attendees"}}</a>
      <a href="{{pathFor 'invitations' _id=_id.valueOf scope=scopeVar}}" class="button">{{> ionIcon icon="person-add"}}
        {{__ "Invite"}}</a>
      {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isAttendees classOff="button-small saveattendees-link" classOn="button-small disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "Participate")}}

    {{else}}
      {{#if isInviting 'attendees' currentUser._id}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else}}
        {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isAttendees classOff="button-small saveattendees-link" classOn="button-small disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "Participate")}}
      {{/if}}
    {{/if}}

    {{#if isAdmin}}
      <a href="{{pathFor 'messages' _id=_id.valueOf scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}
        {{__ "Message"}}</a>
    {{/if}}
  </div>

  {{#if isInviting 'attendees' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'attendees' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'attendees' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'attendees' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}
</template>

<template name="boutonCardorganizations">
  <div class="button-bar bar-positive">
    {{#if isChat}}
      {{#if isOneChat}}

        {{#if chatUrl}}
          {{#if isAdmin}}
            {{> chatRedirectLink}}
          {{else}}
            {{#if isContributors}}
              {{> chatRedirectLink}}
            {{/if}}
          {{/if}}
        {{/if}}

      {{else}}

        {{> chatPopoverLink}}

      {{/if}}

    {{else}}
      {{#if isAdmin}}
        {{> chatCreateLink}}
      {{/if}}
    {{/if}}
    {{#if isMembers}}
      {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
      {{#if isAdmin}}
        <a href="{{pathFor 'invitations' _id=_id.valueOf scope=scopeVar}}"
          class="button">{{> ionIcon icon="person-add"}}
          {{__ "Invite"}}</a>
        <a href="{{pathFor 'messages' _id=_id.valueOf scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}
          {{__ "Message"}}</a>
      {{/if}}
    {{/if}}
  </div>

  {{#if isInviting 'members' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'members' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'members' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'members' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}

</template>

<template name="boutonProjectorganizations">
  {{#if equals 'organizations' scopeVar}}
    <div class="button-bar bar-positive">
      {{#if isMembers}}
        {{#if isAdmin}}
          <a href="{{pathFor 'projectsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
            {{__ "Add project"}}</a>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="boutonCardprojects">
  <div class="button-bar bar-positive">
    {{#if isChat}}
      {{#if isOneChat}}

        {{#if chatUrl}}
          {{#if isAdmin}}
            {{> chatRedirectLink}}
          {{else}}
            {{#if isContributors}}
              {{> chatRedirectLink}}
            {{/if}}
          {{/if}}
        {{/if}}

      {{else}}
        {{> chatPopoverLink}}
      {{/if}}

    {{else}}
      {{#if isAdmin}}
        {{> chatCreateLink}}
      {{/if}}
    {{/if}}
    {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
    {{#if toBeValidated}}
      <button class="button button-small disabled">
        <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
      </button>
    {{else}}
      {{#if isInviting 'contributors' currentUser._id}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else if equals isAdminPending false}}
        <button class="button button-small disabled">
          <i class="icon fa fa-hourglass-half"></i> {{__ "Pending"}}
        </button>
      {{else}}
        {{#if isAdmin}}
          {{#if isAdminContributor}}
            {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isAdminContributor classOff="button connectscopeadmin-link-js" classOn="button button-stable disconnectscopeadmin-link-js" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Admin off") titleOn=""}}
          {{else}}
            {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isContributors classOff="connectscope-link" classOn="button-stable disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Contributor off") titleOn=(__ "button Contributor on")}}
            {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isAdminContributor classOff="connectscopeadmin-link-js" classOn="button-stable disconnectscopeadmin-link-js" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Admin off") titleOn=(__ "button Admin on")}}
          {{/if}}
          <a href="{{pathFor 'invitations' _id=_id.valueOf scope=scopeVar}}"
            class="button">{{> ionIcon icon="person-add"}}</a>
          <a href="{{pathFor 'messages' _id=_id.valueOf scope=scopeVar}}" class="button">{{> ionIcon icon="email"}}</a>
        {{else}}
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isContributors classOff="connectscope-link" classOn="button-stable disconnectscope-link" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Contributor off") titleOn=(__ "button Contributor on")}}
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isAdmin classOff="connectscopeadmin-link-js" classOn="button-stable disconnectscopeadmin-link-js" iconOff="fa fa-link" iconOn="fa fa-unlink" titleOff=(__ "button Admin off") titleOn=(__ "button Admin on")}}
        {{/if}}
      {{/if}}
    {{/if}}

  </div>

  {{#if isInviting 'contributors' currentUser._id}}
    {{#transition in="zoomIn" out="bounceOut"}}
      <div class="list">
        {{#with InvitingUser 'contributors' currentUser._id}}
          <div class="item item-text-wrap animated out">
            <p><a href="{{pathFor 'detailList' _id=invitorId scope=type}}" class="dark">{{invitorName}}</a>
              {{#if isAdmin}}
                {{__ "invited you to become an administrator"}}
              {{else}}
                {{__ "invited you"}}
              {{/if}}
            </p>
          </div>
        {{/with}}
        <div class="button-bar bar-clear">
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'contributors' currentUser._id) classOff="button-small disconnectscope-link" classOn="button-small validatescope-link" iconOff="fa fa-remove positive" iconOn="fa fa-check balanced" titleOff=""}}
          {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=(isInviting 'contributors' currentUser._id) classOff="button-small validatescope-link" classOn="button-small disconnectscope-link" iconOff="fa fa-check balanced" iconOn="fa fa-remove positive" titleOff=""}}
        </div>
      </div>
    {{/transition}}
  {{/if}}

</template>

<template name="boutonCardcitoyens">
  {{#if isMe}}
    <div class="button-bar bar-positive">
      <a href="{{pathFor 'actionsAdd' _id=_id.valueOf scope=scopeVar}}" class="button"><i class="fa fa-plus"></i>
        {{__ "Add action"}}</a>
    </div>
  {{else}}
    <div class="button-bar bar-positive">
      {{> boutonCard id=_id.valueOf scope=scopeVar isConnect=isFollowersMe classOff="followperson-link" classOn="button-stable unfollowscope-link" iconOff="fa fa-rss" iconOn="fa fa-rss-square"}}
    </div>
  {{/if}}
</template>

<template name="listCardevents">
  {{> boutonCardevents}}
  {{> listCard}}
</template>

<template name="listCardorganizations">
  {{> boutonCardorganizations}}
  {{> listCard}}
</template>

<template name="listCardprojects">
  {{> boutonCardprojects}}
  {{> listCard}}
</template>

<template name="listCardcitoyens">
  {{> boutonCardcitoyens}}
  {{> listCard}}
</template>

<template name="listCardforms">
  {{> boutonCardforms}}
  {{> listCard}}
</template>

<template name="addMenuScopePopover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <div class="item item-divider homestead">
          <i class="icon fa fa-plus-circle"></i> {{__ "Add"}}
        </div>
        {{#if equals 'citoyens' scopeVar}}
        {{else if equals 'organizations' scopeVar}}
          <a href="{{pathFor 'projectsAdd' _id=scopeId scope=scopeVar}}" class="item project popover-backdrop"><i
              class="icon fa fa-lightbulb-o"></i> {{__ "a project"}}</a>
        {{else if equals 'projects' scopeVar}}
          <a href="{{pathFor 'eventsAdd' _id=scopeId scope=scopeVar}}" class="item event popover-backdrop"><i
              class="icon fa fa-calendar"></i> {{__ "a event"}}</a>
        {{else if equals 'events' scopeVar}}
          <a href="{{pathFor 'actionsAdd' _id=scopeId scope=scopeVar}}" class="item room popover-backdrop"><i
              class="icon fa fa-university"></i> {{__ "a cooperative space"}}</a>
        {{/if}}
      </div>
    </div>
  {{/ionPopover}}
</template>

<template name="_reportflag">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <button data-dismiss="" type="button" class="button button-clear">{{__ "Reset"}}</button>
      <h2 class="title">{{__ "Report abuse"}}</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-text-wrap item-divider">
          {{__ "WHY ARE YOU REPORTING THIS USER/CONTENT ?"}}
        </div>
        {{#if error}}
          <div class="item item-text-wrap animated shake homestead text-center">
            {{__ error}}
          </div>
        {{/if}}
        {{#autoForm id="reportFlag" schema=SchemasReportFlagRest type="method" meteormethod="addFlag" template="ionic" class="padding"}}
          {{> afQuickField name='reportReason' type='select-radio'}}
          {{> afQuickField name='reportMessage' type="textarea" label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}

          <div class="item item-text-wrap">
            {{__ "Your report will be sent to the network administrators, who will treat it in accordance with the general conditions of use"}}
            <span class="assertive">{{__ "All reports are final, you cannot cancel them"}}</span>
          </div>

          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "send report"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="_deletemyaccount">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <button data-dismiss="modal" type="button" class="button button-clear">{{__ "Reset"}}</button>
      <h2 class="title">{{__ "Delete my account"}}</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-icon-left item-assertive item-text-wrap item-divider">
          <span class="icon fa fa-warning"></span>
          {{__ "If you delete your account, all your personal information and messages will be deleted"}}
        </div>
        {{#if error}}
          <div class="item item-text-wrap animated shake homestead text-center">
            {{__ error}}
          </div>
        {{/if}}
        {{#autoForm id="deleteMyAccount" schema=SchemasDeleteMyAccountRest type="method" meteormethod="deleteMyAccount" template="ionic" class="padding"}}
          <div class="item item-text-wrap">{{__"You can add below why you want to delete your account"}}</div>
          {{> afQuickField name='reason' type='textarea' label-type='stacked' rows=8 autocorrect="off" spellcheck="false" autocapitalize="off"}}

          <div class="button-bar">
            <button type="submit" class="button button-assertive">{{__ "I confirm the deletion"}}</button>
          </div>
          <div class="button-bar">
            <button data-dismiss="modal" type="button" class="button button-dark">{{__ "no"}}</button>
          </div>
        {{/autoForm}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="_inviteattendeesEvent">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <button data-dismiss="modal" type="button" class="button button-clear">{{__ "Reset"}}</button>
      <h2 class="title">{{__ "Invite"}}</h2>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Send invite"}}
        </div>
        {{#if error}}
          <div class="item item-text-wrap animated shake homestead text-center">
            {{__ error}}
          </div>
        {{/if}}
        {{#autoForm id="inviteAttendeesEvent" schema=SchemasInviteAttendeesEventRest type="method" meteormethod="inviteattendeesEvent" template="ionic" class="padding"}}
          {{> afQuickField name='invitedUserName'}}
          {{> afQuickField name='invitedUserEmail'}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "send"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    </div>
  {{/ionModal}}
</template>