<template name="listContributors">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "contributors"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <div class="list">
          <div class="item item-divider">
            <i class="icon ion-ios-people"></i> {{__ "contributors"}} <span
              class="badge badge-dark">{{projects.countContributors}}</span>
          </div>

          {{#each projects.listContributors search}}
            <div class="item item-avatar item-button-right">
              {{> imgDoc}}
              <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
              {{#if isFollowsContributors _id.valueOf}}
                <button class="button button-positive unfollowperson-link">
                  <i class="icon fa fa-unlink"></i>
                </button>
              {{else}}
                <button class="button button-positive followperson-link">
                  <i class="icon ion-person-add"></i>
                </button>
              {{/if}}
            </div>
          {{/each}}
          {{#if dataReady}}
            {{#if isLimit (projects.countContributors search)}}
              <div class="padding">
                <button id="showMoreResults" class="button button-block button-dark give-me-more">
                  {{__ "more"}}...
                </button>
              </div>
            {{/if}}
          {{/if}}

        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="chatProjects">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Chat projects"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="content-stable"}}

      <div class="messages">
        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each message in messages}}
            <div class="message">
              <span>{{ message.text }}</span>
            </div>
            <div class="time">{{message.time}}</div>
          {{/each}}
        {{/transition}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>