<template name="assignUserDashboard">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Assign"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "Add to dashboard view"}} <span
            class="badge badge-dark">{{countMembers search}}</span>
        </div>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="Chercher un membre..." value="{{search}}">
        </label>

        {{#each listAssign search}}
          <div class="item item-avatar item-button-right">
            {{> imgDoc}}
            <h2><a href="{{pathFor 'detailList' _id=_id.valueOf scope='citoyens'}}" class="dark">{{name}}</a></h2>
            {{#if assignDash}}
              <button class="button button-dark unassigndashmember-js">
                <i class="icon fa fa-unlink"></i>
              </button>
            {{else}}
              <button class="button button-positive assigndashmember-js">
                <i class="icon ion-person-add"></i>
              </button>
            {{/if}}
          </div>
        {{/each}}

        {{#if dataReady}}
          {{#if isLimit (countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>