<template name="organizationsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Create a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="addOrganization" schema=SchemasOrganizationsRest type="method" meteormethod="insertOrganization" template="ionic"}}
            {{> organizationsFields}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "create"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="sousOrganizationsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{#if organization.isAdmin}}
          <div class="list" data-snap-ignore="true">
            <div class="item item-divider">
              Créer une sous-organisation
            </div>
            {{#if error}}
              <div class="card">
                <div class="item item-text-wrap animated shake homestead text-center">
                  {{__ error}}
                </div>
              </div>
            {{/if}}
            {{#autoForm id="addSousOrganization" schema=SchemasOrganizationsRest type="method" meteormethod="insertSousOrganization" template="ionic" class=""}}
              {{> organizationsFields roleAuto=true}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "create"}}</button>
                </div>
              </div>
            {{/autoForm}}
          </div>
        {{/if}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editOrganization" schema=SchemasOrganizationsRest type="method-update" meteormethod="updateOrganization" doc=organization template="ionic"}}
            {{> organizationsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "organizations"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a organization"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockOrganization" schema=blockSchema type="method-update" meteormethod="updateBlock" autosave=true doc=organization template="ionic"}}
              {{> organizationsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockOrganization" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=organization template="ionic"}}
              {{> organizationsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="organizationsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='email'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='fixe'}}
    {{> afQuickField name='mobile'}}
    {{> afQuickField name='fax'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "All users have the possibility to participate modify information"}}
      </div>
    </div>

    {{> afQuickField name='preferences'}}

  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name' label-type='placeholder'}}
    {{> afQuickField name='shortDescription' label-type='placeholder' rows=8}}
    {{#if update}}
      {{> afQuickField name='description' label-type='placeholder' rows=8}}
    {{/if}}
    {{> afQuickField name='type'}}
    {{#unless roleAuto}}
      {{> afQuickField name='role'}}
    {{/unless}}
    {{> afQuickField name='email'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='fixe'}}
    {{> afQuickField name='mobile'}}
    {{> afQuickField name='fax'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}

    {{/if}}
  {{/unless}}
</template>

<template name="ocecoEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Configuration</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            Configuration Oceco
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editOceco" schema=SchemasOrganizationsOcecoRest type="method-update" meteormethod="updateOcecoOpti" doc=oceco autosave=true template="ionic"}}

            {{#if ocecoMaitre}}
              {{> afQuickField name='oceco.creditOrgaMaitre'}}
            {{/if}}

            {{> afQuickField name='oceco.pole'}}
            {{> afQuickField name='oceco.organizationAction'}}
            {{> afQuickField name='oceco.projectAction'}}
            {{> afQuickField name='oceco.eventAction'}}
            {{> afQuickField name='oceco.commentsAction'}}
            {{> afQuickField name='oceco.autoCloserActionBot'}}
            {{#if currentFieldValue "oceco.autoCloserActionBot" autoCloserActionBot}}
              <div class="item item-assertive item-icon-left item-text-wrap">
                <i class="icon fa fa-warning"></i>
                {{__ "autoCloserActionBotWarning"}}
              </div>
            {{/if}}

            {{> afQuickField name='oceco.organizationNote'}}
            {{> afQuickField name='oceco.projectNote'}}

            {{> afQuickField name='oceco.spendView'}}

            {{> afQuickField name='oceco.spendNegative'}}

            {{#if currentFieldValue "oceco.spendNegative" spendNegative}}
              {{> afQuickField name='oceco.spendNegativeMax'}}
            {{/if}}

            {{> afQuickField name='oceco.memberAddAction'}}
            {{> afQuickField name='oceco.adminOrgaProjectAdminAuto'}}
            {{> afQuickField name='oceco.memberAuto'}}
            {{> afQuickField name='oceco.contributorAuto'}}
            {{> afQuickField name='oceco.attendeAuto'}}
            {{> afQuickField name='oceco.memberValidationInviteAuto'}}
            {{> afQuickField name='oceco.contributorValidationInviteAuto'}}
            {{> afQuickField name='oceco.agenda'}}

            {{#if ocecoMaitre}}
              {{#if currentFieldValue "oceco.creditOrgaMaitre" creditOrgaMaitre}}

              {{else}}
                {{> afQuickField name='oceco.subOrganization'}}
                {{#if currentFieldValue "oceco.subOrganization" subOrganization}}
                  {{> afQuickField name='oceco.subOrganizationsTxt'}}
                {{/if}}
              {{/if}}
            {{else}}

              {{> afQuickField name='oceco.subOrganization'}}
              {{#if currentFieldValue "oceco.subOrganization" subOrganization}}
                {{> afQuickField name='oceco.subOrganizationsTxt'}}
              {{/if}}

            {{/if}}

            {{> afQuickField name='oceco.milestonesProject'}}
            {{> afQuickField name='oceco.gitProject'}}
            {{> afQuickField name='oceco.organizationForms'}}

            {{> afQuickField name='oceco.notificationChat'}}
            {{> afQuickField name='oceco.membersAdminProjectAdmin'}}

            {{#if currentFieldValue "oceco.creditOrgaMaitre" creditOrgaMaitre}}

            {{else}}
              {{> afQuickField name='oceco.tibilletActive'}}

              {{#if currentFieldValue "oceco.tibilletActive" tibilletActive}}
                {{> afQuickField name='oceco.tibillet.apiKey'}}
                {{> afQuickField name='oceco.tibillet.server'}}
                {{> afQuickField name='oceco.tibillet.msgTransfert'}}
              {{/if}}

            {{/if}}

            {{> afQuickField name='oceco.costum.projects.form.geo'}}
            {{> afQuickField name='oceco.costum.events.form.geo'}}
            {{> afQuickField name='oceco.costum.actions.form.min'}}
            {{> afQuickField name='oceco.costum.actions.form.max'}}
            {{> afQuickField name='oceco.costum.actions.form.optionPodomoro'}}
            {{> afQuickField name='oceco.costum.actions.form.optionTask'}}
            {{> afQuickField name='oceco.costum.actions.form.tracking'}}
            {{> afQuickField name='oceco.costum.actions.form.detailInput'}}

            {{#if currentFieldValue "oceco.creditOrgaMaitre" creditOrgaMaitre}}

            {{else}}
              {{> afQuickField name='oceco.account'}}
            {{/if}}

            {{> afQuickField name='oceco.home'}}
            {{> afQuickField name='oceco.wallet'}}

            {{> afQuickField name='oceco.listingElementActions'}}
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>