<template name="testgeo">

</template>

<template name="headerTitleContext">
  <h1 class="title search-context-modal-js">{{#if title}}{{htmlToText title}}{{/if}}</h1>
</template>

<template name="headerTitleNotesContext">
  <h1 class="title search-context-notes-modal-js">{{#if title}}{{htmlToText title}}{{/if}}</h1>
</template>

<template name="cityTitle">
  {{#if city}} : {{city.name}}{{/if}}
</template>

<template name="scrollPrez">
  <div class="item item-light item-divider">{{#if icon}}<i class="icon {{icon}}"></i> {{/if}}{{title}}</div>

  <div class="item item-dark item-text-wrap">
    {{prez}}
  </div>

</template>

<template name="scrollBlock">
  <div
    class="item item-{{#if itemColor}}{{itemColor}}{{else}}stable{{/if}} {{#if avatar}}item-avatar{{/if}} {{itemClass}} item-button-right"
    style="{{#if colorTitle}}color:{{colorTitle}}{{/if}}">
    {{#if avatar}}
      {{> imgDoc profilThumbImageUrl=profilThumbImageUrl}}
      {{#if href}}
        <a href="{{href}}" class="dark">
          <h2 class="dark">{{#if title}}{{htmlToText title}}{{else}}Options{{/if}}</h2>
        </a>
      {{else}}
        <h2 class="dark" style="{{#if colorTitle}}color:{{colorTitle}}{{/if}}">
          {{#if title}}{{htmlToText title}}{{else}}Options{{/if}}
        </h2>
      {{/if}}
    {{else}}
      {{#if title}}{{#if iconTitle}}<i class="icon {{iconTitle}}"></i> {{/if}}{{title}}{{else}}Options{{/if}}
    {{/if}}
    {{#if scroll activeSearch}}
      <button class="button button-dark button-see-scroll-js">{{#if count}}<span class="padding-right">{{count}}</span>
        {{/if}}<i class="icon {{#if iconUp}}{{iconUp}}{{else}}ion-ios-arrow-up{{/if}}"></i></button>
    {{else}}
      <button class="button button-dark button-see-scroll-js">{{#if count}}<span class="padding-right">{{count}}</span>
        {{/if}}<i class="icon {{#if iconDown}}{{iconDown}}{{else}}ion-ios-arrow-down{{/if}}"></i></button>
    {{/if}}
  </div>
  {{#if scroll activeSearch}}
    {{> Template.contentBlock}}
  {{/if}}
</template>

<template name="scrollBlockClass">
  <div
    class="item item-{{#if itemColor}}{{itemColor}}{{else}}stable{{/if}} {{#if avatar}}item-avatar{{/if}} {{itemClass}} item-button-right">
    {{#if avatar}}
      {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}}
      {{#if href}}
        <a href="{{href}}" class="dark">
          <h2 class="dark">{{#if title}}{{htmlToText title}}{{else}}Options{{/if}}</h2>
        </a>
      {{else}}
        <h2 class="dark">{{#if title}}{{htmlToText title}}{{else}}Options{{/if}}</h2>
      {{/if}}
    {{else}}
      {{#if title}}{{#if icon}}<i class="{{icon}}"></i>{{/if}} {{title}}{{else}}Options{{/if}}
    {{/if}}
    {{#if scroll activeSearch}}
      <button class="button button-dark button-see-scroll-js">{{#if count}}<span class="padding-right">{{count}}</span>
        {{/if}}<i class="icon {{#if iconUp}}{{iconUp}}{{else}}ion-ios-arrow-up{{/if}}"></i></button>
    {{else}}
      <button class="button button-dark button-see-scroll-js">{{#if count}}<span class="padding-right">{{count}}</span>
        {{/if}}<i class="icon {{#if iconDown}}{{iconDown}}{{else}}ion-ios-arrow-down{{/if}}"></i></button>
    {{/if}}
  </div>

  <div class="{{#if scroll activeSearch}}show{{else}}hide{{/if}}">
    {{> Template.contentBlock}}
  </div>
</template>

<template name="pageNotFound">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Page not found"}} : </h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="item item-content item-icon-left assertive">
        <i class="icon fa fa-exclamation-circle"></i>
        404 - Page not found
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>