<template name='polesView'>

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{poleName}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="scroll-bg"}}
      {{#if dataReady}}
        <div class="list">
          {{>organizationList}}
          {{#each project in poleProjects2}}
            {{>projectList2 project=project}}
          {{/each}}
        </div>
      {{/if}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="organizationList">
  {{#if organizationActionsCount}}
    {{#scrollBlock title=(__ "Organization actions") count=organizationActions.count activeSearch=true}}
      {{#each action in organizationActions}}
        {{> itemInputAction action=action}}
      {{/each}}
    {{/scrollBlock}}
  {{/if}}
</template>

<template name="projectList2">

  {{#if settingOceco.pole}}

    <div class="item item-stable item-avatar item-content item-button-right">
      {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}}
      {{#if settingOceco.projectAction}}
        <a href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
          class="dark">
          <h2 class="dark">{{htmlToText project.name}}</h2>
        </a>
      {{else if settingOceco.eventAction}}
        <a href="{{pathFor 'eventsListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
          class="dark">
          <h2 class="dark">{{htmlToText project.name}}</h2>
        </a>
      {{else}}
        <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
          class="dark">
          <h2 class="dark">{{htmlToText project.name}}</h2>
        </a>
      {{/if}}

      {{#if scroll }}
        <button class="button button-dark button-see-event-js"> <span
            class="padding-right">{{projectActionsEventsCount project._id}}</span> <i
            class="icon ion-ios-arrow-up"></i></button>
      {{else}}
        <button class="button button-dark button-see-event-js"> <span
            class="padding-right">{{projectActionsEventsCount project._id}}</span> <i
            class="icon ion-ios-arrow-down"></i></button>
      {{/if}}
    </div>

  {{else}}
    {{#if projectGlobalCount project._id}}
      <div class="{{classesProject scroll}}">
        {{> imgDoc profilThumbImageUrl=project.profilThumbImageUrl}}

        {{#if settingOceco.projectAction}}
          <a href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
            class="{{classesProjectTitle scroll}}">
            <h2 class="{{classesProjectTitle scroll}}">{{htmlToText project.name}}</h2>
          </a>
        {{else if settingOceco.eventAction}}
          <a href="{{pathFor 'eventsListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
            class="dark">
            <h2 class="dark">{{htmlToText project.name}}</h2>
          </a>
        {{else}}
          <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=project._id.valueOf scope='projects'}}"
            class="dark">
            <h2 class="dark">{{htmlToText project.name}}</h2>
          </a>
        {{/if}}

        {{#if scroll }}
          <button class="button button-dark button-see-event-js"> <span
              class="padding-right">{{projectActionsCount project._id}}</span> <i
              class="icon ion-ios-arrow-up"></i></button>

        {{else}}
          <button class="button button-dark button-see-event-js"> <span
              class="padding-right">{{projectActionsCount project._id}}</span> <i
              class="icon ion-ios-arrow-down"></i></button>

        {{/if}}
      </div>
    {{/if}}
  {{/if}}

  {{#if scroll }}

    {{#if projectActionsCount project._id}}
      <div class="item item-stable">{{__ "Project actions"}} <span
          class="badge badge-dark">{{projectActionsCount project._id}}</span></div>
      {{#each action in projectActions project._id}}
        {{> itemInputAction action=action}}
      {{/each}}
    {{/if}}

    {{#if projectEventsCount project._id}}
      <div class="item item-stable">{{__ "Project events"}}<span
          class="badge badge-dark">{{projectEventsCount project._id}}</span></div>
      {{#each event in projectEvents project._id}}
        {{>eventsList2 item=event}}
      {{/each}}
    {{else}}
      {{#if settingOceco.pole}}
        <div class="item item-stable">
          {{__ "No upcoming event"}}
        </div>
      {{/if}}
    {{/if}}

  {{/if}}

</template>

<template name="eventsList2">

  {{#with item}}
    <div class="item {{#if profilThumbImageUrl}}item-thumbnail-left{{/if}} item-content item-button-right">
      {{#if profilThumbImageUrl}}
        <img src="{{urlImageCommunecter}}{{profilThumbImageUrl}}">
      {{/if}}
      <a href="{{pathFor 'actionsListOrga' orgaCibleId=orgaCibleId _id=_id.valueOf scope=scopeVar}}" class="positive">
        <h2 class="positive">{{name}}</h2>
      </a>

      {{#if typeValue}}
        <p>{{typeValue}}</p>
      {{/if}}

      {{#if organizerEvent}}
        <p>{{__ "Project"}} :
          {{#each organizerItem in organizerEvent}}
            {{#each organizerItemValue in organizerItem.values}}
              <a href="{{pathFor 'detailListOrga' orgaCibleId=orgaCibleId _id=organizerItemValue._id.valueOf scope=organizerItem.type}}"
                class="positive">{{htmlToText organizerItemValue.name}}</a>
            {{/each}}
          {{/each}}
        </p>
      {{/if}}

      {{#if startDate}}
        <p>
          {{#if isStart}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-alarm-clock"></i> {{__ "end"}} : {{livestamp endDate}} <br>
              <i class="icon ion-android-time"></i> {{__ "duration"}} :
              {{diffInText startDate endDate}}<br>
            {{/if}}
          {{else}}
            <i class="icon ion-android-alarm-clock"></i> {{__ "start"}} : {{livestamp startDate}} <br>
            {{#if endDate}}
              <i class="icon ion-android-time"></i> {{__ "duration"}} :
              {{diffInText startDate endDate}}<br>
            {{/if}}
          {{/if}}
        </p>
      {{/if}}

      {{#if eventActionCount _id.valueOf}}

        {{#if scrollAction }}
          <button class="button button-small button-see-actions-js">{{__ "Hide_action_count" count=actionsCount.todo}}
            <i class="icon ion-ios-arrow-up"></i></button>
        {{else}}
          <button class="button button-small button-see-actions-js">{{__ "See_action_count" count=actionsCount.todo}}
            <i class="icon ion-ios-arrow-down"></i></button>
        {{/if}}

      {{/if}}
    </div>

  {{/with}}

  {{#if scrollAction }}
    <div class="item item-stable">{{__ "Event actions"}} <span
        class="badge badge-dark">{{eventActionCount item._id.valueOf}}</span></div>
    {{#each action in eventAction item._id.valueOf}}

      {{> itemInputAction action=action}}

    {{/each}}
  {{/if}}

</template>

<template name="itemAction">

  {{> itemInputAction action=action}}

</template>

<template name="itemInputActionTags">
  {{#if tags}}
    <p class="padding-top">
      {{#each tags}}
        <span class="badge-simple badge-positive searchtag-js"><i class="icon-simple fa fa-tag"></i>{{this}}</span>
      {{/each}}
    </p>
  {{/if}}
</template>

<template name="itemInputActionMilestone">
  {{#if milestone}}
    <p class="padding-top">
      <span class="badge-simple badge-calm searchmilestone-js"><i
          class="icon-simple fa fa-flag"></i>{{milestone.name}}</span>
    </p>
  {{/if}}
</template>

<template name="itemInputActionTasks">
  {{#if totalTask}}
    <p class="padding-top">
      <span class="badge-simple badge-positive"><i
          class="icon-simple fa fa-tasks"></i>{{totalChecked}}/{{totalTask}}</span>
    </p>
  {{/if}}
</template>

<template name="itemInputAction">
  <div
    class="item item-text-wrap {{#if action.contributorsPlusOne}}item-icon-left{{else}}{{#if action.avatarOneUserAction}}item-avatar{{else if action.contributorsOne}}item-icon-left{{/if}}{{/if}}  item-button-right action-modal-js">
    {{#if action.contributorsPlusOne}}
      <i class="icon fa fa-group positive"></i>
    {{else}}
      {{#if action.avatarOneUserAction}}
        {{> imgDoc profilThumbImageUrl=action.avatarOneUserAction}}
      {{else if action.contributorsOne}}
        <i class="icon fa fa-user positive"></i>
      {{/if}}
    {{/if}}
    <h2>
      {{#if action.commentCount}}
        <i class="fa fa-comment balanced"></i>
      {{/if}}
      {{#if equals viewScope 'citoyens'}}
        <a href="{{pathFor 'actionsDetail' _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
          class="dark {{#if dataContext}} close-modal-js{{/if}}">{{{htmlToText action.name}}}</a>
      {{else}}
        <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
          class="dark {{#if dataContext}} close-modal-js{{/if}}">{{{htmlToText action.name}}}</a>
      {{/if}}
      {{#if equals action.status 'disabled'}}
        <span class="badge badge-assertive">{{__ "Canceled"}}</span>
      {{else if equals action.status 'done'}}
        <span class="badge badge-balanced">{{__ "Finished"}}</span>
      {{/if}}
      {{#if settingOceco.costum.actions.form.tracking}}
        {{#if action.tracking}}
          <button href="" class="button button-clear button-energized button-small-clear tracking-js"><i
              class="icon fa fa-star"></i></button>
        {{else}}
          <button href="" class="button button-clear button-dark button-small-clear tracking-js"><i
              class="icon fa fa-star-o"></i></button>
        {{/if}}
      {{/if}}
    </h2>
    {{#if action.startDate}}
      <p>{{> actionDate action=action}}
        {{#if equals action.parentType 'events'}}
          {{#if action.min}}
            | <span
              class="{{#if action.isNotMin}}positive{{else}}balanced{{/if}} bold">{{action.countContributorsArray}}/{{#if action.max}}{{action.max}}{{else}}{{action.min}}{{/if}}</span>
          {{/if}}
        {{/if}}
      </p>
      {{#if viewParent}}
        <p><span class="positive bold">{{htmlToText action.parentScope.name}}</span></p>
      {{/if}}
    {{/if}}

    {{>itemInputActionTags tags=action.tags}}
    {{> itemInputActionMilestone milestone=action.milestone}}
    {{> itemInputActionTasks totalTask=action.totalTask totalChecked=action.totalChecked}}
    {{#unless boutonsAction}}
      {{#if displayDesc}}
        <div class="button display-desc-js"> <i class="icon ion-ios-arrow-up"></i> </div>
      {{else}}
        <div class="button display-desc-js"> <i class="icon ion-ios-arrow-down"></i> </div>
      {{/if}}
    {{else}}
      <div class="button {{boutonsAction.event}}"><i class="icon {{boutonsAction.icon}}"></i> </div>
    {{/unless}}

  </div>
  {{#if displayDesc}}
    <div class="item">

      <div div class="col ">
        {{#if action.creditPositive}}
          {{#if equals action.parentType 'citoyens'}}

          {{else}}
            {{#if action.credits}}
              <div class="row">
                <div class="col-10"><i class="icon ion-card"> </i></div>
                <div class="col">
                  {{{__ "You_will_earn_count_credit" count=action.credits}}}
                </div>
              </div>
            {{/if}}
          {{/if}}

        {{else}}
          {{#if equals action.parentType 'citoyens'}}

          {{else}}
            <div class="row">
              <div class="col-10"><i class="icon ion-card"> </i></div>
              <div class="col">
                {{__ "You_will_be_deducted_from_count_credit" count=action.creditNegative}}
              </div>
            </div>
          {{/if}}

        {{/if}}
        {{#if action.startDate}}
          <div class="row">
            <div class="col-10"> <i class="ion-android-calendar"></i></div>
            <div class="col">
              {{__ "Start_on_day" day=action.projectDay}}
            </div>
          </div>
        {{/if}}
        {{#if action.endDate}}
          <div class="row">
            <div class="col-10"><i class="ion-android-calendar"></i></div>
            <div class="col">
              {{__ "End_on_day" day=action.projectDayEnd}}
            </div>
          </div>
          <div class="row">
            <div class="col-10"><i class="ion-clock"></i></div>
            <div class="col">
              {{__ "Duration_in_hours" hours=action.actionStartFromEnd}}
            </div>
          </div>
        {{/if}}
        {{#if equals action.parentType 'citoyens'}}

        {{else}}
          <div class="row">
            <div class="col-10"><i class="ion-man"></i></div>
            <div class="col">
              {{__ "number_of_participant" count=action.actionParticipantsNbr}}
            </div>
          </div>
        {{/if}}

        {{#if action.min}}
          {{#if equals action.parentType 'citoyens'}}

          {{else}}
            <div class="row row-wrap">
              <div class="col-10"><i class="icon ion-ios-arrow-down"></i>
              </div>
              <div class="col item-text-wrap ">
                {{__ "minimum_participant" count=action.min}}
              </div>
            </div>
          {{/if}}

        {{/if}}
        {{#if action.max}}
          {{#if equals action.parentType 'citoyens'}}

          {{else}}
            <div class="row">
              <div class="col-10"><i class="icon ion-ios-arrow-up"></i></div>
              <div class="col">
                {{__ "maximum_participant" count=action.max}}
              </div>
            </div>
          {{/if}}
        {{/if}}
        {{#if action.commentCount}}
          <div class="row">
            <div class="col-10 balanced"><i class="icon fa fa-comment"></i></div>
            <div class="col"> <a
                href="{{pathFor 'actionsDetailCommentsOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
                class="dark action-modal-comment-js">{{__ "count_commentaire" count=action.commentCount}}</a>
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col-10 balanced"><i class="icon fa fa-comment"></i></div>
            <div class="col"> <a
                href="{{pathFor 'actionsDetailCommentsOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
                class="dark action-modal-comment-js">{{__ "count_commentaire" count=0}}</a></div>
          </div>
        {{/if}}
      </div>

      {{>buttonSubscribeAction action }}

    </div>
  {{/if}}

</template>

<template name="itemInputActionDetail">
  <div class="item">

    <div div class="col ">
      {{#if equals action.parentType 'citoyens'}}

        {{#if action.startDate}}
          <div class="row">
            <div class="col-10"> <i class="ion-android-calendar"></i></div>
            <div class="col">
              {{__ "Start_on_day" day=action.projectDay}}
            </div>
          </div>
        {{/if}}
        {{#if action.actionStartFromEnd}}
          <div class="row">
            <div class="col-10"><i class="ion-clock"></i></div>
            <div class="col">
              {{__ "duration"}} {{action.actionStartFromEnd}}
            </div>
          </div>
        {{/if}}

      {{else}}
        {{#if settingOceco.costum.actions.form.detailInput}}
          {{#if action.creditPositive}}
            {{#if action.credits}}
              <div class="row">
                <div class="col-10"><i class="icon ion-card"> </i></div>
                <div class="col">
                  {{{__ "You_will_earn_count_credit" count=action.credits}}}
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="row">
              <div class="col-10"><i class="icon ion-card"> </i></div>
              <div class="col">
                {{__ "You_will_be_deducted_from_count_credit" count=action.creditNegative}}
              </div>
            </div>
          {{/if}}
          {{#if action.startDate}}
            <div class="row">
              <div class="col-10"> <i class="ion-android-calendar"></i></div>
              <div class="col">
                {{__ "Start_on_day" day=action.projectDay}}
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="col-10"><i class="ion-clock"></i></div>
            <div class="col">
              {{__ "duration"}} {{action.actionStartFromEnd}}
            </div>
          </div>
          <div class="row">
            <div class="col-10"><i class="ion-man"></i></div>
            <div class="col">
              {{__ "number_of_participant" count=action.actionParticipantsNbr}}
            </div>
          </div>
          {{#if action.min}}
            <div class="row row-wrap">
              <div class="col-10"> <i class="icon ion-ios-arrow-down"></i></div>
              <div class="col item-text-wrap ">
                {{__ "minimum_participant" count=action.min}}
              </div>
            </div>
          {{/if}}
          {{#if action.max}}
            <div class="row">
              <div class="col-10"><i class="icon ion-ios-arrow-up"></i></div>
              <div class="col">
                {{__ "maximum_participant" count=action.max}}
              </div>
            </div>
          {{/if}}
        {{else}}

        {{/if}}

      {{/if}}

    </div>
  </div>
  {{>buttonSubscribeAction action }}

</template>

<template name="buttonSubscribeAction">

  {{#if isContributors}}
    {{isCallChange}}
    <div class="item col col-center text-center">
      {{#if equals status 'todo'}}
        {{#if isEndDate}}
          <span class="assertive"><i class="fa fa-hourglass-end"></i> {{__ "Finished"}}</span>
        {{else}}
          {{#if isStartDate}}
            <span class="energized"><i class="fa fa-clock-o"></i>
              {{__ "dda.actions.youparticipatingaction"}}</span> {{#if timeSpentEnd}}<br> {{__ "end"}}
              <strong>{{timeSpentEnd}}</strong>{{/if}}
          {{else}}
            <span class="balanced"><i class="fa fa-check"></i>
              {{__ "dda.actions.youparticipatingaction"}}</span> {{#if timeSpentStart}}<br> {{__ "begin"}}
              <strong>{{timeSpentStart}}</strong>{{/if}}
          {{/if}}
        {{/if}}
      {{else if equals status 'done'}}
        <span class="balanced"><i class="fa fa fa-check"></i> {{__ "Finished"}}</span>
      {{else if equals status 'disabled'}}
        <span class="assertive"><i class="fa fa-warning"></i> {{__ "Canceled"}}</span>
      {{/if}}
    </div>
  {{else}}
    {{#if equals status 'todo'}}
      {{#if isAFaire}}
        {{#if isEndDate}}
          <div class="item col col-center text-center">
            <span class="assertive"><i class="fa fa-hourglass-end"></i> {{__ "Finished"}}</span>
          </div>
        {{else}}
          {{#if isStartDate}}
            <div class="item col col-center text-center">
              <span class="energized"><i class="fa fa-clock-o"></i> {{__ "In progress"}}</span>
              {{#if timeSpentEnd}}<br> {{__ "end"}} <strong>{{timeSpentEnd}}</strong>{{/if}}
            </div>
          {{else}}
            {{#if isNotMax}}

              {{#unless startDate}}
                <div class="padding-top">
                  <form class="form-assignme-js">
                    <label for="" class="item item-input">
                      <span class="input-label">{{__ "schemas.actionsrest.startDate.label"}}</span>
                      <input type="datetime-local" name="startDate" value="{{startDateDefault}}">
                    </label>
                    <label for="" class="item item-input">
                      <span class="input-label">{{__ "schemas.actionsrest.endDate.label"}}</span>
                      <input type="datetime-local" name="endDate">
                    </label>
                    {{#if isCreditAddPorteur}}
                      <label for="" class="item item-input">
                        <span class="input-label">{{__ "Credits"}}</span>
                        <input type="number" name="credits" value="1">
                      </label>
                    {{/if}}
                    <button class="button button-block button-positive {{#if isCall}}disabled{{/if}}">
                      {{#if isCall}}
                        <i class="icon fa fa-refresh fa-spin"></i>
                      {{else}}
                        <i class="fa fa-handshake-o"></i>
                      {{/if}}
                      {{__ "dda.actions.wantparticipateaction"}}</button>
                  </form>
                </div>

              {{else}}

                {{#if isCreditAddPorteur}}
                  <div class="padding-top">
                    <form class="form-assignme-js">
                      {{#if isPossibleStartActionBeforeStartDate}}
                        <div class="item item-checkbox item-text-wrap">
                          <label class="checkbox">
                            <input type="checkbox" name="startAction">
                          </label>
                          {{__ "Start the action now"}}
                        </div>
                      {{/if}}
                      <label for="" class="item item-input">
                        <span class="input-label">Crédits</span>
                        <input type="number" name="credits" value="1">
                      </label>
                      <button class="button button-block button-positive {{#if isCall}}disabled{{/if}}">
                        {{#if isCall}}
                          <i class="icon fa fa-refresh fa-spin"></i>
                        {{else}}
                          <i class="fa fa-handshake-o"></i>
                        {{/if}}
                        {{__ "dda.actions.wantparticipateaction"}}</button>
                    </form>
                  </div>
                {{else}}
                  {{#if isPossibleStartActionBeforeStartDate}}
                    <div class="padding-top">
                      <form class="form-assignme-js">
                        <div class="item item-checkbox item-text-wrap">
                          <label class="checkbox">
                            <input type="checkbox" name="startAction">
                          </label>
                          {{__ "Start the action now"}}
                        </div>
                        <button class="button button-block button-positive {{#if isCall}}disabled{{/if}}">
                          {{#if isCall}}
                            <i class="icon fa fa-refresh fa-spin"></i>
                          {{else}}
                            <i class="fa fa-handshake-o"></i>
                          {{/if}}
                          {{__ "dda.actions.wantparticipateaction"}}</button>
                      </form>
                    </div>
                  {{else}}
                    <div class="button-bar bar-positive padding-top">
                      <button class="button action-assignme-js {{#if isCall}}disabled{{/if}}">
                        {{#if isCall}}
                          <i class="icon fa fa-refresh fa-spin"></i>
                        {{else}}
                          <i class="fa fa-handshake-o"></i>
                        {{/if}}
                        {{__ "dda.actions.wantparticipateaction"}}</button>
                    </div>
                  {{/if}}

                {{/if}}
              {{/unless}}

            {{else}}
              <div class="item col col-center text-center">
                <span class="balanced"><i class="fa fa-check"></i> {{__ "Already complete"}}</span>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}

      {{else}}
        {{#if isDepense}}
          {{#if isNotMax}}
            <div class="button-bar bar-balanced padding-top">
              <button class="button action-depenseme-js {{#if isCall}}disabled{{/if}}">
                {{#if isCall}}
                  <i class="icon fa fa-refresh fa-spin"></i>
                {{else}}
                  <i class="ion-card"></i>
                {{/if}}
                {{__ "Spent_count" count=credits}}</button>
            </div>
          {{else}}
            <div class="item col col-center text-center">
              <span class="balanced"><i class="fa fa-check"></i> {{__ "Already complete"}}</span>
            </div>
          {{/if}}
        {{/if}}

      {{/if}}
    {{else}}
      {{#if equals status 'done'}}
        <div class="item col col-center text-center">
          <span class="balanced"><i class="fa fa-check"></i> {{__ "Finished"}}</span>
        </div>
      {{else if equals status 'disabled'}}
        <div class="item col col-center text-center">
          <span class="assertive"><i class="fa fa-warning"></i> {{__ "Canceled"}}</span>
        </div>
      {{/if}}
    {{/if}}
  {{/if}}
</template>

<template name="actionDuration">
  <div class="col text-center col-center borderMenuItem stable-border"><i class="ion-clock"></i>
    {{action.projectDuration}}H
  </div>
  <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-card"></i>
    {{action.credits}}
    {{#if settingOceco.account}}
      {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
    {{else}}
      R
    {{/if}}
  </div>
</template>

<template name="actionParticipantNeeded">
  {{#if equals action.parentType 'citoyens'}}

  {{else}}
    {{#if action.min}}
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-man"></i>
        {{action.actionParticipantsNbr}}
      </div>
    {{/if}}
    {{#if action.min}}
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-ios-arrow-down"></i>
        {{action.min}}
      </div>
    {{/if}}
    {{#if action.max}}
      <div class="col text-center col-center borderMenuItem stable-border"><i class="icon ion-ios-arrow-up"></i>
        {{action.max}}
      </div>
    {{/if}}
  {{/if}}

</template>

<template name="actionDate">

  <span><i class="ion-android-calendar"></i>{{action.projectDayHour}}{{#if action.endDate}} -
      {{action.projectDayHourEnd}}{{/if}}</span>

</template>

<template name="linkForAction">
  <b><a
      href="{{pathFor 'actionsDetailOrga' orgaCibleId=orgaCibleId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}">{{{htmlToText action.name}}}</a>
  </b> <br>
</template>