<template name="detailActions">
  {{#contentFor "headerTitle"}}
    {{> headerTitleContext title=(__ "dda.actions.action") scope=scope}}
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}

        {{> Template.dynamic template="detailViewActions" data=scope}}

      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="detailActionsModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "dda.actions.action"}} :</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      {{#if dataReady}}

        {{> Template.dynamic template="detailViewActions" data=scope}}

      {{else}}
        <div class="list">
          {{> loading}}
        </div>
      {{/if}}

    </div>
  {{/ionModal}}

</template>

<template name="detailViewActions">
  {{#with room roomId}}
    {{#with action ../actionId}}
      <div class="list detailActionsDrop">
        {{> buttonsActions _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf status=status isCreator=isCreator isAdmin=../../isAdmin dataContext=../../dataContext}}

        <div class="item item-divider item-text-wrap">
          <h2><a href="{{pathFor 'detailList' _id=../../_id.valueOf scope=../../scopeVar}}"
              class="positive{{#if ../../dataContext}} close-modal-js{{/if}}">{{htmlToText ../../name}}</a> :
            {{{htmlToText name}}} {{#if numberId}}<span class="stable">#{{numberId}}</span> {{/if}}
            {{#if settingOceco.costum.actions.form.tracking}}
              {{#if tracking}}
                <a href="" class="energized padding tracking-js"><i class="fa fa-star"></i></a>
              {{else}}
                <a href="" class="dark padding tracking-js"><i class="fa fa-star-o"></i></a>
              {{/if}}
            {{/if}}
          </h2>

        </div>

        {{#if settingOceco.commentsAction}}

          {{#if equals parentType 'citoyens'}}
            <a href="{{pathFor 'actionsDetailComments' _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>
          {{else}}
            <a href="{{pathFor 'actionsDetailCommentsOrga' orgaCibleId=orgaCibleId _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>
          {{/if}}

        {{else}}
          {{#if equals parentType 'citoyens'}}

            <a href="{{pathFor 'actionsDetailComments' _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>

          {{/if}}
        {{/if}}

        <div class="item {{#if creatorProfile.profilThumbImageUrl}}item-avatar{{/if}}">
          {{#if creatorProfile.profilThumbImageUrl}}
            {{> imgDoc profilThumbImageUrl=creatorProfile.profilThumbImageUrl resized="80x80"}}
          {{/if}}
          <h2>
            {{__ 'author'}} : <a href="{{pathFor 'detailList' _id=creatorProfile._id.valueOf scope='citoyens'}}"
              class="dark{{#if ../../dataContext}} close-modal-js{{/if}}">{{creatorProfile.name}}</a>
          </h2>
        </div>

        {{#if answer}}
          <div class="item">
            <h2><i class="icon fa fa-inbox"></i> {{__ 'Answers'}} : <a
                href="{{pathFor 'answersDetailOrga' orgaCibleId=orgaCibleId _id=answer.form scope='forms' answerId=answerId}}"
                class="positive{{#if ../../dataContext}} close-modal-js{{/if}}">{{htmlToText ../../name}}</a></h2>
          </div>
        {{/if}}

        {{#if milestone}}
          <div class=" item item-icon-left item-text-wrap calm">
            <i class="icon fa fa-flag"></i>
            <h2><a
                href="{{pathFor 'projectsMilestonesListActionsOrga' orgaCibleId=orgaCibleId _id=../../_id.valueOf scope=../../scopeVar milestoneId=milestone.milestoneId}}"
                class="calm {{#if ../../dataContext}} close-modal-js{{/if}}">{{milestone.name}}</a></h2>
            {{#if milestone.description}}
              <p>{{milestone.description}}</p>
            {{/if}}
            {{#if milestone.startDate}}
              <p>{{__ "schemas.global.startDate.label"}}: {{formatMilestoneStartDate}}
                <strong>{{livestamp milestone.startDate}}</strong>
              </p>
            {{/if}}
            {{#if milestone.endDate}}
              <p>{{__ "schemas.global.endDate.label"}}: {{formatMilestoneEndDate}}
                <strong>{{livestamp milestone.endDate}}</strong>
              </p>
            {{/if}}
          </div>
        {{/if}}

        {{#if ../../isAdmin}}
          {{#if equals status 'todo'}}
            <div class="button-bar bar-dark">
              <button class="button button-small photo-link-action"><i class="icon ion-camera"></i> Ajouter
                Image</button>
              {{#unless isCordova}}
                <button class="button button-small doc-link-action"><i class="icon ion-document"></i> Ajouter
                  Document</button>
              {{/unless}}
            </div>
            {{> scopeFileUploadActions}}
          {{/if}}
        {{/if}}

        {{> statusActions status=status}}

        {{#if photoActionsAlbums}}
          <div class="item item-body" data-snap-ignore="true">
            {{#ionSlideBox}}
              {{#each photoActionsAlbums}}
                {{#ionSlide class="light-bg"}}
                  {{#if ../../../isAdmin}}
                    <button class="button button-small button-icon action-image-admin-js"><i
                        class="icon fa fa-cog"></i></button>
                  {{/if}}
                  <img src="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/{{name}}"
                    class="full-image photo-viewer" />
                {{/ionSlide}}
              {{/each}}
            {{/ionSlideBox}}
          </div>
        {{/if}}

        {{#if docActionsList}}
          {{#each docActionsList}}
            {{> doActionDocItem}}
          {{/each}}
        {{/if}}

        {{#if isActionDepense}}
          <div class="item item-text-wrap">
            <p>{{__ "dda.actions.spentstartenddate" start=formatStartDate  end=formatEndDate}},
              {{__ "dda.actions.endofaction"}} <strong>{{livestamp endDate}}</strong>
            </p>
          </div>
        {{else}}

          {{#if startDate}}
            <div class="item item-text-wrap">
              <p>
                {{#if endDate}}
                  {{__ "Action to be performed from start to end" start=formatStartDate end=formatEndDate}}
                  {{__ "dda.actions.endofaction"}} <strong>{{livestamp endDate}}</strong>
                {{else}}
                  {{__ "Action to be performed starting on the start" start=formatStartDate}}
                  <strong>{{livestamp startDate}}</strong>
                {{/if}}
              </p>
            </div>
          {{/if}}

        {{/if}}

        {{#if note}}
          {{#if nequals parentType 'citoyens'}}
            <a class="item item-stable item-icon-left"
              href="{{pathFor 'notesEditorOrga' orgaCibleId=orgaCibleId _id=note.parentId scope=note.parentType docId=note._id.valueOf}}">
              <i class="icon fa fa-sticky-note"></i> lier à une note
            </a>
          {{else}}
            <a class="item item-stable item-icon-left"
              href="{{pathFor 'notesEditor' _id=note.parentId scope=note.parentType docId=note._id.valueOf}}">
              <i class="icon fa fa-sticky-note"></i> {{__ "La description est lié à une note"}}
            </a>
          {{/if}}
        {{/if}}

        {{#if viewDescription}}
          <div class="item item-text-wrap ">
            {{#if note}}
              <p class="right-top animated in markdown-body">
                {{#markdown}}{{note.doc}}{{/markdown}}
              </p>
            {{else}}
              {{#if description}}
                <p class="right-top animated in markdown-body">
                  {{#markdown}}{{description}}{{/markdown}}
                </p>
              {{/if}}
            {{/if}}

            {{#if tags}}
              <p>
                {{#each tags}}
                  <a href="" class="positive search-tags-list-js"><i class="icon ion-pound"></i> {{this}}</a>
                {{/each}}
              </p>
            {{/if}}
            {{#if urls}}
              <p>
                {{#each urls}}
                  <span class="">{{{autolinker this}}}</span>
                {{/each}}
              </p>
            {{/if}}
          </div>
        {{/if}}

        {{> itemInputActionDetail action=this}}

      </div>

      {{#if settingOceco.costum.actions.form.optionTask}}
        <div class="list padding" data-snap-ignore="true">
          {{#if answerId}}
            <div class="item item-button-right item-stable"><i class="fa fa-tasks"></i> {{__ "Task list"}}
              <a href="{{pathFor 'answersDepenseTaskAddAction' orgaCibleId=orgaCibleId scope='forms' answerId=answerId actionkey=_id.valueOf redirect='action'}}"
                class="button button-positive"><i class="icon fa fa-plus"></i></a>
            </div>
          {{else}}
            <div class="item item-divider"><i class="fa fa-tasks"></i> {{__ "Task list"}}</div>
          {{/if}}
          {{#if ../../isAdmin}}
            {{#if equals status 'todo'}}
              {{> taskAdd}}
            {{/if}}
          {{/if}}
          {{> taskList}}
        </div>
      {{/if}}

      {{#if notCordova}}
        {{#if isMobile}}

        {{else}}
          {{#if settingOceco.costum.actions.form.optionPodomoro}}
            {{#if userNotTerminated}}
              {{#if equals status 'todo'}}
                <div class="list padding">
                  <div class="item item-divider"><i class="fa fa-user-clock"></i> {{__ "Your action pomodoro"}}
                    ({{pomodoroUserTotalTime heures}}) {{heures}}</div>
                  <div class="button-bar">
                    {{#if nequals statusPodomoroActual 'resting'}}
                      {{#if isPodomoroWorking}}
                        <button class="button button-energized button-small pause-js"><i class="icon fa fa-pause"></i>
                          {{__ "pause"}}</button>
                        <button class="button button-assertive button-small reset-js"><i class="icon fa fa-stop"></i>
                          {{__ "stop"}}</button>
                      {{else}}
                        <button class="button button-balanced button-small play-js"><i class="icon fa fa-play"></i>
                          {{__ "started"}}</button>
                      {{/if}}
                    {{else}}
                      <button class="button button-balanced button-small disabled"><i class="icon fa fa-coffee"></i>
                        {{__ "Rest time"}}</button>
                    {{/if}}
                  </div>

                  {{#if podomoroData}}
                    <div class="item">
                      {{#if podomoroSpentStart}}
                        {{podomoroSpentStart}}
                      {{/if}}
                      {{#if equals podomoroData.statusPodomoro 'working'}}
                        <span class="badge badge-balanced bold">{{__ podomoroData.statusPodomoro}}</span>
                      {{else if equals podomoroData.statusPodomoro 'paused'}}
                        <span class="badge badge-energized bold">{{__ podomoroData.statusPodomoro}}</span>
                      {{else if equals podomoroData.statusPodomoro 'pending'}}
                        <span class="badge badge-assertive bold">{{__ podomoroData.statusPodomoro}}</span>
                      {{else}}
                        <span class="badge badge-dark bold">{{__ podomoroData.statusPodomoro}}</span>
                      {{/if}}
                    </div>
                    {{#if podomoroData.completedPomodoros}}
                      <div class="item">
                        <i class="fa fa-history"></i> {{__ "Pomodoro finished"}}
                        <span class="badge badge-balanced">{{podomoroData.completedPomodoros}}</span>
                      </div>
                    {{/if}}

                  {{/if}}
                </div>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if nequals parentType 'citoyens'}}
        <div class="list padding">
          <div class="item item-divider">
            <i class="fa fa-group"></i> {{__ "dda.actions.theytakeaction"}}
          </div>
          {{#if equals status 'todo'}}
            {{#if ../../isAdmin}}
              <div class="button-bar bar-dark">
                <a href="{{pathFor 'messagesActions' _id=orgaCibleId scope='organizations' roomId=idParentRoom actionId=_id.valueOf}}"
                  class="button button-small {{#if ../../dataContext}} action-modal-message-js{{/if}}"><i
                    class="fa fa-envelope"></i> {{__ "Send an email to participants"}}</a>
              </div>
            {{/if}}
          {{/if}}

          {{#each contributor in listContributors}}
            <div class="item item-button-right {{#if contributor.profilThumbImageUrl}}item-avatar{{/if}}">
              {{#if contributor.profilThumbImageUrl}}
                {{> imgDoc profilThumbImageUrl=contributor.profilThumbImageUrl resized="80x80"}}
              {{/if}}
              <h2>
                <a href="{{pathFor 'detailList' _id=contributor._id.valueOf scope='citoyens'}}"
                  class="dark{{#if ../../dataContext}} close-modal-js{{/if}}">{{contributor.name}}</a>
              </h2>
              {{#if ../../isAdmin}}
                {{#unless answerId}}
                  {{#if userTovalidate contributor._id.valueOf}}

                    <div class="multi-buttons">
                      {{> adminButton class="button-stable admin-creditsdistributed-js" icon="icon fa fa-check balanced" user=contributor action=this}}
                      {{> adminButton class="button-stable admin-no-validation-js" icon="icon fa fa-remove positive" user=contributor action=this}}
                    </div>

                  {{else if userIsValidated contributor._id.valueOf}}
                    {{#if isCreditNeg}}
                      {{> adminButton class="button-clear button-assertive admin-rembourser-action-js" icon="icon fa fa-coins assertive" user=contributor action=this}}
                    {{else}}
                      <button class="button button-clear button-balanced" disabled><i
                          class="icon fa fa-check"></i></button>
                    {{/if}}
                  {{else if userIsNoValidated contributor._id.valueOf}}
                    <button class="button button-clear button-positive" disabled><i
                        class="icon fa fa-remove"></i></button>
                  {{else}}
                    <div class="multi-buttons">
                      {{> adminButton class="button-stable admin-sortir-action-js" icon="fa fa-user-times positive" user=contributor action=this}}
                      {{> adminButton class="button-stable admin-finish-action-js" icon="fa fa-user-check balanced" user=contributor action=this}}
                    </div>
                  {{/if}}
                {{/unless}}
              {{/if}}
            </div>
          {{else}}
            <div class="item">
              {{__ "dda.actions.noparticipants"}}
            </div>
          {{/each}}

        </div>
      {{/if}}

      {{#if settingOceco.commentsAction}}
        {{#if equals parentType 'citoyens'}}
          <div class="list">
            <a href="{{pathFor 'actionsDetailComments' _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>
          </div>
        {{else}}
          <div class="list">
            <a href="{{pathFor 'actionsDetailCommentsOrga' orgaCibleId=orgaCibleId _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>
          </div>
        {{/if}}
      {{else}}
        {{#if equals parentType 'citoyens'}}
          <div class="list">
            <a href="{{pathFor 'actionsDetailComments' _id=parentId scope=parentType roomId=idParentRoom actionId=_id.valueOf}}"
              class="item {{#if ../../dataContext}} action-modal-comment-js{{/if}}">
              <i class="icon fa fa-comments"></i> {{__ "dda.actions.discussion"}} <span
                class="badge badge-balanced">{{commentsCount}}</span>
            </a>
          </div>
        {{/if}}
      {{/if}}

    {{/with}}
  {{/with}}
</template>

<template name="buttonActionItem">
  <button class="button {{class}} {{#if isCall}}disabled{{/if}}" data-action="{{action}}">
    {{#if isCall}}
      <i class="icon fa fa-refresh fa-spin"></i> {{texte}}
    {{else}}
      <i class="{{icon}}"></i> {{texte}}
    {{/if}}
  </button>
</template>

<template name="buttonsActions">
  {{#if equals status 'todo'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small action-edit-modal-js"><i class="fa fa-pencil"></i></a>
        {{#if nequals scope 'citoyens'}}
          <a href="{{pathFor 'actionsAssign' _id=_id scope=scope roomId=roomId actionId=actionId}}"
            class="button button-small action-assign-modal-js"><i class="ion-ios-people"></i> {{__ "Assign"}}</a>
        {{/if}}

        {{> buttonActionItem action="disabled" texte="Annuler" icon="fa fa-times" class="button-small action-action-js"}}
        {{> buttonActionItem action="done" texte=(__ "dda.actions.buttons.close") icon="fa fa-thumbs-up" class="button-small action-action-js"}}
      </div>
    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small action-edit-modal-js"><i class="fa fa-pencil"></i></a>
        {{> buttonActionItem action="disabled" texte="Annuler" icon="fa fa-times" class="button-small action-action-js"}}
        {{> buttonActionItem action="done" texte=(__ "dda.actions.buttons.close") icon="fa fa-thumbs-up" class="button-small action-action-js"}}
      </div>
    {{/if}}
  {{else if equals status 'disabled'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        {{> buttonActionItem action="todo" texte="Réouvrir" icon="fa fa-door-open" class="button-small action-action-js"}}
      </div>
    {{else if isCreator}}

    {{/if}}
  {{else if equals status 'done'}}
    {{#if isAdmin}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small action-edit-modal-js"><i class="fa fa-pencil"></i></a>
        {{> buttonActionItem action="todo" texte="Réouvrir" icon="fa fa-door-open" class="button-small action-action-js"}}
      </div>

    {{else if isCreator}}
      <div class="button-bar bar-positive">
        <a href="{{pathFor 'actionsEdit' _id=_id scope=scope roomId=roomId actionId=actionId}}"
          class="button button-small action-edit-modal-js"><i class="fa fa-pencil"></i></a>
      </div>
    {{/if}}
  {{/if}}
</template>

<template name="statusActions">
  {{#if equals status 'todo'}}
    <div class="item">
      <strong class="positive">{{__ 'dda.actions.status.inprogress'}}</strong>
    </div>
  {{else if equals status 'disabled'}}
    <div class="item">
      <strong class="positive">{{__ 'dda.actions.status.disabled'}}</strong>
    </div>
  {{else if equals status 'done'}}
    <div class="item">
      <strong class="positive">{{__ 'dda.actions.status.completed'}}</strong>
    </div>
  {{/if}}
</template>

<template name="taskList">

  {{#if totalTask}}
    <div class="item">
      <div class="row">
        <div class="col col-20 col-center text-center">
          {{totalChecked}} / {{totalTask}}
        </div>
        <div class="col col-center text-center">
          <div class="progress-bar progress-bar-stable">
            <span class="progress-bar-fill progress-bar-fill-balanced"
              style="width: {{pourTaskChecked}}%;">{{pourTaskChecked}}%</span>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="tasks-container">
    {{#each task in filteredTasks}}
      {{> taskItem task=task action=this isAdmin=../../isAdmin}}
    {{/each}}
  </div>
</template>

<template name="taskItem">
  <div id="{{task.taskId}}" data-task-id="{{task.taskId}}" class="{{#unless isEditing}}item item-button-right item-checkbox item-text-wrap item-handle{{/unless}}">
    {{#if isEditing}}
    <label class="item item-input">
    <i class="icon fa fa-tasks placeholder-icon positive"></i>
      <input type="text" class="edit-task-input-js" value="{{task.task}}">
              <button type="submit" class="button button-icon dark button-edit-task-js">
            <i class="icon fa fa-edit"></i>
        </button>
        </label>
    {{else}}

    {{#if isAdmin}}
    <i class="handle-icon task-handle icon fa fa-bars"></i>
    {{/if}}
    

    <label class="checkbox">
      {{#if task.payed}}
        <input type="checkbox" class="" disabled="disabled" value="true" id="{{task.taskId}}" name="{{task.taskId}}"
          checked="checked">
      {{else}}
        {{#if task.checked}}
          <input type="checkbox" class="task-checked-js" value="true" id="{{task.taskId}}" name="{{task.taskId}}"
            checked="checked">
        {{else}}
          <input type="checkbox" class="task-checked-js" value="false" id="{{task.taskId}}" name="{{task.taskId}}">
        {{/if}}
      {{/if}}
    </label>
    <span class="{{#if task.checked}}text-crossedline{{/if}} item-text">{{task.task}}</span>


    {{#if task.credits}}
      {{#if task.payed}}
        <p>
          <span class="balanced"><i class="icon fa fa-check-circle"></i> {{task.credits}} €</span>
        </p>
      {{else}}
        <p>
          <span class="assertive">{{task.credits}} €</span>
        </p>
      {{/if}}
    {{/if}}

    {{#if task.checked}}
      {{#if taskCheckedUser task.checkedUserId}}
        <p>
          <span class="balanced"><i class="icon fa fa-user-check"></i> {{taskCheckedUser task.checkedUserId}}</span>
        </p>
      {{/if}}
    {{/if}}

    {{#if task.contributors}}
      {{#if taskContributor task.contributors}}
        <p>
          {{#each contributor in taskContributor task.contributors}}
            <span class="energized"><i class="icon fa fa-user-lock"></i> {{contributor.name}}</span>
          {{/each}}
        </p>
      {{/if}}
    {{/if}}

    {{#unless task.payed}}
      {{#if isAdmin}}
      {{#if isEditing}}

      {{else}}
        <button class="button button-small button-icon task-action-js"><i class="icon fa fa-cog"></i></button>
      {{/if}}
      {{else}}
        {{#unless task.checked}}
          {{#if action.isContributors}}
            {{#unless taskContributor task.contributors}}
              <button class="button button-small button-icon task-action-assignme-js"><i
                  class="icon fa fa-handshake-o"></i></button>
            {{else}}
              {{#if taskIsContributor}}
                <button class="button button-small button-icon task-action-unassignme-js"><i
                    class="icon fa fa-user-times positive"></i></button>
              {{/if}}
            {{/unless}}
          {{/if}}
        {{/unless}}
      {{/if}}
    {{/unless}}
  {{/if}}
  </div>
</template>

<template name="taskAdd">
  {{#unless answerId}}
    <form class="form-task-js">
      <label class="item item-input">
        <i class="icon fa fa-tasks placeholder-icon {{#if task}}positive{{/if}}"></i>
        <input id="task" name="task" type="text" placeholder="tâche..." value="{{task}}">
        <button type="submit" class="button button-icon dark {{#if isCall}}disabled{{/if}}">
          {{#if isCall}}
            <i class="icon fa fa-refresh fa-spin"></i>
          {{else}}
            <i class="icon fa fa-plus"></i>
          {{/if}}
        </button>
      </label>
    </form>
  {{/unless}}
</template>

<template name="actionsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "actions"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{>actionsAddForm action=action error=error}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="actionsAddForm">
  <div class="list" data-snap-ignore="true">
    <div class="item item-divider">
      {{__ "creating a new action"}}
    </div>
    {{#if error}}
      <div class="card">
        <div class="item item-text-wrap animated shake homestead text-center">
          {{__ error}}
        </div>
      </div>
    {{/if}}
    {{#autoForm id="addAction" schema=SchemasActionsRest type="method" meteormethod="insertAction" doc=action singleMethodArgument=true template="ionic"}}
      {{> actionsFields scope=action}}
      <div class="item">
        <div class="button-bar">
          <button type="submit" class="button button-dark">{{__ "create"}}</button>
        </div>
      </div>
    {{/autoForm}}
  </div>
</template>

<template name="actionsAddModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "actions"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      {{#if dataReady}}
        {{>actionsAddForm action=action error=error}}
      {{else}}
        {{> loading}}
      {{/if}}

    </div>
  {{/ionModal}}
</template>

<template name="actionsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "actions"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{>actionsEditForm action=action error=error}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="actionsEditForm">
  <div class="list" data-snap-ignore="true">
    <div class="item item-divider">
      {{__ "edit a action"}}
    </div>
    {{#if error}}
      <div class="card">
        <div class="item item-text-wrap animated shake homestead text-center">
          {{__ error}}
        </div>
      </div>
    {{/if}}
    {{#autoForm id="editAction" schema=SchemasActionsRest type="method-update" meteormethod="updateAction" doc=action singleMethodArgument=true template="ionic"}}
      {{> actionsFields editAction=true}}
      <div class="item">
        <div class="button-bar">
          <button type="submit" class="button button-dark">{{__ "edit"}}</button>
        </div>
      </div>
    {{/autoForm}}
  </div>
</template>

<template name="actionsEditModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "actions"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">

      {{#if dataReady}}
        {{>actionsEditForm action=action error=error}}
      {{else}}
        {{> loading}}
      {{/if}}

    </div>
  {{/ionModal}}
</template>

<template name="actionsFields">
  {{> afQuickField name='name' label-type='placeholder' autofocus=''}}

  {{#if isNote}}
    {{> afQuickField name='description' label-type='placeholder' disabled=true rows=8}}
    <div class="item item-icon-left item-text-wrap item-energized"><i
        class="icon fa fa-warning"></i>{{__ "The description is linked to a note you cannot modify it here, you must modify the note"}}
    </div>
  {{else}}
    {{> afQuickField name='description' label-type='placeholder' rows=8}}
  {{/if}}

  {{#if isCordova}}
    {{> afQuickField name='tagsText' label-type='placeholder' icon="fa fa-hashtag positive" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  {{else}}
    {{> afQuickField name='tagsText' label-type='placeholder' icon="fa fa-hashtag positive" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
  {{/if}}

  {{#unless isCreditAddPorteur}}
    {{#unless editAction}}
      {{#unless isScopeCitoyens}}
        {{#if scope.isAdmin}}
          {{#if isCordova}}
            {{> afQuickField name='assignText' label-type='placeholder' icon="fa fa-at positive" type="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
          {{else}}
            {{> afQuickField name='assignText' label-type='placeholder' icon="fa fa-at positive" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}
          {{/if}}
        {{/if}}
      {{/unless}}
    {{/unless}}
  {{/unless}}

  {{#unless isScopeCitoyens}}
    {{#if isMilestonesProject}}
      {{#if optionsMilestonesProject}}
        {{> afQuickField name='milestoneId' type='select' options=optionsMilestonesProject value=milestoneId}}
      {{/if}}
    {{/if}}
  {{/unless}}

  {{#if dataReadyParent}}
    {{#if equals parentType 'organizations' }}
      {{#if optionsParentId parentType}}
        {{> afQuickField name='parentId' type='select' options=(optionsParentId parentType) value=parentId}}
      {{/if}}
    {{/if}}
    {{#if equals parentType 'projects' }}
      {{#if optionsParentId parentType}}
        {{> afQuickField name='parentId' type='select' options=(optionsParentId parentType) value=parentId}}
      {{/if}}
    {{/if}}
  {{/if}}

  {{#if isScopeCitoyens}}

    {{#scrollBlockClass activeSearch=false}}

      <div class="item item-text-wrap item-divider">
        <i class="fa fa-calendar-alt"></i> {{__ "Start and end date"}}
      </div>

      {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
      {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
      {{#if isStartDate}}
        {{> afQuickField name='options.possibleStartActionBeforeStartDate'}}
      {{/if}}

      {{> afQuickField name='urls' class="urls-js"}}

    {{/scrollBlockClass}}

  {{else}}

    {{#scrollBlockClass activeSearch=false}}

      <div class="item item-text-wrap item-divider">
        <i class="fa fa-calendar-alt"></i> {{__ "Start and end date"}}
      </div>

      {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
      {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
      {{#if isStartDate}}
        {{> afQuickField name='options.possibleStartActionBeforeStartDate'}}
      {{/if}}

      {{> afQuickField name='urls' class="urls-js"}}

      {{#unless isCreditAddPorteur}}
        {{#if isMinMax}}
          <div class="item item-text-wrap item-divider">
            <i class="fa fa-users"></i> {{__ "Number of participants"}}
            <p>{{__ "minimum and maximum"}}</p>
          </div>

          {{#if settingOceco.costum.actions.form.min}}
            {{> afQuickField name='min' label-type='placeholder' icon="fa fa-greater-than-equal positive"}}
          {{/if}}

          {{#if settingOceco.costum.actions.form.max}}
            {{> afQuickField name='max' label-type='placeholder' icon="fa fa-less-than-equal positive"}}
          {{/if}}

          {{#if isPossiblecreditSharePorteur}}
            {{> afQuickField name='options.creditSharePorteur'}}
          {{/if}}

        {{/if}}

      {{/unless}}

      <div class="item item-text-wrap item-divider">
        <i class="fa fa-coins"></i> {{__ "Number of credits"}}
        <p>{{__ "that can be earned or spent"}}</p>
      </div>

      {{#unless isDepense}}
        {{> afQuickField name='options.creditAddPorteur'}}
      {{/unless}}

      {{#unless isCreditAddPorteur}}
        {{#if noUpdateCredits}}
          <div class="item item-assertive item-text-wrap">
            {{__ "There are already participants on this action, you can no longer modify the credits"}}
          </div>
          {{> afQuickField name='credits' readonly=true}}
        {{else}}
          {{> afQuickField name='credits'}}
        {{/if}}
      {{else}}

      {{/unless}}

    {{/scrollBlockClass}}

  {{/if}}

</template>

<template name="scopeFileUploadActions">
  <input type="text" id="hiddenPasteAreaAction" style="opacity: 0; position: absolute; top: -1000px;">
  <form>
    <input type="file" id="file-upload-action" accept="image/*"
      style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
  <form>
    <input type="file" id="file-doc-upload-action" multiple
      accept=" .pdf, .xls, .xlsx, .doc, .docx, .ppt, .pptx, .odt, .ods, .odp, .csv"
      style="display: block; opacity: 0;width:0px;height:0px;">
  </form>
</template>

<template name="fileInfoUpload">
  {{#each fileArray}}
    <div class="item">{{this}}</div>
  {{/each}}
</template>

<template name="doActionDocItem">
  <div class="item item-icon-left item-button-right positive">
    <a href="{{urlImageCommunecter}}/upload/{{moduleId}}/{{folder}}/{{name}}" class="positive download-doc-direct-js"><i
        class="icon ion-android-download"></i>{{name}} <span class="badge badge-positive">{{formatBytes size}}</span>
    </a>
    {{#if ../../../isAdmin}}
      <button class="button button-small button-icon action-doc-admin-js"><i class="icon fa fa-cog"></i></button>
    {{/if}}
  </div>
</template>

<template name="shareId">
  <label type="placeholder" for="" placeholderonly="true" class="item item-input">
    <i class="icon fa fa-hashtag dark placeholder-icon"></i>
    <input type="text" placeholder="" name="shareid" value="{{_id.valueOf}}">
  </label>
</template>