<template name="projectsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "Create a project"}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addProject" schema=SchemasProjectsRest type="method" meteormethod="insertProject" template="ionic"}}
          {{> projectsFields}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="projectsEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a project"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editProject" schema=SchemasProjectsRest type="method-update" meteormethod="updateProject" doc=project template="ionic"}}
            {{> projectsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="projectsBlockEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "project" count=2}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a project"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockProject" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=project autosave=true template="ionic"}}
              {{> projectsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockProject" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=project template="ionic"}}
              {{> projectsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="projectsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='avancement'}}
    {{> afQuickField name='url'}}
    {{> afQuickField name='email'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='tags'}}
  {{/if}}

  {{#if equals block 'when'}}
    {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "All users have the possibility to participate modify information"}}
      </div>
    </div>
    {{> afQuickField name='preferences.isOpenData'}}
    {{> afQuickField name='preferences.isOpenEdition'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name' label-type='placeholder'}}

    {{#if update}}
      {{> afQuickField name='shortDescription' label-type='placeholder' rows=8}}
      {{> afQuickField name='description' label-type='placeholder' rows=8}}
    {{else}}
      {{> afQuickField name='description' label-type='placeholder' rows=8}}
    {{/if}}

    {{> afQuickField name='url'}}
    {{> afQuickField name='startDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate'  type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='public'}}

    {{> afQuickField name='tags'}}

    {{#if settingOceco.costum.projects.form.geo}}
      {{> afQuickField name='country' autocomplete="off" value=country }}
      {{#if currentFieldValue "country" country}}
        {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
        {{#if currentFieldValue "postalCode" postalCode}}
          {{#if optionsInsee}}
            {{> afQuickField name='city' options=optionsInsee value=city}}
            {{> afQuickField name='cityName' type="hidden" value=cityName}}
          {{else}}
            <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
              {{__ "Error not postal code match"}}
            </div>
          {{/if}}
        {{/if}}
        {{> afQuickField name='streetAddress' autocomplete="off"}}
        {{#if latlng}}
          {{> map}}
        {{/if}}
        {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
        {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
        {{> afQuickField name='regionName' type="hidden" value=regionName}}
        {{> afQuickField name='depName' type="hidden" value=depName}}
        {{> afQuickField name='localityId' type="hidden" value=localityId}}
      {{/if}}
    {{/if}}

    {{#if update}}
      {{> afQuickField name='preferences'}}
    {{/if}}
  {{/unless}}
</template>

<template name="ocecoProjectEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Configuration</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            Configuration jalon (milestone)
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editProjectOceco" schema=SchemasProjectsOcecoRest type="method-update"
    meteormethod="updateProjectOceco" doc=oceco template="ionic"}}

            {{> afQuickField name='oceco.milestones'}}

            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="ocecoProjectGitEdit">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Configuration"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-dark item-icon-left">
            <i class="icon fab fa-git"></i> {{__ "git.git setup for the project"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}

          {{#if oceco.oceco.git.webhookSecret}}
            <div class="item item-divider">
              <i class="icon fa fa-info"></i> {{__ "git.webhook Secret"}}
            </div>
            <label type="placeholder" for="" placeholderonly="true" class="item item-input">
              <input type="text" placeholder="" value="{{oceco.oceco.git.webhookSecret}}" disabled>
            </label>
          {{/if}}

          {{#if oceco.oceco.git.user}}
            <div class="item item-divider">
              <i class="icon fa fa-info"></i> {{__ "git.the identity of the user of to create a new issue"}}
            </div>
            <div class="item item-text-wrap">
              {{__ "git.it is the admin who configures git who becomes the creator of the actions related to the issues coming from git in webhook"}}
              : <strong>{{oceco.oceco.git.user.name}}</strong>
            </div>
          {{/if}}

          {{#autoForm id="editProjectGitOceco" schema=SchemasProjectsGitOcecoRest type="method-update" meteormethod="updateProjectGitOceco" doc=oceco template="ionic"}}

            {{#if equalFieldValue 'oceco.git.type' 'gitlab'}}
              <div class="item item-dark item-icon-left">
                <i class="icon fab fa-gitlab"></i> Gitlab
              </div>
              <div class="item item-text-wrap">
                Dans le projet sur gitlab il faut créer un access token pour le projet dans <br>
                <strong>project > setting > access token</strong>
                il faut en créer un <strong>sans date d'expiration</strong> avec le role <strong>owner</strong> et le
                scope <strong>api</strong>
                il faut copier le token dans project token attention le token n'est visible qu'aprés ça creation sur
                gitlab
              </div>
              <div class="item item-text-wrap">
                project id : on le trouve dans <strong>project > setting > general</strong><br>
                server : https://xxxxxxxx/api/v4 , l'url vers api gitlab
              </div>
              {{#if oceco.oceco.git.webhookSecret}}
                <div class="item item-text-wrap">
                  une fois les information rentrer on peut configurer le webhook car le webhook secret sera générer

                  il faut configurer un webhook dans <strong>project > setting > webhook</strong><br><br>

                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>url</strong>
                    </div>
                    <div class="col col-center user-text-select">
                      {{absoluteUrl "/api/hooks/gitlab"}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>Secret token</strong>
                    </div>
                    <div class="col col-center user-text-select">
                      {{#if oceco.oceco.git.webhookSecret}}
                        {{oceco.oceco.git.webhookSecret}}<br>
                      {{else}}
                        {{__ "not set"}}<br>
                      {{/if}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>trigger</strong>
                    </div>
                    <div class="col col-center">
                      cocher seulement <strong>issues events</strong>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/if}}

            {{#if equalFieldValue 'oceco.git.type' 'github'}}
              <div class="item item-dark item-icon-left">
                <i class="icon fab fa-github"></i> Github
              </div>
              <div class="item item-text-wrap">
                Dans les settings de votre user github il faut créer un <strong>"Personal access tokens"</strong> pour
                le projet dans <strong><a href="https://github.com/settings/tokens" class="positive"
                    target="_blank">Settings /
                    Developer
                    settings</a></strong>,
                il faut en créer un <strong>sans date d'expiration</strong> et avec le
                scope <strong>public_repo</strong> (<a
                  href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token"
                  class="positive" target="_blank">documentation</a>), et une fois le token générer
                il faudra le copier dans <strong>"project token"</strong> attention le token n'est visible qu'aprés ça
                creation sur
                github
              </div>
              <div class="item item-text-wrap">
                project id : on met le nom du repo
                server : https://api.github.com/repos/OWNER/ , l'url vers api github avec l'user ou l'organisation
              </div>
              {{#if oceco.oceco.git.webhookSecret}}
                <div class="item item-text-wrap">
                  une fois les information rentrer on peut configurer le webhook car le <strong>webhook secret</strong>
                  sera généré,

                  il faut configurer un webhook dans github sur le repo dans <strong>settings >
                    webhooks</strong><br><br>

                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>Payload URL</strong>
                    </div>
                    <div class="col col-center user-text-select">
                      {{absoluteUrl "/api/hooks/github/"}}{{oceco._id}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>Content type</strong>
                    </div>
                    <div class="col col-center user-text-select">
                      <strong>application/json</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>Secret</strong>
                    </div>
                    <div class="col col-center user-text-select">
                      {{#if oceco.oceco.git.webhookSecret}}
                        {{oceco.oceco.git.webhookSecret}}
                      {{else}}
                        {{__ "not set"}}<br>
                      {{/if}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>SSL verification</strong>
                    </div>
                    <div class="col col-center">
                      Enable SSL verification
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>Which events would you like to trigger this webhook?</strong>
                    </div>
                    <div class="col col-center">
                      cocher <strong>"Let me select individual events"</strong> et ensuite cocher seulement
                      <strong>"Issues"</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25 col-center">
                      <strong>trigger</strong>
                    </div>
                    <div class="col col-center">
                      cocher seulement <strong>issues events</strong>
                    </div>
                  </div>

                </div>
              {{/if}}
            {{/if}}

            {{> afQuickField name='oceco.git'}}

            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}

          {{#if oceco.oceco.git.type}}
            {{#if oceco.oceco.git.server}}
              {{#if oceco.oceco.git.projectToken}}
                {{#if oceco.oceco.git.projectId}}
                  {{> gitTestConnection oceco=oceco}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="gitTestConnection">
  <div class="item">
    <div class="button-bar">
      <button type="button" class="button button-positive {{#if isCall}}disabled{{/if}} test-api-git-js">
        {{#if isCall}}
          <i class="icon fa fa-refresh fa-spin"></i> {{__ "Tester api"}}
        {{else}}
          <i class="icon fab fa-{{oceco.oceco.git.type}}"></i> {{__ "Tester api"}}
        {{/if}}
      </button>
    </div>
  </div>
</template>