<template name='switch'>
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Organization OCECO"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="scroll-bg"}}

      {{#if citoyenScope.isSuperAdmin}}
        <a href="{{pathFor 'searchGlobal'}}" class="button button-positive button-block"><i class="icon fa fa-cog"></i>
          {{__ "Activate an organization in oceco"}}</a>
      {{/if}}
      {{> switchList}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="switchList">
  {{#if dataReady}}
    <div class="list">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search" type="text" placeholder="{{__ "search"}}" value="{{search}}">
      </label>
      {{#each orga in OrganizationsOceco }}
        {{> switchItem orga=orga}}
      {{else}}
      {{/each}}
    </div>
  {{/if}}
</template>

<template name="switchItem">
  <div
    class="item {{#if $eq orga.collection "notes"}}item-icon-left{{/if}} {{#if orga.profilThumbImageUrl}}item-avatar item-button-right{{else}}item-button-right{{/if}} cursor-pointer switchredirect-js"
    data-ion-menu-close>

    {{#if $neq orga.collection "notes"}}
      {{#if orga.profilThumbImageUrl}}
        {{> imgDoc profilThumbImageUrl=orga.profilThumbImageUrl}}
      {{/if}}
      {{else}}
      <i class="icon fa fa-sticky-note-o positive"></i>
    {{/if}}



    {{#if $eq orga.collection "organizations"}}
    {{orga.name}}
    {{/if}}

    {{#if $eq orga.collection "projects"}}
    <span class="calm">{{orga.name}}</span>
    {{/if}}

    {{#if $eq orga.collection "notes"}}
    <span class="positive">{{orga.name}}</span>
    {{/if}}


    <p>{{orga.shortDescription}}</p>
    <button class="button button-clear button-energized favorisorga-js">
      {{#if orga.ocecoFavoris}}<i class="icon fa fa-star"></i>{{else}}<i class="icon fa fa-star-o"></i>{{/if}}
      {{#if favoris}}
        {{>switchItemCount}}
      {{/if}}
    </button>

  </div>
</template>

<template name="switchListFavoris">
  {{#if dataReady}}
    <div class="list scroll">
      {{#if showTabs}}
        <div class="item item-divider">
          {{__ "favorites"}}
        </div>
        <div class="item tabs tabs-icon-bottom">
          <a class="tab-item {{tabItemActive 'all'}}" id="filterFavorisAll"><i class="icon fas fa-th"></i></a>
          
          {{#each tab in activeTabs}}
            <a class="tab-item {{tabItemActive tab}}" id="filterFavoris{{capitalizeFirstLetter tab}}">
              <i class="icon {{getTabIcon tab}}"></i>
            </a>
          {{/each}}
        </div>
      {{/if}}

      {{#each orga in OrganizationsOceco}}
        {{> switchItem orga=orga favoris=true}}
      {{else}}
      {{/each}}
    </div>
  {{/if}}
</template>


<template name="switchItemCount">
  {{#if countNotifaction}}
    <span class="badge-simple badge-positive">{{countNotifaction}}</span>
  {{/if}}
</template>