<template name="listEvents">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

    <button class="button button-clear icon ion-android-notifications brand-base-text-color pull-right all-seen"
      data-ion-menu-toggle="right">
      {{#transition in="bounceInDown" out="bounceOutUp"}}
        {{#if notificationsCount}}
          <div class="new-notification-bubble animated out">{{notificationsCount}}</div>
        {{/if}}
      {{/transition}}
    </button>

  {{/contentFor}}

  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content scroll-content has-header has-tabs">
        <div id="calendar"></div>
      </div>
    </div>
  {{/ionView}}

</template>

<template name="listActionsAgenda">
  {{#contentFor "headerTitle"}}
    {{> headerTitleContext title=(__ "agenda")}}
  {{/contentFor}}
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{>ionNavBackButton}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    {{#if isCitoyen}}
      <button class="button button-clear pull-right" data-ion-modal="icalCitoyenAction"><i
          class="icon ion-calendar"></i></button>
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    <div class="scroll-content ionic-scroll">
      <div class="content scroll-content has-header has-tabs">

        <label class="item item-input">
          <i class="icon ion-search placeholder-icon {{#if search}}positive{{/if}}"></i>
          <input id="search" type="text" placeholder="{{__ "Search"}}" value="{{search}}" autocomplete="off">
          <button class="button button-clear {{#if isTagsUnchecked}}button-positive{{/if}}"
            data-ion-modal="searchTags"><i class="icon fa fa-tag"></i></button>
             {{#unless isCitoyen}}
          <button class="button button-clear {{#if isJustMe}}button-positive{{/if}} isjusteme-js"><i class="icon fa fa-user"></i></button>
             {{/unless}}
        </label>

        <div id="calendarActions"></div>
      </div>
    </div>
  {{/ionView}}

</template>

<template name="searchTags">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "Tags"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">
        <div class="item item-divider">
          {{__ "Show actions by tags"}}
        </div>

        {{> searchNoTagsInput notag=notag}}

        {{#each tag in tags}}
          {{> searchTagsInput tag=tag}}
        {{/each}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="searchNoTagsInput">
  <div class="item item-checkbox item-text-wrap">
    <label class="checkbox">
      <input type="checkbox" name="tags.no-tags" id="tags.no-tags" class="selectnotag-js" value="no-tags"
        checked="{{#if notag}}checked{{/if}}">
    </label>
    {{__ "actions without tags"}}
  </div>
</template>

<template name="searchTagsInput">
  <div class="item item-checkbox item-text-wrap">
    <label class="checkbox">
      <input type="checkbox" name="tags.{{tag.tagId}}" id="tags.{{tag.tagId}}" class="selecttag-js" value="{{tag.tag}}"
        checked="{{#if tag.checked}}checked{{/if}}">
    </label>
    {{tag.tag}}
    <div class="badge badge-positive">
      {{tag.count}}
    </div>
  </div>
</template>

<template name="ical">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">ical</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{__ "Ical link"}}
        </div>

        <label type="placeholder" for="" placeholderonly="true" class="item item-input">
          <i class="icon fa fa-calendar-alt positive dark placeholder-icon"></i>
          <input type="text" placeholder="" name="icalurl"
            value="{{absoluteUrl}}ical/organizations/{{orgaCibleId}}/events" icon="fa fa-greater-than-equal positive">
        </label>
        <div class="item">
          <button id="copyical" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
            {{__ "Copy"}}</button>
        </div>
        <div class="item item-divider">
          {{__ "Download ics"}}
        </div>
        <div class="item">
          <a href="{{absoluteUrl}}ical/organizations/{{orgaCibleId}}/events" class="button button-block button-positive"
            target="_blank"><i class="fa fa-file-download"></i> {{__ "Download ics"}}</a>
        </div>
        {{#if isAdminOrga}}
          <div class="item">
            <a href="" class="button button-block button-positive ical-admin-js"><i class="fa fa-file-download"></i>
              {{__ "Download 12 month archive ics"}}</a>
          </div>
        {{/if}}

      </div>
    </div>
  {{/ionModal}}
</template>

<template name="icalCitoyenAction">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">ical</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      <div class="list">

        <div class="item item-divider">
          {{__ "Ical link"}}
        </div>

        {{#unless icalurl}}
          {{#if isTokenCreated}}
            <div class="item item-assertive item-icon-left item-text-wrap">
              <i class="icon fa fa-warning"></i>
              {{__"Attention you have already generated an ical link, if you generate a new one the previous one will no longer be valid"}}
            </div>
          {{/if}}
          <div class="item item-text-wrap">
            {{__ "Generate the token and the ical link for your actions, the link will only be visible once after being generated, there is only one valid link at a time"}}
          </div>
          <div class="item">
            <button type="button"
              class="button button-block button-positive {{#if isCall}}disabled{{/if}} generateToken-js">
              {{#if isCall}}
                <i class="icon fa fa-refresh fa-spin"></i>
                {{#if isTokenCreated}}{{__ "Regenerate link ical"}}{{else}}{{__ "Generate link ical"}}{{/if}}
              {{else}}
                <i class="icon fa fa-calendar-day"></i>
                {{#if isTokenCreated}}{{__ "Regenerate link ical"}}{{else}}{{__ "Generate link ical"}}{{/if}}
              {{/if}}
            </button>
          </div>
        {{else}}
          <div class="item item-assertive item-icon-left item-text-wrap">
            <i class="icon fa fa-warning"></i>
            {{__ "Attention the link is visible only once, otherwise it must be regenerated. but the old one will no longer be valid"}}
          </div>
          <label type="placeholder" for="" placeholderonly="true" class="item item-input">
            <i class="icon fa fa-calendar-alt positive dark placeholder-icon"></i>
            <input type="text" placeholder="" name="icalurl" value="{{icalurl}}"
              icon="fa fa-greater-than-equal positive">
          </label>
          <div class="item">
            <button id="copyical" class="button button-block button-positive"><i class="fa fa-file-copy"></i>
              {{__ "Copy"}}</button>
          </div>
          <div class="item">
            <button type="button"
              class="button button-block button-positive {{#if isCall}}disabled{{/if}} generateToken-js">
              {{#if isCall}}
                <i class="icon fa fa-refresh fa-spin"></i>
                {{#if isTokenCreated}}{{__ "Regenerate link ical"}}{{else}}{{__ "Generate link ical"}}{{/if}}
              {{else}}
                <i class="icon fa fa-calendar-day"></i>
                {{#if isTokenCreated}}{{__ "Regenerate link ical"}}{{else}}{{__ "Generate link ical"}}{{/if}}
              {{/if}}
            </button>
          </div>
        {{/unless}}
      </div>
    </div>
  {{/ionModal}}
</template>

<template name="eventsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        {{>eventsAddForm event=event error=error}}
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsAddForm">
  <div class="list" data-snap-ignore="true">
    <div class="item item-divider">
      {{__ "Create a event"}}
    </div>
    {{#if error}}
      <div class="card">
        <div class="item item-text-wrap animated shake homestead text-center">
          {{__ error}}
        </div>
      </div>
    {{/if}}
    {{#autoForm id="addEvent" schema=SchemasEventsRest type="method" meteormethod="insertEvent" doc=event template="ionic"}}
      {{> eventsFields event=event}}
      <div class="item">
        <div class="button-bar">
          <button type="submit" class="button button-dark">{{__ "create"}}</button>
        </div>
      </div>
    {{/autoForm}}
  </div>
</template>

<template name="eventsAddModal">
  {{#ionModal customTemplate=true}}
    <div class="bar bar-header bar-dark">
      <h2 class="title">{{__ "events"}}</h2>
      <button data-dismiss="modal" class="button button-icon"><i class="icon ion-ios-close-empty"></i></button>
    </div>
    <div class="content has-header overflow-scroll">
      {{#if dataReady}}
        {{>eventsAddForm event=event error=error}}
      {{else}}
        {{> loading}}
      {{/if}}

    </div>
  {{/ionModal}}
</template>

<template name="eventsEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#autoForm id="editEvent" schema=SchemasEventsRest type="method-update" meteormethod="updateEvent" doc=event template="ionic"}}
            {{> eventsFields update="1"}}
            <div class="item">
              <div class="button-bar">
                <button type="submit" class="button button-dark">{{__ "edit"}}</button>
              </div>
            </div>
          {{/autoForm}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsBlockEdit">

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right" data-ion-modal="shareUrl"><i class="icon ion-share"></i></button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "events"}}</h1>
  {{/contentFor}}

  {{#if dataReady}}
    {{#ionView}}
      {{#ionContent}}
        <div class="list" data-snap-ignore="true">
          <div class="item item-divider">
            {{__ "Edit a event"}}
          </div>
          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}
          {{#if equals block 'preferences'}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event autosave=true template="ionic"}}
              {{> eventsFields block=block}}
            {{/autoForm}}
          {{else}}
            {{#autoForm id="editBlockEvent" schema=blockSchema type="method-update" meteormethod="updateBlock" doc=event template="ionic"}}
              {{> eventsFields block=block}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">{{__ "edit"}}</button>
                </div>
              </div>
            {{/autoForm}}
          {{/if}}
        </div>
      {{/ionContent}}
    {{/ionView}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="eventsFields">
  {{#if equals block 'info'}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='type'}}
    {{> afQuickField name='url'}}
  {{/if}}

  {{#if equals block 'network'}}
    {{> afQuickField name='instagram'}}
    {{> afQuickField name='skype'}}
    {{> afQuickField name='github'}}
    {{> afQuickField name='twitter'}}
    {{> afQuickField name='facebook'}}
  {{/if}}

  {{#if equals block 'descriptions'}}
    {{> afQuickField name='shortDescription' type="textarea" label-type='placeholder' rows=8}}
    {{> afQuickField name='description' type="textarea" label-type='placeholder' rows=8}}
  {{/if}}

  {{#if equals block 'when'}}
    {{> afQuickField name='startDate' type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate' type="datetimepicker" opts=optsDatetimepicker}}
  {{/if}}

  {{#if equals block 'preferences'}}
    <div class="list card">
      <div class="item item-body">
        <strong>{{__ "Open Data"}}</strong> :
        {{__ "You offer your data in free access, in order to contribute to the common good"}}<br>
        <strong>{{__ "Open Edition"}}</strong> :
        {{__ "All users have the possibility to participate modify information"}}
      </div>
    </div>
    {{> afQuickField name='preferences.isOpenData'}}
    {{> afQuickField name='preferences.isOpenEdition'}}
  {{/if}}

  {{#if equals block 'locality'}}
    {{> afQuickField name='country' autocomplete="off" value=country }}
    {{#if currentFieldValue "country" country}}
      {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
      {{#if currentFieldValue "postalCode" postalCode}}
        {{#if optionsInsee}}
          {{> afQuickField name='city' options=optionsInsee value=city}}
          {{> afQuickField name='cityName' type="hidden" value=cityName}}
        {{else}}
          <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
            {{__ "Error not postal code match"}}
          </div>
        {{/if}}
      {{/if}}
      {{> afQuickField name='streetAddress' autocomplete="off"}}
      {{#if latlng}}
        {{> map}}
      {{/if}}
      {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
      {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
      {{> afQuickField name='regionName' type="hidden" value=regionName}}
      {{> afQuickField name='depName' type="hidden" value=depName}}
      {{> afQuickField name='localityId' type="hidden" value=localityId}}
    {{/if}}
  {{/if}}

  {{#unless block}}
    {{> afQuickField name='name' label-type='placeholder'}}

    {{#if update}}
      {{> afQuickField name='shortDescription' label-type='placeholder' rows=8}}
      {{> afQuickField name='description' label-type='placeholder' rows=8}}
    {{else}}
      {{> afQuickField name='description' label-type='placeholder' rows=8}}
    {{/if}}

    {{#if dataReadyOrganizer}}
      {{#if organizerType}}
        {{#if optionsOrganizerId organizerType}}
          {{> afQuickField name='organizerId' type='select' options=(optionsOrganizerId organizerType) value=organizerId}}
        {{/if}}
      {{/if}}
    {{/if}}

    {{> afQuickField name='type'}}
    {{> afQuickField name='startDate' type="datetimepicker" opts=optsDatetimepicker}}
    {{> afQuickField name='endDate' type="datetimepicker" opts=optsDatetimepicker}}

    {{#if settingOceco.costum.events.form.geo}}
      {{> afQuickField name='country' autocomplete="off" value=country }}
      {{#if currentFieldValue "country" country}}
        {{> afQuickField name='postalCode' value=postalCode autocomplete="off"}}
        {{#if currentFieldValue "postalCode" postalCode}}
          {{#if optionsInsee}}
            {{> afQuickField name='city' options=optionsInsee value=city}}
            {{> afQuickField name='cityName' type="hidden" value=cityName}}
          {{else}}
            <div class="item item-text-wrap assertive"><i class="icon ion-android-alert"></i>
              {{__ "Error not postal code match"}}
            </div>
          {{/if}}
        {{/if}}
        {{> afQuickField name='streetAddress' autocomplete="off"}}
        {{#if latlng}}
          {{> map}}
        {{/if}}
        {{> afQuickField name='geoPosLatitude' type="hidden" value=latitude}}
        {{> afQuickField name='geoPosLongitude' type="hidden" value=longitude}}
        {{> afQuickField name='regionName' type="hidden" value=regionName}}
        {{> afQuickField name='depName' type="hidden" value=depName}}
        {{> afQuickField name='localityId' type="hidden" value=localityId}}
      {{/if}}

      {{#if update}}
        {{> afQuickField name='preferences'}}
      {{/if}}
    {{/if}}
  {{/unless}}
</template>