<template name="ionTab">
  <a class="{{classes}} {{isActive}}" href="{{url}}" data-ion-tab>
    {{#if avatar}}
      {{> ionIcon avatar=avatar}}
      {{title}}
    {{else}}
      {{#if defaultIcon}}
        {{#if isActive}}
          {{> ionIcon icon=activeIcon}}
        {{else}}
          {{> ionIcon icon=defaultIcon}}
        {{/if}}
      {{/if}}

      {{title}}

      {{#if badgeNumber}}
        <div class="badge badge-{{badgeColor}}">
          {{badgeNumber}}
        </div>
      {{/if}}
    {{/if}}
  </a>
</template>