<template name="listMembers">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "members"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      <div class="list">

        {{#if organizations.isAdmin}}
          <div class="item item-divider">
            <i class="icon ion-ios-people"></i> {{__ "Member awaiting validation"}}
          </div>

          {{#each organizations.listMembersInvite}}
            <div class="item item-avatar {{#if organizations.isAdmin}}item-button-right{{/if}}">
              {{> imgDoc}}
              <h2>{{name}}
              </h2>
              {{#if organizations.isAdmin}}
                <button class="button button-small button-icon organization-members-validate-action-js"><i
                    class="icon fa fa-cog"></i></button>
              {{else}}

              {{/if}}
            </div>
          {{else}}
            <div class="item">
              {{__ "aucun membre en attente"}}
            </div>
          {{/each}}

        {{/if}}

        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{__ "members"}}
        </div>

        {{#if organizations.isAdmin}}
          <div class="button-bar bar-positive">
            <a href="{{pathFor 'invitations' _id=organizations._id.valueOf scope='organizations'}}"
              class="button">{{> ionIcon icon="person-add"}}
              {{__ "Invite"}}</a>
          </div>
          <div class="item item-button-right">
            <a class="positive"
              href="{{pathFor 'listHistoricCreditDetailOrga' orgaCibleId=organizations.maitreId}}">{{__ "Total in circulation on oceco"}}
              {{creditOrgaAllCount}} {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}</a>

            <a href="{{pathFor 'creditHistoryStats' orgaCibleId=organizations.maitreId}}"
              class="button button-positive historic-js"><i class="icon fa fa-line-chart"></i></a>
          </div>
        {{/if}}

        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="text" placeholder="{{__ 'Find a member'}}" value="{{search}}">
        </label>

        {{#each organizations.listMembers search}}
          <div class="item item-avatar {{#if organizations.isAdmin}}item-button-right{{/if}}">
            {{> imgDoc}}
            <h2><a
                href="{{pathFor 'listMembersDetailCitoyens' orgaCibleId=organizations.maitreId citoyenId=this._id.valueOf}}"
                class="dark">{{name}}</a> {{#if this.userCredit}}<span
                  class="badge badge-{{badgeColorTest this.userCredit}}">{{this.userCredit}}
                  {{#if settingOceco.account}}
                    {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
                  {{else}}
                    R
                  {{/if}}</span>{{/if}}

            </h2>
            {{#if organizations.isAdmin}}
              <button
                class="button button-small button-icon {{#if organizations.isAdmin _id.valueOf}}organization-members-admin-action-js{{else}}organization-members-action-js{{/if}}"><i
                  class="icon fa fa-cog"></i></button>
            {{else}}

            {{/if}}
            {{#if organizations.isAdmin}}{{#if organizations.isAdmin _id.valueOf}}<span
                  class="positive">[ADMIN]</span>{{/if}}{{/if}}
          </div>
        {{/each}}
        {{#if dataReady}}
          {{#if isLimit (organizations.countMembers search)}}
            <div class="padding">
              <button id="showMoreResults" class="button button-block button-dark give-me-more">
                {{__ "more"}}...
              </button>
            </div>
          {{/if}}
        {{/if}}
      </div>

    {{/ionContent}}
  {{/ionView}}

</template>

<template name="listMembersDetailCitoyens">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Historical"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          <i class="icon ion-ios-people"></i> {{citoyen.name}}<span class="badge badge-dark">{{countActions}}</span>
        </div>
        {{#if isAdminOrga}}
          <div class="item button-bar bar-positive">
            <a href="{{pathFor 'logUserActionsAdd' orgaCibleId=organizations._id.valueOf citoyenId=citoyen._id.valueOf}}"
              class="button button-positive"><i class="icon fa fa-plus"></i> {{__ "Add credit line"}}</a>
          </div>
        {{else}}
          {{#if settingOceco.membersAdminProjectAdmin}}
            {{#if isAdminRaf}}
              <div class="item button-bar bar-positive">
                <a href="{{pathFor 'logUserActionsAdd' orgaCibleId=organizations._id.valueOf citoyenId=citoyen._id.valueOf}}"
                  class="button button-positive"><i class="icon fa fa-plus"></i> {{__ "Add credit line"}}</a>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}

        {{#if settingOceco.tibilletActive}}
          {{#if equals citoyen._id.valueOf currentUser._id}}
            <div class="item button-bar bar-dark">
              <a href="{{pathFor 'transfertOcecoTibillet' orgaCibleId=organizations._id.valueOf}}"
                class="button button-dark"><i class="icon fa fa-exchange-alt"></i> {{__ "Tibillet card transfer"}}</a>
            </div>
          {{/if}}
        {{/if}}

        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each logUserActions}}
            <div class="item item-badge-right item-text-wrap animated out">

              <h2>
                {{#if action}}
                  <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=maitreId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
                    class="dark">{{action.name}}</a>
                  {{#if commentaire}}
                    <i class="fa fa-user-shield"></i> {{commentaire}}
                  {{/if}}
                {{else}}
                  <i class="fa fa-user-shield"></i> {{commentaire}}
                {{/if}}
                <span class="badge badge-{{badgeColorTest}}">{{credits}} {{#if settingOceco.account}}
                    {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
                  {{else}}
                    R
                  {{/if}}</span>
              </h2>
              <p><i class="ion-android-calendar"></i> {{formatCreatedDate}}</p>
            </div>
          {{/each}}
        {{/transition}}
      </div>

      {{#if dataReady}}
        {{#if isLimit countActions}}
          <div class="padding">
            <button id="showMoreResults" class="button button-block button-dark give-me-more">
              {{__ "more"}}...
            </button>
          </div>
        {{/if}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="listHistoricCreditDetailOrga">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Historical"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          {{organizations.name}}
        </div>

        {{#transition in="zoomIn" out="bounceOut"}}
          {{#each logUserActions}}
            <div class="item item-badge-right item-text-wrap animated out">

              <h2>
                {{#if action}}
                  <a href="{{pathFor 'actionsDetailOrga' orgaCibleId=maitreId _id=action.parentId scope=action.parentType roomId=action.idParentRoom actionId=action._id.valueOf}}"
                    class="dark">{{action.name}}</a>
                  {{#if commentaire}}
                    <i class="fa fa-user-shield"></i> {{commentaire}}
                  {{/if}}
                {{else}}
                  <i class="fa fa-user-shield"></i> {{commentaire}}
                {{/if}}
                <span class="badge badge-{{badgeColorTest}}">{{credits}} {{#if settingOceco.account}}
                    {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
                  {{else}}
                    R
                  {{/if}}</span>
              </h2>
              <p><i class="ion-android-calendar"></i> {{formatCreatedDate}}</p>
              {{#if citoyen}}
                <p><a href="{{pathFor 'listMembersDetailCitoyens' orgaCibleId=organization.maitreId citoyenId=userId}}"
                    class="positive">{{citoyen.name}}</a></p>
              {{/if}}
              {{#if subOrganizationId}}
                <p class="text-right">
                  <span class="positive">{{subOrganization.name}}</span>
                </p>
              {{/if}}
            </div>
          {{/each}}
        {{/transition}}
      </div>

      {{#if dataReady}}
        {{#if isLimit countActions}}
          <div class="padding">
            <button id="showMoreResults" class="button button-block button-dark give-me-more">
              {{__ "more"}}...
            </button>
          </div>
        {{/if}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="creditHistoryStats">
  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "credit history stats"}}</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list">
        <div class="item item-divider">
          {{organizations.name}}
        </div>

        <div class="row">
          <div class="col col-25 col-center text-center bold">mois/année</div>
          <div class="col col-25 col-center text-center bold">total gagner</div>
          <div class="col col-25 col-center text-center bold">total depenser</div>
          <div class="col col-25 col-center text-center bold">total</div>
        </div>
        {{#each LogOrgaMonthCredit}}

          <div class="row row-alternate">
            <div class="col col-25 col-center text-center">{{month}}/{{year}}</div>
            <div class="col col-25 col-center text-center">{{totalGagner}} {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}</div>
            <div class="col col-25 col-center text-center">{{totalDepenser}} {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}</div>
            <div class="col col-25 col-center text-center">{{total}} {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}</div>
          </div>

        {{/each}}
        {{#if totalAll}}
          <div class="row">
            <div class="col col-offset-25 col-25 col-center text-center bold">{{totalAll.totalGagner}}
              {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}
            </div>
            <div class="col col-25 col-center text-center bold">{{totalAll.totalDepenser}}
              {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}
            </div>
            <div class="col col-25 col-center text-center bold">{{totalAll.total}}
              {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}{{settingOceco.account.textUnite}}{{else}}R{{/if}}
              {{else}}
                R
              {{/if}}
            </div>
          </div>
        {{/if}}

      </div>

    {{/ionContent}}
  {{/ionView}}
</template>

<template name="logUserActionsAdd">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Add credit line"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{__ "Add credit line"}}
        </div>
        {{#if error}}
          <div class="card">
            <div class="item item-text-wrap animated shake homestead text-center">
              {{__ error}}
            </div>
          </div>
        {{/if}}
        {{#autoForm id="addLogUserActions" schema=SchemasLogUserActionsRest type="method" meteormethod="insertLogUserActions" singleMethodArgument=true template="ionic"}}
          {{> afQuickField name='credits'}}
          {{> afQuickField name='commentaire' label-type='stacked' rows=8}}
          <div class="item">
            <div class="button-bar">
              <button type="submit" class="button button-dark">{{__ "create"}}</button>
            </div>
          </div>
        {{/autoForm}}
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="transfertOcecoTibillet">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton}}
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}

  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{__ "Transfer your credits"}}</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="list" data-snap-ignore="true">
        <div class="item item-divider">
          {{#if settingOceco.account}}
            {{#if settingOceco.account.textUnite}}
              {{{__ "Transfer_your_credits_description" textUnite=settingOceco.account.textUnite count=(citoyen.creditsUserOrgaTotal orgaCibleId)}}}
            {{else}}
              {{{__ "Transfer_your_credits_description" textUnite="R" count=(citoyen.creditsUserOrgaTotal orgaCibleId)}}}
            {{/if}}
          {{else}}
            {{__ "Transfer your credits to a card"}}
          {{/if}}

        </div>
        {{#if settingOceco.tibilletActive}}

          {{#if settingOceco.tibillet.msgTransfert}}
            <div class="item item-stable item-item-text-wrap">
              {{settingOceco.tibillet.msgTransfert}}
            </div>
          {{/if}}

          {{#if error}}
            <div class="card">
              <div class="item item-text-wrap animated shake homestead text-center">
                {{__ error}}
              </div>
            </div>
          {{/if}}

          {{#if citoyen.creditsUserOrgaTotal orgaCibleId}}
            {{#autoForm id="transfertOcecoTibillet" schema=SchemasTibilletRest type="method" meteormethod="transfertOcecoTibillet" singleMethodArgument=true template="ionic"}}
              {{> afQuickField name='credits' min=1 max=(citoyen.creditsUserOrgaTotal orgaCibleId) step=1}}
              {{> afQuickField name='numberCarte'}}
              <div class="item">
                <div class="button-bar">
                  <button type="submit" class="button button-dark">
                    {{#if settingOceco.account}}
                      {{#if settingOceco.account.textUnite}}
                        {{__ "Transfer your textunit to a card" textUnite=settingOceco.account.textUnite}}
                      {{else}}
                        {{__ "Transfer your textunit to a card" textUnite="R"}}
                      {{/if}}
                    {{else}}
                      {{__ "Transfer credits"}}
                    {{/if}}
                  </button>
                </div>
              </div>
            {{/autoForm}}
          {{else}}
            <div class="item item-assertive">
              {{#if settingOceco.account}}
                {{#if settingOceco.account.textUnite}}
                  {{__ "You cannot make a transfer because you have no textUnite" textUnite=settingOceco.account.textUnite}}
                {{else}}
                  {{__ "You cannot make a transfer because you have no textUnite" textUnite="R"}}
                {{/if}}
              {{else}}
                {{__ "You cannot make a transfer because you have no textUnite" textUnite="R"}}
              {{/if}}
            </div>
          {{/if}}
        {{else}}
          <div class="item item-assertive">
            {{__ "Not active on this organization"}}
          </div>
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>